@using JJConsulting.Html.Bootstrap.Models
@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model RelationshipsElementDetailsViewModel
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IOptionsSnapshot<MasterDataWebOptions> Options
@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["Relationships"]}";
    Layout = Options.Value.ModalLayoutPath;
}

@section Scripts{
    <script type="text/javascript">
        function saveForm() {
            const form = document.querySelector('form');
            fetch('@Url.Action("SaveRelationshipElement", "Relationships")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(new FormData(form))
            })
            .then(response => response.json())
            .then(data => {
                if (data.success === true) {
                    window.parent.defaultModal.hide();
                    window.parent.location.reload();
                } else {
                    document.querySelector('#divError').innerHTML = data.errorMessage;
                }
            })
            .catch(error => {
                document.querySelector('#divError').innerHTML = error;
            });
        }
    
        function populateFkColumn() {
          SpinnerOverlay.show();
          document.querySelector('form').action = '@Url.Action("ElementDetails", "Relationships")';
          document.querySelector('form').submit();
        }
    </script>
}


@using (Html.BeginMasterDataForm())
{
    @Html.HiddenFor(m => m.ElementName)
    @Html.HiddenFor(m => m.Id)

    <div class="well">
        <div>
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-6">
                    <div class="form-floating">
                        <select asp-for="Relationship.ChildElement"
                                onchange="populateFkColumn()"
                                class="form-select"
                                asp-items="Model.ElementsSelectList">
                        </select>
                        <label asp-for="Relationship.ChildElement"></label>
                    </div>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3 required">
                    <div class="form-floating">
                        <select asp-for="Relationship.UpdateOnCascade" class="form-select">
                            <option value="false">@StringLocalizer["No"]</option>
                            <option value="true">@StringLocalizer["Yes"]</option>
                        </select>
                        <label asp-for="Relationship.UpdateOnCascade" ></label>
                    </div>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3 required">
                    <div class="form-floating">
                        <select asp-for="Relationship.DeleteOnCascade" class="form-select">
                            <option value="false">@StringLocalizer["No"]</option>
                            <option value="true">@StringLocalizer["Yes"]</option>
                        </select>
                        <label asp-for="Relationship.DeleteOnCascade" ></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <jj-title title="@StringLocalizer["Relationship"]" size="HeadingSize.H4"/>

    <div class="row">
        <div class="@BootstrapHelper.FormGroup col-sm-6 required">
            <div class="form-floating">
                <select asp-for="AddPrimaryKeyName"
                        class="form-select"
                        asp-items="Model.PrimaryKeysSelectList">
                </select>
                <label asp-for="AddPrimaryKeyName"></label>
            </div>
        </div>

        <div class="@BootstrapHelper.FormGroup col-sm-6 required">
            <div class="form-floating">
                <select asp-for="AddForeignKeyName"
                                  class="form-select"
                                  asp-items="Model.ForeignKeysSelectList">
                </select>
                <label asp-for="AddForeignKeyName"></label>
            </div>
        </div>


        <div class="col-sm-12">
            <validation-summary/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <link-button 
                asp-action="CreateRelationship"
                asp-controller="Relationships"
                icon="PlusCircle" 
                enabled="true"
                text="Add Relationship" 
                type="LinkButtonType.Submit" />
        </div>
    </div>
    <br/>
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">@StringLocalizer["Order"]</th>
            <th scope="col">@StringLocalizer["Primary Key"]</th>
            <th scope="col">@StringLocalizer["Foreign Key"]</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Relationship.Columns.Count > 0)
        {
            int index = 0;
            foreach (var item in Model.Relationship.Columns)
            {
                <tr>
                    <td>@index</td>
                    <td>
                        @item.PkColumn
                        @Html.HiddenFor(model => model.Relationship.Columns[index].PkColumn)
                    </td>

                    <td>
                        @item.FkColumn
                        @Html.HiddenFor(model => model.Relationship.Columns[index].FkColumn)
                    </td>
                    <td align="center" style="width:3.75rem;" valign="middle">
                        <link-button 
                            asp-action="DeleteRelationshipColumn"
                            asp-controller="Relationships"
                            asp-route-columnIndex="@index"
                            type="LinkButtonType.Submit"
                            icon="RegularTrashCan" 
                            tooltip="Delete" 
                            show-as-button="false" />
                    </td>
                </tr>
                index++;
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    @StringLocalizer["No data records found"]
                </td>
            </tr>
        }
        </tbody>
    </table>
    


    <div class="row">
        <div id="divError" class="col-sm-12">

        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm-12">
            <link-button icon="SolidXmark" text="@StringLocalizer["Cancel"]" on-client-click="window.parent.defaultModal.hide();"/>
            <link-button icon="Check" color="Primary" text="@StringLocalizer["Save"]" on-client-click="saveForm()"/>
        </div>
    </div>

    <br/>
    <br/>
}