@model JJMasterData.Web.Areas.DataDictionary.Models.EntityViewModel

<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        @Html.LabelFor(Model => Model.FormElement.Name, Translate.Key("Dictionary Name"),
        new Dictionary<string, string>
        {
            { BootstrapHelper.DataToggle, "tooltip" },
            { "title", Translate.Key("Dictionary Name") }
        })
        @Html.TextBoxFor((model=> model.FormElement.Name), Model.HtmlAttributes)
        
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
       @Html.LabelFor(Model => Model.FormElement.TableName, Translate.Key("Table Name"),
        new Dictionary<string, string>
        {
            { BootstrapHelper.DataToggle, "tooltip" },
            { "title", Translate.Key("Table Name") }
        })
       @Html.TextBoxFor(model => model.FormElement.TableName, Model.HtmlAttributes)
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
       @Html.LabelFor(Model => Model.FormElement.CustomProcNameGet, Translate.Key("Get Procedure Name"),
        new Dictionary<string, string>
        {
            { BootstrapHelper.DataToggle, "tooltip" },
            { "title", Translate.Key("Custom name for reading procedure") }
        })
       @Html.TextBoxFor(model => model.FormElement.CustomProcNameGet, Model.HtmlAttributes)
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6 ">
       @Html.LabelFor(Model => Model.FormElement.CustomProcNameSet, Translate.Key("Set Procedure Name"),
        new Dictionary<string, string>
        {
            { BootstrapHelper.DataToggle, "tooltip" },
            { "title", Translate.Key("Custom name for recording procedure") }
        })
       @Html.TextBoxFor(model => model.FormElement.CustomProcNameSet, Model.HtmlAttributes)
    </div>
</div>