@using JJMasterData.Web.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Web.Areas.DataDictionary.Models.EntityViewModel;

@inject RazorPartialRendererService RendererService;

<partial name="_Menu"></partial>

@{
    var dataDictionaryPanel = new JJCollapsePanel
    {
        Name = "dataDictionaryPanel",
        Title = Translate.Key("Data Dictionary"),
        HtmlContent = await RendererService.ToStringAsync("_DataDictionaryPanel", Model),
        ExpandedByDefault = true
    };
}

@{
    var formPanel = new JJCollapsePanel
    {
        Name = "formPanel",
        Title = Translate.Key("Form"),
        HtmlContent = await RendererService.ToStringAsync("_FormPanel", Model),
        ExpandedByDefault = true
    };
}

@{
    var eventsPanel = new JJCollapsePanel
    {
        Name = "eventsPanel",
        Title = Translate.Key("Events"),
        HtmlContent = await RendererService.ToStringAsync("_EventsPanel", Model),
        ExpandedByDefault = true
    };
}




@using (Html.BeginForm("Edit", "Entity", FormMethod.Post))
{

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="@BootstrapHelper.DefaultButton btn-small">
                <span class="fa fa-check"></span>
                <span>&nbsp;@Translate.Key("Save")</span>
            </button>
            <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="location.href='@Url.Action("Index" ,new {dictionaryName = Model.DictionaryName})'">
                <span class="fa fa-times">
                </span>
                <span>&nbsp;@Translate.Key("Cancel")</span>
            </button>
        </div>
    </div>
    <br>

    @Html.Raw(dataDictionaryPanel.GetHtml())

    @Html.Raw(formPanel.GetHtml())

    if (Model.FormEvent != null)
    {
        @Html.Raw(eventsPanel.GetHtml())
    }
    
    <input asp-for="DictionaryName" hidden="hidden"/>

    <br />

    <div class="col-sm-12">
        @Html.Raw(Model.ValidationSummary?.GetHtml())
    </div>

    <br />
}


