@using JJMasterData.Web.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.EntityViewModel;

@inject RazorPartialRendererService RendererService;

<partial name="_Menu"/>

@using (Html.BeginForm("Edit", "Entity", FormMethod.Post))
{

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="@BootstrapHelper.DefaultButton btn-small">
                <span class="fa fa-check"></span>
                <span>&nbsp;@Translate.Key("Save")</span>
            </button>
            <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="location.href='@Url.Action("Index" ,new {dictionaryName = Model.DictionaryName})'">
                <span class="fa fa-times">
                </span>
                <span>&nbsp;@Translate.Key("Cancel")</span>
            </button>
        </div>
    </div>
    
    <br>
    
    <jj-collapse-panel title="@Translate.Key("Data Dictionary")"
                       partial="_DataDictionaryPanel" 
                       icon="Book"
                       expanded-by-default="true" 
                       model="Model"/>
    
    <jj-collapse-panel title="@Translate.Key("Form")"
                       partial="_FormPanel"
                       icon="FileO"
                       model="Model"
                       expanded-by-default="true"/>
    

    if (Model.FormEvent != null)
    {
        <jj-collapse-panel title="@Translate.Key("Events")"
                           partial="_EventsPanel" 
                           model="Model"
                           icon="Drupal"
                           expanded-by-default="true"/>
    }
    
    <input asp-for="DictionaryName" hidden="hidden"/>

    <br />

    <div class="col-sm-12">
        @Html.Raw(Model.ValidationSummary?.GetHtml())
    </div>

    <br />
}


