@using JJMasterData.Web.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using JJMasterData.Commons.Localization
@using JJMasterData.Core.Web
@using JJMasterData.Core.Web.Components
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.EntityViewModel;

@{
    ViewData["Title"] = $"{Model.DictionaryName} - Entity";
}

<partial name="_Menu"></partial>

@using (Html.BeginForm("Edit", "Entity", FormMethod.Post))
{
    <input asp-for="MenuId" hidden/>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="@BootstrapHelper.DefaultButton btn-small">
                <span class="fa fa-check"></span>
                <span>&nbsp;@Translate.Key("Save")</span>
            </button>
            <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="location.href='@Url.Action("Index" ,new {dictionaryName = Model.DictionaryName})'">
                <span class="fa fa-times">
                </span>
                <span>&nbsp;@Translate.Key("Cancel")</span>
            </button>
        </div>
    </div>
    <br>

    <jj-collapse-panel  name="dataDictionary" icon="Book" title="@Translate.Key("Data Dictionary")" expanded-by-default="true">
        <partial name="_DataDictionaryPanel" model="Model"/>
    </jj-collapse-panel>

    <jj-collapse-panel name="formPanel" icon="AlignLeft" title="@Translate.Key("Form")" expanded-by-default="true">
        <partial name="_FormPanel" model="Model"/>
    </jj-collapse-panel>

    if (Model.FormEvent != null)
    {
        <jj-collapse-panel name="eventsPanel" icon="Bolt" title="@Translate.Key("Events")" expanded-by-default="true">
            <partial name="_EventsPanel" model="Model"/>
        </jj-collapse-panel>
    }
    <input asp-for="DictionaryName" hidden="hidden"/>

    <br />

    <div class="col-sm-12">
        @Html.Raw(Model.ValidationSummary?.GetHtml())
    </div>

    <br />
}


