@using JJMasterData.Web.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.EntityViewModel;

@inject RazorPartialRendererService RendererService;

<partial name="_Menu"/>


@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-12">
            <button name="action" type="button" onclick="location.href='@Url.Action("Edit", new { dictionaryName = Model.DictionaryName })'" class="@BootstrapHelper.DefaultButton btn-small">
                <span class="fa fa-pencil"></span>
                <span>&nbsp;@Translate.Key("Edit")</span>
            </button>
        </div>
    </div>

    <br/>
    
    <jj-collapse-panel title="@Translate.Key("Data Dictionary")"
                       partial="_DataDictionaryPanel" 
                       expanded-by-default="true" 
                       icon="Book"
                       model="Model"/>
    
    <jj-collapse-panel title="@Translate.Key("Form")"
                       partial="_FormPanel" 
                       model="Model"
                       icon="FileO"
                       expanded-by-default="true"/>
    

    if (Model.FormEvent != null)
    {
        <jj-collapse-panel title="@Translate.Key("Events")"
                           partial="_EventsPanel" 
                           model="Model"
                           icon="Drupal"
                           expanded-by-default="true"/>
    }
}