@using JJMasterData.Core.DataDictionary.Models.Actions
@using JJMasterData.Core.UI
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model JJMasterData.Core.DataDictionary.Models.Actions.BasicAction

<div class="row">
    @if (Model is not FormToolbarAction || (Model is FormToolbarAction && Model.IsUserCreated))
    {
        <div class="@BootstrapHelper.FormGroup col-sm-6 required">
            <label class="@BootstrapHelper.Label" asp-for="VisibleExpression">@StringLocalizer["Visible Expression"]</label>
            <tooltip title="Boolean expression to show the action. Check expressions at the docs for more information"/>
            @Html.TextBoxFor(model => model.VisibleExpression, new { @class = "form-control" })
        </div>
        <div class="@BootstrapHelper.FormGroup col-sm-6 required">
            <label class="@BootstrapHelper.Label" asp-for="EnableExpression">@StringLocalizer["Enable Expression"]</label>
            <tooltip title="Boolean expression to enable the action. Check expressions at the docs for more information"/>
            @Html.TextBoxFor(model => model.EnableExpression, new { @class = "form-control" })
        </div>
    }
</div>
<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <label class="@BootstrapHelper.Label" asp-for="ConfirmationMessage">@StringLocalizer["Confirmation Message"]</label>
        <tooltip title="If not null or empty, show a confirmation message before executing the action"/>
        @Html.TextBoxFor(model => model.ConfirmationMessage, new { @class = "form-control", placeholder = StringLocalizer["Are you sure you want to execute this action?"] })
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <label asp-for="CssClass" class="@BootstrapHelper.Label">@StringLocalizer["Css Class"]</label>
        @Html.TextBoxFor(model => model.CssClass, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-2">
        <label asp-for="Order" class="@BootstrapHelper.Label">@StringLocalizer["Order"]</label>
        @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-2">
        <label asp-for="ShowTitle" class="@BootstrapHelper.Label" >@StringLocalizer["Show Title"]</label>
        <div class="input-append">
            @Html.CheckBoxFor(model => model.ShowTitle, new { @class = "form-control", data_toggle = "toggle", data_on = "Yes", data_off = "No", data_size = "small" })
        </div>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-2">
        <label class="@BootstrapHelper.Label" asp-for="ShowAsButton" >@StringLocalizer["Show As Button"]</label>
        <div class="input-append">
            @Html.CheckBoxFor(model => model.ShowAsButton, new { @class = "form-control", data_toggle = "toggle", data_on = "Yes", data_off = "No", data_size = "small" })
        </div>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-2">
        <label asp-for="IsDefaultOption" class="@BootstrapHelper.Label">@StringLocalizer["Default"]</label>
        <div class="input-append">
            @Html.CheckBoxFor(model => model.IsDefaultOption, new { @class = "form-control", data_toggle = "toggle", data_on = "Yes", data_off = "No", data_size = "small" })
        </div>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-2">
        <label asp-for="IsGroup" class="@BootstrapHelper.Label">@StringLocalizer["Is Group"]</label>
        <div class="input-append">
            @Html.CheckBoxFor(model => model.IsGroup, new { @class = "form-control", data_toggle = "toggle", data_on = "Yes", data_off = "No", data_size = "small" })
        </div>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-2">
        <label asp-for="DividerLine" class="@BootstrapHelper.Label">@StringLocalizer["Divider Line"]</label>
        <tooltip title="Show a separator before this action"/>
        <div class="input-append">
            @Html.CheckBoxFor(model => model.DividerLine, new { @class = "form-control", data_toggle = "toggle", data_on = "Yes", data_off = "No", data_size = "small" })
        </div>
    </div>
    @if (ViewBag.ContextAction is ActionSource.FormToolbar)
    {
        <div class="@BootstrapHelper.FormGroup col-sm-2">
            <label asp-for="Location" class="@BootstrapHelper.Label">@StringLocalizer["Location"]</label>
            <tooltip title="If not in a relationship, Panel is considered the same as Bottom."/>
            <div class="input-append">
                <select asp-for="Location" class="form-select" asp-items="Html.GetEnumSelectList<FormToolbarActionLocation>()"></select>
            </div>
        </div>
    }

</div>