@using JJMasterData.Core.Web
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model JJMasterData.Core.DataDictionary.Models.Actions.BasicAction

@{
    TempData["selectedTab"] = ViewBag.ContextAction switch
    {
        ActionSource.GridToolbar => "#divGridToolbar",
        ActionSource.FormToolbar => "#divFormToolbar",
        _ => "#divGrid"
    };
}

<script>
    const iconsModal = new Modal();
    iconsModal.modalId = "action-icon-modal";
</script>

<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        <label class="@BootstrapHelper.Label">@StringLocalizer["Name"]</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        <label for="icon" class="@BootstrapHelper.Label">@StringLocalizer["Icon"]</label>
        <a href="javascript: void(0);"
           @BootstrapHelper.GetDataToggle("tooltip")
           title="Search Icon" onclick="iconsModal.showUrl({url:'@Url.Action("Index", "Icons", new { inputId = "icon" })'},'@StringLocalizer["Icons"]');"
           style="text-decoration:none">
            <span class="fa fa-search "></span>
        </a>
        @Html.Raw(ViewBag.IconSearchBoxHtml)
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <label class="@BootstrapHelper.Label">@StringLocalizer["Text"]</label>
        @Html.TextBoxFor(model => model.Text, new { @class = "form-control" })
        <input type="hidden" id="originalName" name="originalName" value="@ViewBag.OriginalName"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <label class="@BootstrapHelper.Label " for="txtName">@StringLocalizer["Tooltip"]</label>
        @Html.TextBoxFor(model => model.Tooltip, new { @class = "form-control" })
    </div>
</div>