@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IOptions<MasterDataWebOptions> Options
@using JJMasterData.Core.UI
@using JJMasterData.Core.UI.Components
@model  JJMasterData.Core.DataDictionary.Models.Actions.FilterAction

@{
    Layout = Options.Value.ModalLayoutPath;
}

@using (Html.BeginForm("FilterAction", "Actions",
    new { elementName = ViewBag.ElementName, context = ViewBag.ContextAction }, FormMethod.Post))
{
    <ul class="nav nav-tabs">
        <li id="nav-general" class="nav-item active"><a class="nav-link active"  @BootstrapHelper.GetDataToggle("tab") href="#div-general">@StringLocalizer["General"]</a></li>
        <li id="navFilterAction" class="nav-item"><a class="nav-link"  @BootstrapHelper.GetDataToggle("tab") href="#filter-action">@StringLocalizer["Filter Action"]</a></li>
        <li id="nav-advanced" class="nav-item"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-advanced">@StringLocalizer["Advanced"]</a></li>
    </ul>

    <div class="tab-content" style="margin-top: 20px;">
        <div id="div-general" class="tab-pane fade active @BootstrapHelper.Show">
            <partial name="_NavGeneral" model="Model"/>
        </div>

        <div id="filter-action" class="tab-pane fade">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-3">
                    <label class="@BootstrapHelper.Label" asp-for="ShowAsCollapse"></label>
                    <tooltip title="@StringLocalizer["Show the filter in a Collapse Panel above the Grid. Filter behavior remains the same."]"/>
                    <checkbox for="ShowAsCollapse" switch="true" switch-size="CheckBoxSwitchSize.Medium"/>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3">
                    <label class="@BootstrapHelper.Label" asp-for="ExpandedByDefault"></label>
                    <checkbox for="ExpandedByDefault" switch="true" switch-size="CheckBoxSwitchSize.Medium"/>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3">
                        <label class="@BootstrapHelper.Label" asp-for="ShowIconAtCollapse"></label>
                        <checkbox for="ShowIconAtCollapse" switch="true" switch-size="CheckBoxSwitchSize.Medium"/>
                </div>

                <div class="@BootstrapHelper.FormGroup col-sm-3">
                    <label class="@BootstrapHelper.Label" asp-for="EnableScreenSearch"></label>
                    <tooltip title="@StringLocalizer["Only data shown in the browser will be filtered."]"/>
                    <checkbox for="EnableScreenSearch" switch="true" switch-size="CheckBoxSwitchSize.Medium"/>
                </div>
            </div>
        </div>

        <div id="div-advanced" class="tab-pane fade">
            <partial name="_NavGeneral" model="Model"/>
        </div>
    </div>

    @await Html.PartialAsync("_Toolbar")
}

