@{
    Layout = "_MasterDataLayout.Popup";
}
@using JJMasterData.Core.Options
@using JJMasterData.Core.Web
@using JJMasterData.Core.Web.Components
@using JJMasterData.Core.Web.Factories
@inject IOptions<JJMasterDataCoreOptions> Options
@inject IControlFactory<JJSearchBox> SearchBoxFactory
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer
@model  JJMasterData.Core.DataDictionary.Actions.GridToolbar.InsertAction

@using (Html.BeginForm("InsertAction", "Actions",
    new { dictionaryName = ViewBag.DictionaryName, context = ViewBag.ContextAction }, FormMethod.Post))
{
    <ul class="nav nav-tabs">
        <li id="navGeneral" class="nav-item active">
            <a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#divGeneral">@StringLocalizer["General"]</a>
        </li>
        <li class="nav-item" id="navInsertAction">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divInsertAction">@StringLocalizer["Insert Action"]</a>
        </li>
        <li class="nav-item" id="navAdvanced">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divAdvanced">@StringLocalizer["Advanced"]</a>
        </li>
    </ul>


    <div class="tab-content" style="margin-top: 20px;">
        <div id="divGeneral" class="tab-pane fade active @BootstrapHelper.Show">
            @await Html.PartialAsync("_NavGeneral", Model)
        </div>

        <div id="divInsertAction" class="tab-pane fade">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-6">
                    <label>@StringLocalizer["Element Name To Select"]</label>
                    @Html.Raw(BuildElementToSelect().GetHtml())
                </div>

                <div class="col-sm-6">
                    <span class="text-info fa fa-info-circle"></span>
                    <span class="small">
                        <b>@StringLocalizer["Dictionary name used to display the preselection of a record."]</b><br/>
                        @StringLocalizer["When this property is set, the system will display a list of records for selection."]<br/>
                        @StringLocalizer["When selecting a record, the insert method is triggered sending the values ​​of the current selection."]<br/>
                        @StringLocalizer["If the insert method is executed successfully the user will be redirected to editing the context dictionary."]<br/>
                        <br/>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="@BootstrapHelper.FormGroup col-sm-2">
                        <label class="@BootstrapHelper.Label">@StringLocalizer["Reopen Form"]</label>
                        <div class="input-append">
                            @Html.CheckBoxFor(model => model.ReopenForm, new { @class = "form-control", data_toggle = "toggle", data_on = "Yes", data_off = "No", data_size = "small" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="@BootstrapHelper.FormGroup col-sm-2">
                        <label class="@BootstrapHelper.Label">@StringLocalizer["Show as Popup"]</label>
                        <div class="input-append">
                            @Html.CheckBoxFor(model => model.ShowAsPopup, new { @class = "form-control", data_toggle = "toggle", data_on = "Yes", data_off = "No", data_size = "small" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <span class="text-info fa fa-info-circle"></span>
                    <span class="small">
                        <b>@StringLocalizer["Reopen Form."]</b><br/>
                        @StringLocalizer["No = Close the form and return to the list."]<br/>
                        @StringLocalizer["Yes = Reopen the form to enter a new record."]<br/>
                        <br/>
                    </span>
                </div>
            </div>
        </div>

        <div id="divAdvanced" class="tab-pane fade">
            @await Html.PartialAsync("_NavAdvanced", Model)
        </div>
    </div>

    @await Html.PartialAsync("_Toolbar")
}

@functions {

    private JJSearchBox BuildElementToSelect()
    {
        var cbo = SearchBoxFactory.Create();
        cbo.Name = "ElementNameToSelect";
        cbo.DataItem.Command.Sql = $"select name as cod, name from {Options.Value.DataDictionaryTableName} where type = 'F' order by name";
        cbo.SelectedValue = Model.ElementNameToSelect;
        return cbo;
    }

}