@using JJMasterData.Core.UI.Components
@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.DataDictionary.Models.Actions
@inject IOptionsSnapshot<MasterDataWebOptions> Options
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IControlFactory<JJComboBox> ComboBoxFactory
@model  JJMasterData.Core.DataDictionary.Models.Actions.InsertAction

@{
    Layout = Options.Value.ModalLayoutPath;
}

@{
    async Task<string> GetInsertSelectionComboBoxHtml()
    {
        var comboBox = ComboBoxFactory.Create();
        comboBox.Name = "ElementNameToSelect";
        comboBox.DataItem.FirstOption = FirstOptionMode.Choose;
        comboBox.DataItem.Items = new List<DataItemValue>();

        FormElement formElement = ViewBag.FormElement;

        foreach (var relationship in formElement.Relationships.GetElementRelationships())
        {
            comboBox.DataItem.Items.Add(new DataItemValue(relationship.ChildElement, relationship.ChildElement));
        }

        comboBox.SelectedValue = formElement.Options.GridToolbarActions.InsertAction.ElementNameToSelect;

        var result = await comboBox.GetHtmlBuilderAsync();
        return result.ToString();
    }
}

@using (Html.BeginMasterDataForm("InsertAction", "Actions",
            new { elementName = ViewBag.ElementName, context = ViewBag.ContextAction }))
{
    <ul class="nav nav-underline">
        <li id="nav-general" class="nav-item active">
            <a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#div-general">@StringLocalizer["General"]</a>
        </li>
        <li class="nav-item" id="navInsertAction">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-insert-action">@StringLocalizer["Insert Action"]</a>
        </li>
        <li class="nav-item" id="nav-advanced">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-advanced">@StringLocalizer["Advanced"]</a>
        </li>
    </ul>


    <div class="tab-content" style="margin-top: 1.25rem;">
        <div id="div-general" class="tab-pane fade active @BootstrapHelper.Show">
            @await Html.PartialAsync("_NavGeneral", Model)
        </div>

        <div id="div-insert-action" class="tab-pane fade">

            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-3">
                    <label asp-for="InsertActionLocation" class="form-label"></label>
                    <select asp-for="InsertActionLocation" class="form-select" asp-items="Html.GetEnumSelectList<InsertActionLocation>()"></select>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3 not-shown-at-list">
                    <label asp-for="ElementNameToSelect" class="form-label"></label>
                    @Html.Raw(await GetInsertSelectionComboBoxHtml())
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3 not-shown-at-list">
                    <checkbox for="ReopenForm" tooltip="@StringLocalizer["When set to true, you can insert new records after saving instead of going back to the grid."]" switch="true" />
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3">
                    <label asp-for="SuccessMessage" class="@BootstrapHelper.Label"></label>
                    <tooltip title="@StringLocalizer["It will be shown when the form is reopened or the form is next to the grid."]"/>
                    <input asp-for="SuccessMessage" class="form-control"/>                
                </div>
            </div>
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-3 not-shown-at-list">
                    <checkbox for="ShowAsModal" switch="true" />
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3 not-shown-at-list">
                    <label asp-for="ModalTitle" class="form-label"></label>
                    <input asp-for="ModalTitle" class="form-control"/>
                </div>
            </div>
            <div class="row not-shown-at-list">
                <div class="col-sm-12">
                    <collapse-panel icon="InfoCircle" color="Info" title="@Html.DisplayNameFor(m => m.ElementNameToSelect)">
                        <ul>
                            <li>@StringLocalizer["When this property is set, the system will display a list of records for selection."]</li>
                            <li>@StringLocalizer["When selecting a record, the insert method is triggered sending the values of the current selection."]</li>
                            <li>@StringLocalizer["If the insert method is executed successfully, the parent element is opened again at editing mode."]</li>
                            <li>@StringLocalizer["Only relationships are allowed, because you need to map the foreign keys to be used at saving."]</li>
                        </ul>
                    </collapse-panel>
                </div>
            </div>

        </div>

        <div id="div-advanced" class="tab-pane fade">
            @await Html.PartialAsync("_NavAdvanced", Model)
        </div>
    </div>

    @await Html.PartialAsync("_Toolbar")

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const showOpenedAtListSelect = document.getElementById('@Html.IdFor(m => m.InsertActionLocation)');
        
            const notShownAtList = document.getElementsByClassName('not-shown-at-list');
        
            function toggleShowOpenedAtList() {       
                 for (const element of notShownAtList) {
                     element.style.display = showOpenedAtListSelect.value === "0" ? "block" : "none";
                 }
            }
        
            toggleShowOpenedAtList();
        
            showOpenedAtListSelect.addEventListener("change", toggleShowOpenedAtList);
        });
    </script>
}