@using JJMasterData.Core.DataDictionary.Models.Actions
@using JJMasterData.Core.UI
@using JJMasterData.Web.Configuration.Options
@model JJMasterData.Core.DataDictionary.Models.Actions.PluginAction
@inject IOptions<JJMasterDataWebOptions> Options
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer
@inject IEnumerable<IPluginHandler> Plugins

@{
    var plugin = (IPluginActionHandler)Plugins.First(p => p.Id == Model.PluginId && p is IPluginActionHandler);

    Layout = Options.Value.ModalLayoutPath;
}

@using (Html.BeginForm("PluginAction", "Actions",
    new { elementName = ViewBag.ElementName, context = ViewBag.ContextAction, fieldName = ViewBag.FieldName }, FormMethod.Post))
{
    <input asp-for="PluginId" class="form-control" hidden="hidden"/>

    <ul class="nav nav-tabs">
        <li id="nav-general" class="nav-item active">
            <a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#div-general">@StringLocalizer["General"]</a>
        </li>
        @if (plugin.ConfigurationFields is not null)
        {
            <li id="nav-plugin" class="nav-item">
                <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-plugin-configuration">@StringLocalizer["Plugin Configuration"]</a>
            </li>
        }
        <li id="nav-advanced" class="nav-item">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-advanced">@StringLocalizer["Advanced"]</a>
        </li>
    </ul>

    <div class="tab-content" style="margin-top: 20px;">
        <div id="div-general" class="tab-pane fade active @BootstrapHelper.Show">
            <partial name="_NavGeneral" model="Model"/>
        </div>
        @if (plugin.ConfigurationFields is not null)
        {
            <div id="div-plugin-configuration" class="tab-pane fade @BootstrapHelper.Show">
                <div class="container-fluid ">
                    <partial name="_PluginConfiguration" model="Model"/>
                </div>
            </div>
        }
        <div id="div-advanced" class="tab-pane fade">
            <partial name="_NavAdvanced" model="Model"/>
        </div>

    </div>

    @await Html.PartialAsync("_Toolbar")
}