@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IOptions<MasterDataWebOptions> Options
@using JJMasterData.Core.UI
@using JJMasterData.Core.DataDictionary.Models.Actions
@model JJMasterData.Core.DataDictionary.Models.Actions.ScriptAction

@{
    Layout = Options.Value.ModalLayoutPath;
}

@using (Html.BeginForm("ScriptAction", "Actions",
    new { elementName = ViewBag.ElementName, context = ViewBag.ContextAction, fieldName = ViewBag.FieldName }, FormMethod.Post))
{
    <ul class="nav nav-tabs">
        <li id="nav-general" class="nav-item active"><a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#div-general">@StringLocalizer["General"]</a></li>
        <li id="navScriptAction"  class="nav-item"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divScriptAction">@StringLocalizer["Script Action"]</a></li>
        <li id="nav-advanced" class="nav-item"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-advanced">@StringLocalizer["Advanced"]</a></li>
    </ul>

    <div class="tab-content" style="margin-top: 20px;">
        <div id="div-general" class="tab-pane fade active @BootstrapHelper.Show">
            @await Html.PartialAsync("_NavGeneral", Model)
        </div>

        <div id="divScriptAction" class="tab-pane fade">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-12 required">
                    <label class="@BootstrapHelper.Label" @BootstrapHelper.GetDataToggle("tooltip") title="">@StringLocalizer["JavaScript Script"]</label>
                    @Html.TextBoxFor(model => model.OnClientClick, new { @class = "form-control" })
                </div>
            </div>
  
            @if (ViewBag.ContextAction == ActionSource.Field)
            {
                <hr />
                <div class="row">
                    <div class="col-sm-10">
                        <span class="text-info fa fa-info-circle"></span>
                        <span class="small">
                            @StringLocalizer["JavaScript action that will be executed when the user clicks out of control"]
                            <br />
                        </span>
                    </div>
                </div>
            }
        </div>

        <div id="div-advanced" class="tab-pane fade">
            @await Html.PartialAsync("_NavAdvanced", Model)
        </div>
    </div>

    @await Html.PartialAsync("_Toolbar")
}

