@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IOptionsSnapshot<MasterDataWebOptions> Options
@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.UI
@using JJMasterData.Core.UI.Components
@model  JJMasterData.Core.DataDictionary.Models.Actions.UrlRedirectAction

@{
    Layout = Options.Value.ModalLayoutPath;
}

@using (Html.BeginForm("UrlRedirectAction", "Actions",
    new { elementName = ViewBag.ElementName, context = ViewBag.ContextAction, fieldName = ViewBag.FieldName }, FormMethod.Post))
{
    <ul class="nav nav-tabs">
        <li id="nav-general" class="nav-item active"><a class="nav-link active"  @BootstrapHelper.GetDataToggle("tab") href="#div-general">@StringLocalizer["General"]</a></li>
        <li id="navUrlAction" class="nav-item"><a class="nav-link"  @BootstrapHelper.GetDataToggle("tab") href="#divUrlAction">@StringLocalizer["Url Action"]</a></li>
        <li id="nav-advanced" class="nav-item"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-advanced">@StringLocalizer["Advanced"]</a></li>
    </ul>

    <div class="tab-content" style="margin-top: 20px;">
        <div id="div-general" class="tab-pane fade active @BootstrapHelper.Show">
            @await Html.PartialAsync("_NavGeneral", Model)
        </div>

        <div id="divUrlAction" enableviewstate="false" class="tab-pane fade">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-12 required">
                    <label class="form-label" asp-for="UrlRedirect"></label>
                    <tooltip title="@StringLocalizer["This field support runtime values between {}."]"/>
                    <input asp-for="UrlRedirect" class="form-control font-monospace" />
                </div>
                
                <div class="@BootstrapHelper.FormGroup col-sm-1">
                    <label asp-for="IsModal" class="@BootstrapHelper.Label">@StringLocalizer["Is Modal"]</label>
                    <checkbox for="IsModal" switch="true" switch-size="CheckBoxSwitchSize.Medium"/>
                </div>

                <div class="@BootstrapHelper.FormGroup col-sm-8">
                    <label class="@BootstrapHelper.Label" >@StringLocalizer["Modal Title"]</label>
                    <tooltip title="@StringLocalizer["Supports runtime values. Example: Order {OrderId}"]"/>
                    @Html.TextBoxFor(model => model.ModalTitle, new { @class = "form-control" })
                </div>


                <div class="@BootstrapHelper.FormGroup col-sm-2">
                    <label class="@BootstrapHelper.Label " asp-for="ModalSize">@StringLocalizer["Modal Size"]</label>
                    <select asp-for="ModalSize" class="form-control form-select" asp-items="Html.GetEnumSelectList<ModalSize>()"></select>
                </div>
                
                
                <div class="@BootstrapHelper.FormGroup col-sm-1">
                    <label asp-for="IsIframe" class="@BootstrapHelper.Label">
                        @StringLocalizer["Iframe"]
                    </label>
                    <tooltip title="@StringLocalizer["If the redirect is in a modal will render a iframe in the body (not recommended in most cases)."]"/>
                    <checkbox for="IsIframe" switch="true" switch-size="CheckBoxSwitchSize.Medium"/>
                </div>
            </div>
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-2">
                    <label asp-for="EncryptParameters" class="@BootstrapHelper.Label"></label>
                    <checkbox for="EncryptParameters" switch="true" switch-size="CheckBoxSwitchSize.Medium"/>
                </div>
                <div class="col-sm-10">
                    <alert color="Info"
                           title="@StringLocalizer["Encrypt Parameters"]"
                           icon="IconType.InfoCircle">
                        @{
                            var docsUrl = "https://md.jjconsulting.tech/api/";
                            var methodUrl = docsUrl + "JJMasterData.Core.Extensions.EncryptionServiceExtensions.html#JJMasterData_Core_Extensions_EncryptionServiceExtensions_DecryptStringWithUrlUnescape_JJMasterData_Commons_Security_Cryptography_Abstractions_IEncryptionService_System_String_";
                            var interfaceUrl = docsUrl + "JJMasterData.Commons.Security.Cryptography.Abstractions.IEncryptionService.html";
                            var tip = @StringLocalizer["To decrypt at the destination, use the <a href=\\\"{0}\\\">DecryptStringWithUrlUnescape</a> method from <a href=\\\"{1}\\\">IEncryptionService</a>.", methodUrl, interfaceUrl];
                        }
                        @Html.Raw(tip)
                    </alert>
                </div>
            </div>
        </div>

        <div id="div-advanced" class="tab-pane fade">
            @await Html.PartialAsync("_NavAdvanced", Model)
        </div>
    </div>

    @await Html.PartialAsync("_Toolbar")
}
