
@using JJMasterData.Web.Extensions
@using JJMasterData.Commons.Dao
@model JJMasterData.Core.DataDictionary.Action.BasicAction
@inject IEntityRepository EntityRepository

<script lang="javascript" type="text/javascript">
        function setIconValue(fieldid, cod, description) {
            let oFldId = window.document.getElementById(fieldid);
            oFldId.value = cod;
    
            let oFld = window.document.getElementById(fieldid + "_text");
            oFld.value = description;
    
            popup.hide();
            oFld.focus();
        }
    </script>
<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        <label class="@BootstrapHelper.Label">@Translate.Key("Name")</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        <label class="@BootstrapHelper.Label">@Translate.Key("Icon")</label>
        @{
            var searchBox = new JJSearchBox(EntityRepository)
            {
                DataItem =
                {
                    ShowImageLegend = true,
                    Items = Enum.GetValues<IconType>().Select(i => new DataItemValue(i.GetId().ToString(), i.GetDescription())).ToList()
                },
                SelectedValue = ((int)Model.Icon).ToString(),
                Name = "Icon"
            };
        }
        
        @if (BootstrapHelper.Version >= 4)
        {
            <a href="javascript: void(0);" @BootstrapHelper.GetDataToggle("tooltip") title="Search Icon" onclick="popup.show('Icons','@Url.Action("Icons", "Field", new { jjDictionaryName = ViewBag.DictionaryName, itemId = "Icon" })');" style="text-decoration:none">
                <span class="fa fa-search "></span>
            </a>
            @searchBox.GetHtmlString()
        }
        else
        {
            <div class="input-group">
                @searchBox.GetHtmlString()
                <span class="@BootstrapHelper.InputGroupBtn">
                    <button class="@BootstrapHelper.DefaultButton" type="button" onclick="popup.show('Icons','@Url.Action("Icons", "Field", new { jjDictionaryName = ViewBag.DictionaryName, itemId = "Icon" })');">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        }
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <label class="@BootstrapHelper.Label">@Translate.Key("Text")</label>
        @Html.TextBoxFor(model => model.Text, new { @class = "form-control" })
        <input type="hidden" id="originalName" name="originalName" value="@ViewBag.OriginalName" />
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <label class="@BootstrapHelper.Label " for="txtName">@Translate.Key("ToolTip")</label>
        @Html.TextBoxFor(model => model.ToolTip, new { @class = "form-control" })
    </div>
</div>