@{
    Layout = "_Layout.Popup";
}

@model  JJMasterData.Core.DataDictionary.Action.SortAction

@using (Html.BeginForm("SortAction", "Actions",
    new { dictionaryName = ViewBag.DictionaryName, context = ViewBag.ContextAction }, FormMethod.Post))
{
    <ul class="nav nav-tabs">
        <li id="navGeneral" class="nav-item active"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divGeneral">@Translate.Key("General")</a></li>
        <li id="navAdvanced" class="nav-item"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divAdvanced">@Translate.Key("Advanced")</a></li>
    </ul>

    <div class="tab-content" style="margin-top: 20px;">
        <div id="divGeneral" class="tab-pane fade active @BootstrapHelper.Show">
            @await Html.PartialAsync("_NavGeneral", Model)
        </div>
        <div id="divAdvanced" class="tab-pane fade">
            @await Html.PartialAsync("_NavAdvanced", Model)
        </div>
    </div>

    @await Html.PartialAsync("_Toolbar")
}

