@inject ThemeService ThemeService
@using JJMasterData.Web.Services
@using Microsoft.AspNetCore.Html
@model DataDictionaryViewModel;

@{
    IHtmlContent NavItem(string menuId)
    {

        string cssClass = "nav-item jj-nav-item";

        if (Model!.MenuId!.Equals(menuId) && BootstrapHelper.Version < 5)
        {
            cssClass += " active";
        }

        return Html.Raw(cssClass);
    }

    IHtmlContent ActiveBs5(string menuId)
    {
        string cssClass = string.Empty;

        if (Model!.MenuId!.Equals(menuId) && BootstrapHelper.Version == 5)
        {
            cssClass += " active";
        }

        return Html.Raw(cssClass);
    }

    IHtmlContent AriaSelected(string menuId)
    {
        string ariaSelected = "false";

        if (Model!.MenuId!.Equals(menuId))
        {
            ariaSelected = "true";
        }

        return Html.Raw(ariaSelected);
    }
}

<div id="jjmenu">
    <div class="page-header">
        <h1>
            <img alt="JJMasterData" src="~/@ThemeService.GetLogoPath()" style="width:7%;height:7%" />
            <small>@Model.DictionaryName</small>
        </h1>
    </div>
    <div class="@(BootstrapHelper.Version > 3 ? "container-fluid p-0" : "")">
        <nav class="@BootstrapHelper.NavBar">
            <div class="navbar-header">
                @if (BootstrapHelper.Version == 3)
                {
                    <button type="button" class="navbar-toggle collapsed" @BootstrapHelper.DataToggle="collapse" data-target="#jj-navbar" aria-expanded="false">
                        <span class="sr-only">@Translate.Key("Toggle navigation")</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                }
                else
                { <button class="navbar-toggler" type="button" @BootstrapHelper.DataToggle="collapse" data-bs-target="#jj-navbar" data-target="#jj-navbar" aria-controls="jj-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
            </div>
            <div class="collapse navbar-collapse row justify-content-between" id="jj-navbar">
                <ul class="@(BootstrapHelper.Version == 5 ? "nav nav-pills" : "navbar-nav nav")">
                    <li class="@NavItem("Exit") @BootstrapHelper.MarginLeft-1">
                        <a class="nav-link" href="@Url.Action("Index","Element")">
                            <span class="fa fa-mail-reply" aria-selected="@AriaSelected("Exit")"></span> @Translate.Key("Exit")
                        </a>
                    </li>
                    <li class="@NavItem("Entity")">
                        <a class="nav-link @ActiveBs5("Entity")" href="@Url.Action("Index", "Entity", new {dictionaryName = Model.DictionaryName})">
                            <span class="fa fa-database" aria-selected="@AriaSelected("Entity")"></span>&nbsp;@Translate.Key("Entity")
                        </a>
                    </li>
                    <li class="@NavItem("Field")">
                        <a class="nav-link @ActiveBs5("Field")" href="@Url.Action("Index", "Field" , new {dictionaryName=Model.DictionaryName})">
                            <span class="fa fa-th" aria-selected="@AriaSelected("Field")"></span>&nbsp;@Translate.Key("Fields")
                        </a>
                    </li>
                    <li class="@NavItem("Panel")">
                        <a class="nav-link @ActiveBs5("Panel")" href="@Url.Action("Index", "Panel" , new {dictionaryName=Model.DictionaryName})">
                            <span class="fa fa-newspaper-o" aria-selected="@AriaSelected("Panel")"></span>&nbsp;@Translate.Key("Panels")
                        </a>
                    </li>
                    <li class="@NavItem("Indexes")">
                        <a class="nav-link @ActiveBs5("Indexes")" href="@Url.Action("Index","Indexes",new {dictionaryName=Model.DictionaryName})">
                            <span class="fa fa-indent" aria-selected="@AriaSelected("Indexes")"></span>&nbsp;@Translate.Key("Indexes")
                        </a>
                    </li>
                    <li class="@NavItem("Relations")">
                        <a class="nav-link @ActiveBs5("Relations")" href="@Url.Action("Index","Relations",new {dictionaryName=Model.DictionaryName})">
                            <span class="fa fa-joomla" aria-selected="@AriaSelected("Relations")"></span>&nbsp;@Translate.Key("Relations")
                        </a>
                    </li>
                    <li class="@NavItem("Options")">
                        <a class="nav-link @ActiveBs5("Options")" href="@Url.Action("Index", "Options" , new {dictionaryName=Model.DictionaryName})">
                            <span class="fa fa-gear" aria-selected="@AriaSelected("Options")"></span>&nbsp;@Translate.Key("Options")
                        </a>
                    </li>
                    <li class="@NavItem("Actions")">
                        <a class="nav-link @ActiveBs5("Actions")" href="@Url.Action("Index", "Actions" , new {dictionaryName=Model.DictionaryName})">
                            <span class="fa fa-flash" aria-selected="@AriaSelected("Actions")"></span>&nbsp;@Translate.Key("Actions")
                        </a>
                    </li>
                    <li class="@NavItem("Api") @(BootstrapHelper.Version >= 5 ? "me-auto" : string.Empty)">
                        <a class="nav-link @ActiveBs5("Api")" href="@Url.Action("Index","Api",new {dictionaryName=Model.DictionaryName })">
                            <span class="fa fa-globe" aria-selected="@AriaSelected("Api")"></span>&nbsp;@Translate.Key("API")
                        </a>
                    </li>
                    @if (BootstrapHelper.Version >= 5)
                    {
                        <li class="@NavItem("More") me-3">
                            <div class="nav-link">
                                <div class="dropdown dropstart">
                                    @{More();}
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @if (BootstrapHelper.Version < 5)
                {
                    <ul class="nav navbar-nav navbar-right mr-3" style="@(BootstrapHelper.Version == 3 ? "padding-right: 15px;" : String.Empty)">
                        <li class="dropdown dropleft">
                            @{More();}
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </div>
</div>

@functions
{
    private void More()
    {
        <a href="#" class="dropdown-toggle" @BootstrapHelper.GetDataToggle("dropdown") role="button" aria-haspopup="true" aria-expanded="false">
            @Translate.Key("More") <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-item" onclick="popup.show('@Translate.Key("Database Scripts")', '@Url.Action("Scripts","Element",new {dictionaryName=Model.DictionaryName })',1);">
                <a href="#">
                    <span class="fa fa-play-circle fa-fw fa-lg"></span> @Translate.Key("Get Script")
                </a>
            </li>
            <li class="dropdown-item" onclick="window.open('@Url.Action("Render","Form", new {area="MasterData" , dictionaryName=Model.DictionaryName})', '_blank').focus();">
                <a href="#">
                    <span class="fa fa-eye fa-fw fa-lg"></span> @Translate.Key("Preview")
                </a>
            </li>
            <li role="separator" class="@(BootstrapHelper.Version > 3 ? " divider" : "dropdown-divider" )"></li>
            <li class="dropdown-item" onclick="popup.show('Help', 'https://portal.jjconsulting.com.br/jjdoc/', 1);">
                <a href="#">
                    <span class="fa fa-question-circle fa-fw fa-lg"></span> @Translate.Key("Help")
                </a>
            </li>
        </ul>
    }
}

