@model JJMasterData.Web.Areas.MasterData.Models.SettingsViewModel

<div class="@BootstrapHelper.FormGroup">
    <div class="row">
        <div class="col-sm-12">
            <label asp-for="ConnectionString.Server" class="@BootstrapHelper.Label"></label><span class="required-symbol">*</span>
            <input asp-for="ConnectionString.Server" class="form-control"/>
            <span asp-validation-for="ConnectionString.Server" class="text-danger"></span>
        </div>
        <div class="col-sm-12">
            <label asp-for="ConnectionString.IntegratedSecurity" class="@BootstrapHelper.Label"></label><span class="required-symbol">*</span>
            <select onchange="onIntegratedSecurityChange(this.value)" asp-for="ConnectionString.IntegratedSecurity" class="form-control">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <span asp-validation-for="ConnectionString.IntegratedSecurity" class="text-danger"></span>
        </div>

        <div class="row" id="login-data" style="display: @(Model.ConnectionString.IntegratedSecurity ? "none" : "flex")">
            <div class="col-sm-6">
                <label asp-for="ConnectionString.Username" class="@BootstrapHelper.Label"></label><span class="required-symbol">*</span>
                <input asp-for="ConnectionString.Username" class="form-control"/>
                <span asp-validation-for="ConnectionString.Username" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
                <label asp-for="ConnectionString.Password" class="@BootstrapHelper.Label"></label><span class="required-symbol">*</span>
                <input asp-for="ConnectionString.Password" class="form-control"/>
                <span asp-validation-for="ConnectionString.Password" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-6">
            <label asp-for="ConnectionString.Database" class="@BootstrapHelper.Label"></label><span class="required-symbol">*</span>
            <input asp-for="ConnectionString.Database" class="form-control"/>
            <span asp-validation-for="ConnectionString.Database" class="text-danger"></span>
        </div>
                <div class="col-sm-6">
                    <label asp-for="ConnectionString.ApplicationName" class="@BootstrapHelper.Label"></label>
                    <input asp-for="ConnectionString.ApplicationName" class="form-control"/>
                    <span asp-validation-for="ConnectionString.ApplicationName" class="text-danger"></span>
                </div>
        <div class="col-sm-12">
            <label asp-for="ConnectionString.Timeout" class="@BootstrapHelper.Label"></label>
            <input asp-for="ConnectionString.Timeout" class="form-control"/>
            <span asp-validation-for="ConnectionString.Timeout" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="ConnectionString.TrustServerCertificate" class="@BootstrapHelper.Label"></label>
            <select asp-for="ConnectionString.TrustServerCertificate" class="form-control">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <span asp-validation-for="ConnectionString.TrustServerCertificate" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="ConnectionString.Encrypt" class="@BootstrapHelper.Label"></label>
            <select asp-for="ConnectionString.Encrypt" class="form-control">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <span asp-validation-for="ConnectionString.Encrypt" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="ConnectionString.Pooling" class="@BootstrapHelper.Label"></label>
            <select asp-for="ConnectionString.Pooling" class="form-control">
                <option value="False">False</option>
                <option value="True">True</option>
            </select>
            <span asp-validation-for="ConnectionString.Pooling" class="text-danger"></span>
        </div>
        <div class="row" id="pooling-data">
            <div class="col-sm-4">
                <label asp-for="ConnectionString.MinPoolSize" class="@BootstrapHelper.Label"></label>
                <input asp-for="ConnectionString.MinPoolSize" class="form-control"/>
                <span asp-validation-for="ConnectionString.MinPoolSize" class="text-danger"></span>
            </div>
            <div class="col-sm-4">
                <label asp-for="ConnectionString.MaxPoolSize" class="@BootstrapHelper.Label"></label>
                <input asp-for="ConnectionString.MaxPoolSize" class="form-control"/>
                <span asp-validation-for="ConnectionString.MaxPoolSize" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="@BootstrapHelper.DefaultButton" formaction="@Url.Action("TestConnection", "Settings")" type="submit">@Translate.Key("Test")</button>
    </div>
</div>


<script type="text/javascript">
    function onIntegratedSecurityChange(value) {
        if (value === "True"){
            document.getElementById("login-data").style.display="none";
        }
        else{
            document.getElementById("login-data").style.display="flex";
        }
    }
</script>