@using JJMasterData.Core.DataDictionary
@model JJMasterData.Web.Areas.MasterData.Models.SettingsViewModel
@{
    Layout = "_MasterDataLayout.Popup";
}


@if (Model.ConnectionString.ConnectionResult is { IsConnectionSuccessful:true })
{
    <jj-alert
        title="@Translate.Key("Success")"
        messages="@(new List<string> {Translate.Key("Connection successfully estabilished.")})"
        icon="@IconType.CheckCircle"
        color="@PanelColor.Success">

    </jj-alert>
}
else if (Model.ConnectionString.ConnectionResult is { IsConnectionSuccessful:false })
{
    <jj-alert
        title="@Translate.Key("Error")"
        messages="@(new List<string> {Model.ConnectionString.ConnectionResult.ErrorMessage})"
        icon="@IconType.ExclamationTriangle"
        color="@PanelColor.Danger">

    </jj-alert>
}
<form>
    <jj-title title="JJMasterDataSettings" subtitle=""></jj-title>
    <jj-collapse-panel
        title="Connection String"
        partial="_ConnectionString"
        model="Model"
        icon="@IconType.Connectdevelop">
    </jj-collapse-panel>
</form>