@using JJMasterData.Core.Web
@using JJMasterData.Core.Web.Components
@using JJMasterData.Web.TagHelpers
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.RelationshipsListViewModel
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

<script type="text/javascript">
             function deleteRelationship(url) {
                     if (confirm('Are you sure you want to delete this relationship?')) {
                         fetch(url, {
                             method: 'DELETE'
                         })
                         .catch(error => {
                             console.log(error)
                         });
                     }
                 }
    </script>




<div class="row">
    <div class="col-sm-8">
        <jj-link-button icon="PlusCircle"
                        text="@StringLocalizer["New"]"
                        type="LinkButtonType.Button"
                        on-client-click="popup.show('@StringLocalizer["New Relation"]', '@Url.Action("ElementDetails", "Relationships", new { dictionaryName = Model.DictionaryName })');"/>
    </div>
</div>
<br/>

<table id="relationshipsTable" class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">@StringLocalizer["Relation"]</th>
        <th scope="col">@StringLocalizer["Columns"]</th>
        <th scope="col">@StringLocalizer["UpdateOnCascade"]</th>
        <th scope="col">@StringLocalizer["DeleteOnCascade"]</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Relationships.Any())
    {
        var relationships = Model.Relationships.Where(r => !r.IsParent).ToList();
        foreach (var relationship in relationships)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Entity", new { dictionaryName = relationship.ElementRelationship!.ChildElement })" target="_blank">@relationship.ElementRelationship!.ChildElement</a>
                </td>
                <td>
                    @foreach (var t in relationship.ElementRelationship!.Columns)
                    {
                        @t.PkColumn
                        <i class="fa-solid fa-arrow-right"></i>
                        @t.FkColumn

                        <br/>
                    }
                </td>
                <td>
                    @relationship.ElementRelationship!.UpdateOnCascade
                </td>
                <td>
                    @relationship.ElementRelationship!.DeleteOnCascade
                </td>
                <td style="text-align: center;">
                    <button type="button" @BootstrapHelper.GetDataToggle("tooltip") title="" class="btn btn-link"
                            onclick="popup.show('@StringLocalizer["Edit Relation"]', '@Url.Action("ElementDetails", "Relationships", new { dictionaryName = Model.DictionaryName, id = relationship.Id })');"
                            data-original-title="@StringLocalizer["Edit"]">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button type="submit" @BootstrapHelper.GetDataToggle("tooltip") title="" class="btn btn-link"
                            onclick="deleteRelationship('@Url.Action("Delete", "Relationships", new { dictionaryName = Model.DictionaryName, id = relationship.Id })')"
                            data-original-title="@StringLocalizer["Delete"]">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        }
    }

    </tbody>
</table>

@if (!Model.Relationships.Any())
{
    <jj-alert color="Default" show-close-button="false">
        @StringLocalizer["No relationships found."]
    </jj-alert>
}