@using JJMasterData.Commons.Data.Entity.Models

@model RelationshipsLayoutDetailsViewModel
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IOptionsSnapshot<MasterDataWebOptions> Options
@{
    TempData["SelectedTab"] = "#divLayout";
    Layout = Options.Value.ModalLayoutPath;
}

@section Scripts{
    <script type="text/javascript">
        function saveForm() {
            const form = document.querySelector('form');
            fetch('@Url.Action("SaveRelationshipLayout", "Relationships")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(new FormData(form))
            })
            .then(response => response.json())
            .then(data => {
                if (data.success === true) {
                    window.parent.defaultModal.hide();
                    window.parent.location.reload();
                } else {
                    document.querySelector('#divError').innerHTML = data.errorMessage;
                }
            })
            .catch(error => {
                document.querySelector('#divError').innerHTML = error;
            });
        }
    </script>
}


<ul class="nav nav-underline">
    <li id="nav-general" class="nav-item active">
        <a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#div-general">@StringLocalizer["General"]</a>
    </li>

    <li id="navBehavior" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divBehavior">@StringLocalizer["Behavior"]</a>
    </li>

    <li id="nav-advanced" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-advanced">@StringLocalizer["Advanced"]</a>
    </li>
</ul>

@using (Html.BeginMasterDataForm())
{
    <input asp-for="ElementName" hidden/>
    <input asp-for="MenuId" hidden/>
    <input asp-for="IsParent" hidden/>
    <input asp-for="Id" hidden/>

    <div class="tab-content" style="margin-top: 1.25rem;">
        <div id="div-general" class="tab-pane fade in active @(BootstrapHelper.Version > 3 ? "show" : string.Empty)">
            <partial name="../Panel/_DetailGeneral" model="Model.Panel"/>
        </div>


        <div id="divBehavior" class="tab-pane fade">
            <div class="row mb-3">
                @if (!Model.IsParent)
                {
                    <div class="col-sm-6">
                        <div class="form-floating">
                            <select class="form-select" asp-for="ViewType" asp-items="Html.GetEnumSelectList<RelationshipViewType>()"></select>
                            <label asp-for="ViewType"></label>
                        </div>
                    </div>
                }
                <div class="col-sm-6" id="editModeDiv">
                    <checkbox for="EditModeOpenByDefault" switch="true"/>
                </div>
                @if (!Model.IsParent)
                {
                    <div style="margin-top: 5px" class="col-sm-12">
                        <alert color="Info" title="@StringLocalizer["Help"]" icon="IconType.InfoCircle">
                            <ul>
                                <li>@StringLocalizer["None - The relationship is hidden and not rendered in any component."]</li>
                                <li>@StringLocalizer["List - The relationship is shown in a list with the actions controlled by the respective Data Dictionary (1xn)."]</li>
                                <li>@StringLocalizer["View - The relationship is shown in a read-only form (1x1)."]</li>
                                <li>@StringLocalizer["Update - The relationship is shown in an updatable form (1x1)."]</li>
                            </ul>
                        </alert>
                    </div>
                }

            </div>
        </div>


        <div id="div-advanced" class="tab-pane fade">
            <partial name="../Panel/_DetailExpressions" model="Model.Panel"/>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <link-button color="Primary" text="Save" icon="Check" on-client-click="saveForm();"/>
                <link-button icon="SolidXmark" text="Cancel" on-client-click="window.parent.defaultModal.hide();;"/>
            </div>
        </div>
    </div>

    <br/>
    <div class="row">
        <div id="divError" class="col-sm-12">

        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const relationshipViewTypeSelect = document.getElementById('@Html.IdFor(m => m.ViewType)');
        
            const editModeDiv = document.getElementById('editModeDiv');
        
            function toggleEditModeCheckbox() {
                const isRelationshipViewType2 = relationshipViewTypeSelect.value === "4";
        
                editModeDiv.style.display = isRelationshipViewType2 ? "block" : "none";
            }
        
            toggleEditModeCheckbox();
        
            relationshipViewTypeSelect.addEventListener("change", toggleEditModeCheckbox);
        });
    </script>
}