@model IconViewModel
@inject IStringLocalizer<MasterDataResources> StringLocalizer
<style>
    .icon {
        margin-bottom: 5px;
        margin-top: 5px;
    }

        .icon:hover {
            background-color: #808080;
            cursor: pointer;
        }
</style>


<script lang="javascript" type="text/javascript">

function handleFilterChange() {
  const filterText = document.getElementById('filterInput').value;
  filterIcons(filterText);
}

function filterIcons(filterText) {
    const iconContainer = $('#icon-container');
    const icons = iconContainer.find('.icon');

    filterText = filterText.toLowerCase(); 

    icons.each(function () {
        const icon = $(this);
        const iconText = icon.find('span:last-child').text().toLowerCase(); 

        if (iconText.includes(filterText) || filterText === "") {
            icon.show(); 
        } else {
            icon.hide();
        }
    });
}
function saveIcon(selectedIcon) {        
    const picker = $('#@Model.InputId');
    picker.selectpicker('val',selectedIcon);
    picker.focus();
    
    iconsModal.hide()
}
</script>


<div class="row">
    <div class="col-sm-12">
        <input
            id="filterInput"
            maxlength="64"
            type="text"
            placeholder="@StringLocalizer["Filter"]"
            class="form-control"
            oninput="handleFilterChange()">
    </div>
</div>
<div id="icon-container" class="row">
    @foreach (var icon in IconHelper.GetIconList())
    {
        <div class="col-sm-2 icon text-center" onclick="saveIcon('@icon.GetId().ToString()');">
            <span class="@icon.GetCssClass() fa-3x"></span>
            <br/>
            <span>@icon.GetId()</span>
            <br/>
            <span>@icon.GetCssClass()</span>
        </div>
    }
</div>