@using System.Globalization
@{
    var editorId = $"{Name}-editor".Replace(".", "_");
}

<style>
    @("#" + editorId) {
        height: @((Height * 1.3).ToString(CultureInfo.InvariantCulture))px;
    }

    @@media (max-width: 1200px) {
        @("#" + editorId) {
            height: @(Height)px;
        }
    }

    @@media (max-width: 768px) {
        @("#" + editorId) {
            height: @((Height * 0.7).ToString(CultureInfo.InvariantCulture))px;
        }
    }

    @@media (max-width: 480px) {
        @("#" + editorId) {
            height: @((Height * 0.4).ToString(CultureInfo.InvariantCulture))px;
        }
    }
</style>
<div class="w-100 h-100">
    <textarea hidden="hidden" name="@Name" id="@Name">@Value</textarea>
    <div id="@editorId"></div>
</div>
<script>
    onDOMReady(function () {
        require(['vs/editor/editor.main'], function () {
            const editor = monaco.editor.create(document.getElementById('@editorId'), {
                value: '@Value',
                automaticLayout: true,
                language: '@Language',
                theme: getTheme() === "dark" ? "vs-dark" : "vs"
            });

            const editorTextArea = document.getElementById("@Name");

            editor.getModel().onDidChangeContent((event) => {
                editorTextArea.value = editor.getValue();
            });
        });
    });
</script>