@using JJMasterData.Core.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model FormElementPanel

<script lang="javascript" type="text/javascript">

    $(document).ready(function () {
        saveOptions();
    });

    function save() {
        SpinnerOverlay.show();
        var url = "@Url.Action("Save", new { dictionaryName = ViewBag.DictionaryName })";
        $("form:first").attr("action", url).submit();
    }

    function copy() {
        SpinnerOverlay.show();
        var url = "@Url.Action("Copy", new { dictionaryName = ViewBag.DictionaryName })";
        $("form:first").attr("action", url).submit();
    }

    function showSuccess(fieldName) {
        $(document).ready(function () {
            $("#divSuccess").css("display", "");
            window.parent.$('#current_field').val(fieldName);
            window.parent.cmdRefresh();
        });
    }


    function addFields() {
        $('#listEnabled option:selected').remove().appendTo('#listSelected');
        saveOptions();
    }

    function saveOptions() {
        var listEnabled = "";
        $('#listEnabled option').each(function () {
            if (listEnabled.length > 0)
                listEnabled = listEnabled.concat(",");

            listEnabled = listEnabled.concat($(this).val());
        });
        $("#enabled_fields").val(listEnabled);


        var listSelected = "";
        $('#listSelected option').each(function () {
            if (listSelected.length > 0)
                listSelected = listSelected.concat(",");

            listSelected = listSelected.concat($(this).val());
        });
        console.log(listSelected);
        $("#selectedFields").val(listSelected);
    }

    function removeFields() {
        $('#listSelected option:selected').remove().appendTo('#listEnabled');
        saveOptions();
    }

    function moveUp() {
        $('#listSelected option:selected:first-child').prop("selected", false);
        before = $('#listSelected option:selected:first').prev();
        $('#listSelected option:selected').detach().insertBefore(before);
        saveOptions();
    }

    function moveDown() {
        $('#listSelected option:selected:last-child').prop("selected", false);
        after = $('#listSelected option:selected:last').next();
        $('#listSelected option:selected').detach().insertAfter(after);
        saveOptions();
    }

</script>


<div class="container-fluid jjcontainer">

    <ul class="nav nav-tabs">
        <li id="navGeneral" class="nav-item">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divGeneral">@StringLocalizer["General"]</a>
        </li>
        <li id="navAdvanced" class="nav-item">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divAdvanced">@StringLocalizer["Advanced"]</a>
        </li>
    </ul>

    @Html.HiddenFor(model => model.PanelId)
    <div class="tab-content" style="margin-top: 20px;">
        <div id="divGeneral" class="tab-pane fade">
            <partial name="_DetailData" model="Model"/>
            <partial name="_DetailFields" model="Model"/>
        </div>

        <div id="divAdvanced" class="tab-pane fade">
            <partial name="_DetailAdvanced" model="Model"/>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(ViewBag.Error)
        </div>

        <div class="col-sm-12">
            <div id="divSuccess" class="alert alert-success alert-dismissible" role="alert" style="display:none">
                <button type="button" class="@BootstrapHelper.Close" @BootstrapHelper.GetDataDismiss("alert") aria-label="Close">
                    <span aria-hidden="true">@BootstrapHelper.CloseButtonTimes</span>
                </button>
                <strong>@StringLocalizer["Sucesso!"]</strong> @StringLocalizer["Record saved successfully."]
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 jjtoolbar">

            <button type="button" class="btn btn-primary btn-small" onclick="save();">
                <span class="fa fa-check"></span>
                <span>&nbsp;@StringLocalizer["Save"]</span>
            </button>

            <a class="@BootstrapHelper.DefaultButton btn-small" href="@Url.Action("Index", new { dictionaryName = ViewBag.DictionaryName, panelId = Model.PanelId })">
                <span class="fa fa-refresh fa-fw fa-fw"></span>
                <span>&nbsp;@StringLocalizer["Refresh"]</span>
            </a>

            <a class="@BootstrapHelper.DefaultButton btn-small" href="@Url.Action("Delete", new { dictionaryName = ViewBag.DictionaryName, panelId = Model.PanelId })">
                <span class="fa fa-trash"></span>
                <span>&nbsp;@StringLocalizer["Delete"]</span>
            </a>

            <button type="button" class="@BootstrapHelper.DefaultButton btn-small" onclick="copy();">
                <span class="fa fa-files-o fa-fw fa-fw"></span>
                <span>&nbsp;@StringLocalizer["Copy"]</span>
            </button>

        </div>
    </div>


</div>