@using JJMasterData.Core.Web
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model FormElementPanel


<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-12 required">
        <label asp-for="VisibleExpression" class="@BootstrapHelper.Label" 
               data-bs-toggle="tooltip" data-toggle="tooltip"
               title="@StringLocalizer["Expression that returns a Boolean at runtime"]">@StringLocalizer["Visible Expression"]</label>
        <input type="text" asp-for="VisibleExpression" class="form-control"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-12 required">
        <label asp-for="EnableExpression" class="@BootstrapHelper.Label" data-bs-toggle="tooltip" data-toggle="tooltip" title="@StringLocalizer["Expression that returns a Boolean at runtime"]">@StringLocalizer["Enable Expression"]</label>
         <input type="text" asp-for="EnableExpression" class="form-control"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <label asp-for="CssClass" class="@BootstrapHelper.Label" data-bs-toggle="tooltip" data-toggle="tooltip" title="@StringLocalizer["Class name (CSS) to be added when rendering the object group"]">@StringLocalizer["CssClass"]</label>
         <input type="text" asp-for="CssClass" class="form-control"/>
    </div>
</div>