@using JJMasterData.Core.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model FormElementPanel

<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-4 required">
        <label class="@BootstrapHelper.Label" asp-for="Layout">@StringLocalizer["Layout"]</label>
        <select asp-for="Layout" class="form-control form-select" asp-items="Html.GetEnumSelectList<PanelLayout>()"></select>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4 required">
        <label class="@BootstrapHelper.Label" asp-for="Color" >@StringLocalizer["Color"]</label>
        <select asp-for="Color" class="form-control form-select" asp-items="Html.GetEnumSelectList<PanelColor>()"></select>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4 required" id="divExpandedByDefault">
        <label class="@BootstrapHelper.Label" asp-for="ExpandedByDefault" >@StringLocalizer["Expanded By Default"]</label>
        @Html.DropDownListFor(m => m.ExpandedByDefault, new[]
        {
            new SelectListItem { Text = StringLocalizer["Yes"], Value = "true" },
            new SelectListItem { Text = StringLocalizer["No"], Value = "false" }
        },
            new { @class = "form-control form-select" })
    </div>
</div>
<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <label asp-for="Title" class="@BootstrapHelper.Label">@StringLocalizer["Title"]</label>
        @Html.TextBoxFor(model => model.Title, new { maxlength = "64", @class = "form-control" })
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-8">
        <label asp-for="SubTitle" class="@BootstrapHelper.Label">@StringLocalizer["Sub Title"]</label>
        @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })
    </div>
</div>