@inject IStringLocalizer<MasterDataResources> StringLocalizer

@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.UI
@model JJMasterData.Core.DataDictionary.Models.FormElementPanel


<div class="row mb-3">
    <div class="col-sm-12">
        <table style="border:0px;width:100%">
            <tr>
                <td style="width:45%">
                    <label class="@BootstrapHelper.Label">@StringLocalizer["Available Fields"]</label>
                </td>
                <td style="width:70px"></td>
                <td style="width:50%">
                    <label class="@BootstrapHelper.Label required">@StringLocalizer["Selected Fields"]</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select size="10" name="listEnabled" id="listEnabled" multiple="multiple" class="form-control form-select" ondblclick="addFields()">
                        @foreach (FormElementField f in ViewBag.AvailableFields)
                        {
                            if (f.PanelId == 0)
                            {
                                <option value="@f.Name">@f.Name</option>
                            }
                        }
                    </select>
                </td>
                <td align="middle">
                    <button type="button" class="@BootstrapHelper.BtnDefault btn-small m-1 " @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Add"]" onclick="addFields();">
                        <span class="bi fa fa-angle-double-right fa-fw fa-fw"></span>
                    </button>

                    <button type="button" class="@BootstrapHelper.BtnDefault btn-small m-1 " @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Remove"]" onclick="removeFields();">
                        <span class="bi fa fa-angle-double-left fa-fw fa-fw"></span>
                    </button>
                </td>
                <td>
                    <div class="input-group">
                        <select size="10" name="listSelected" id="listSelected" multiple="multiple" class="form-control form-select" ondblclick="removeFields()">
                            @foreach (FormElementField f in ViewBag.SelectedFields)
                            {
                                if (f.PanelId == Model.PanelId)
                                {
                                    <option value="@f.Name">@f.Name</option>
                                }
                            }
                        </select>
                    </div>
                </td>
                <td align="middle">
                        <button type="button" class="@BootstrapHelper.BtnDefault btn-small m-1 " @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Move Up"]" onclick="moveUp();">
                            <span class="bi fa fa-arrow-circle-up fa-fw fa-fw"></span>
                        </button>
                        <button type="button" class="@BootstrapHelper.BtnDefault btn-small m-1 " @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Move Down"]" onclick="moveDown();">
                            <span class="bi fa fa-arrow-circle-down fa-fw fa-fw"></span>
                        </button>
                </td>
            </tr>

        </table>
    </div>

</div>