
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model EntityViewModel


<div class="row mb-3">
    <div class="col-sm-6 required">
        <div class="form-floating">
            <input asp-for="Entity.Name" placeholder="" class="form-control"  disabled="@Model.Disabled" data-bs-toggle="tooltip" title="@StringLocalizer["Unique identifier of the element."]"/>
            <label asp-for="Entity.Name" ></label>
        </div>
    </div>
    <div class="col-sm-6 required">
        <div class="form-floating">
            <input asp-for="Entity.TableName" placeholder="" class="form-control"  disabled="@Model.Disabled"  data-bs-toggle="tooltip" title="@StringLocalizer["Table where the element data is stored."]"/>
            <label asp-for="Entity.TableName" ></label>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-text">
                <input asp-for="Entity.UseReadProcedure"
                       data-bs-placement="right"
                       data-bs-toggle="tooltip"
                       title="@StringLocalizer["Enable Read Procedure"]"
                       disabled="@Model.Disabled"
                       class="form-check-input mt-0"
                       type="checkbox"
                       aria-label="Enable Read Procedure">
            </div>
            <div class="form-floating">
                <input asp-for="Entity.ReadProcedureName"  class="form-control"  disabled="@Model.Disabled" />
                <label asp-for="Entity.ReadProcedureName"></label>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <div class="input-group-text">
                <input asp-for="Entity.UseWriteProcedure" 
                       data-bs-placement="right"
                       disabled="@Model.Disabled"
                       data-bs-toggle="tooltip" 
                       title="@StringLocalizer["Enable Write Procedure"]"
                       class="form-check-input mt-0" 
                       type="checkbox" 
                       aria-label="Enable Write Procedure">
            </div>
            <div class="form-floating">
                <input asp-for="Entity.WriteProcedureName"  class="form-control"  disabled="@Model.Disabled" />
                <label asp-for="Entity.WriteProcedureName"></label>
            </div>
        </div>
    </div>
</div>

@if (!Model.Disabled)
{
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const useReadProcedureCheckbox = document.getElementById('@Html.IdFor(m=>m.Entity.UseReadProcedure)');
        const useWriteProcedureCheckbox = document.getElementById('@Html.IdFor(m=>m.Entity.UseWriteProcedure)'); 
        
        useReadProcedureCheckbox.disabled = false;
        useWriteProcedureCheckbox.disabled = false;
        
        const writeProcedureName = document.getElementById('@Html.IdFor(m=>m.Entity.WriteProcedureName)'); 
        const readProcedureName = document.getElementById('@Html.IdFor(m=>m.Entity.ReadProcedureName)'); 
        
        function toggleProcedure(checkbox, input) {
            input.readOnly = !checkbox.checked;
        }
    
        toggleProcedure(useReadProcedureCheckbox, readProcedureName);
        useReadProcedureCheckbox.addEventListener('change', function () {
            toggleProcedure(useReadProcedureCheckbox, readProcedureName);
        });
    
        
        toggleProcedure(useWriteProcedureCheckbox, writeProcedureName);
        useWriteProcedureCheckbox.addEventListener('change', function () {
            toggleProcedure(useWriteProcedureCheckbox, writeProcedureName);
        });
    });
   </script>
}
