@inject IStringLocalizer<MasterDataResources> StringLocalizer
@using JJMasterData.Core.UI
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.EntityViewModel

<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        <label asp-for="FormElement.Name" class=" col-form-label form-label">
            @StringLocalizer["Element Name"]
            <span class="fa fa-question-circle help-description" data-bs-toggle="tooltip" title="@StringLocalizer["Unique identifier of the element."]"></span>
        </label>
        @Html.TextBoxFor(model=> model.FormElement.Name, Model.HtmlAttributes)
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        <label asp-for="FormElement.TableName" class=" col-form-label form-label">
            @StringLocalizer["Table Name"]
            <span class="fa fa-question-circle help-description" data-bs-toggle="tooltip" title="@StringLocalizer["Table where the element data is stored."]"></span>
        </label>
       @Html.TextBoxFor(model => model.FormElement.TableName, Model.HtmlAttributes)
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6">
        <label asp-for="FormElement.ReadProcedureName" class=" col-form-label form-label">
            @StringLocalizer["Get Procedure Name"]
            <span class="fa fa-question-circle help-description" data-bs-toggle="tooltip" title="@StringLocalizer["Name for the procedure used to recover data."]"></span>
        </label>
        @Html.TextBoxFor(model => model.FormElement.ReadProcedureName, Model.HtmlAttributes)
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-6 ">
        <label asp-for="FormElement.ReadProcedureName" class=" col-form-label form-label">
            @StringLocalizer["Set Procedure Name"]
            <span class="fa fa-question-circle help-description" data-bs-toggle="tooltip" title="@StringLocalizer["Name for the procedure used to write data."]"></span>
        </label>
       @Html.TextBoxFor(model => model.FormElement.WriteProcedureName, Model.HtmlAttributes)
    </div>
</div>