@using JJMasterData.Commons.Dao.Entity
@model ApiViewModel

<partial name="_Menu"/>

<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <button type="button" onclick="location.href='@Url.Action("Edit",new {dictionaryName = Model.DictionaryName})'" class="@BootstrapHelper.DefaultButton btn-small">
            <span class="fa fa-pencil"></span>
            <span>&nbsp;@Translate.Key("Edit")</span>
        </button>
    </div>
</div>

<br>

<div class="@BootstrapHelper.GetPanel("default")">
    <!-- Start Form -->
    <div class="@BootstrapHelper.PanelBody">
        <table class="table">
            <caption>@Translate.Key("Enable or disable API operations")</caption>
            <thead>
                <tr>
                    <th class="jjselect"></th>
                    <th style="width: 90px">@Translate.Key("Verb")</th>
                    <th>@Translate.Key("Description")</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-info jjgrid-action">
                    <td class="jjselect">
                        @Html.CheckBox("EnableGetAll", Model.ApiSettings.EnableGetAll, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableGetAll">@Translate.Key("GET")</label>
                    </td>
                    <td>
                        <label for="EnableGetAll">@Translate.Key("Get all records")</label>
                    </td>
                </tr>
                <tr class="text-info jjgrid-action">
                    <td class="jjselect">
                        @Html.CheckBox("EnableGetDetail", Model.ApiSettings.EnableGetDetail, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableGetDetail">@Translate.Key("GET")</label>
                    </td>
                    <td>
                        <label for="EnableGetDetail">@Translate.Key("Get a record detail")</label>
                    </td>
                </tr>
                <tr class="text-success jjgrid-action">
                    <td class="jjselect">
                        @Html.CheckBox("EnableAdd", Model.ApiSettings.EnableAdd, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableAdd">@Translate.Key("POST")</label>
                    </td>
                    <td>
                        <label for="EnableAdd">@Translate.Key("Add new record")</label>
                    </td>
                </tr>
                <tr class="text-primary jjgrid-action">
                    <td class="jjselect">
                        @Html.CheckBox("EnableUpdate", Model.ApiSettings.EnableUpdate, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableUpdate">@Translate.Key("PUT")</label>
                    </td>
                    <td>
                        <label for="EnableUpdate">@Translate.Key("Update records")</label>
                    </td>
                </tr>
                <tr class="text-primary jjgrid-action">
                    <td class="jjselect">
                        @Html.CheckBox("EnableUpdatePart", Model.ApiSettings.EnableUpdatePart, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableUpdatePart">@Translate.Key("PATCH")</label>
                    </td>
                    <td>
                        <label for="EnableUpdatePart">@Translate.Key("Update some especific fields")</label>
                    </td>
                </tr>
                <tr class="text-danger jjgrid-action">
                    <td class="jjselect">
                        @Html.CheckBox("EnableDel", Model.ApiSettings.EnableDel, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableDel">@Translate.Key("DEL")</label>
                    </td>
                    <td>
                        <label for="EnableDel">@Translate.Key("Delete a record")</label>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="container-fluid">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-5">
                    <label class="@BootstrapHelper.Label " for="ApplyUserIdOn" @BootstrapHelper.GetDataToggle("tooltip") title="@Translate.Key("Json return format")">@Translate.Key("ApplyUserIdOn")</label>
                    @Html.DropDownList("ApplyUserIdOn", new[] {
                        new SelectListItem { Text = Model.ApiSettings.ApplyUserIdOn, Value = Model.ApiSettings.ApplyUserIdOn }
                    }, "(No Apply)", new { @class = "form-control", disabled = "disabled" })
                    <span id="helpBlock" class="help-block">@Translate.Key("Aways apply UserId (from login) as filter and default value on set.")</span>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2">
                    <label class="@BootstrapHelper.Label " for="AFormatType" @BootstrapHelper.GetDataToggle("tooltip") title="@Translate.Key("Json return format")">@Translate.Key("JsonFormat")</label>
                    @Html.TextBox("FormatType", Model.ApiSettings.FormatType, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2 required">
                    <label class="@BootstrapHelper.Label " for="IsSync" @BootstrapHelper.GetDataToggle("tooltip") title="Utilizado no sincronismo?">@Translate.Key("Sync")</label>
                    @Html.TextBox("IsSync", (string)(Model.IsSync ? Translate.Key("Yes") : Translate.Key("No")), new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3" id="divMode" style="visibility:@(Model.IsSync ? "visible":"hidden")">
                    <label class="@BootstrapHelper.Label " for="Mode" @BootstrapHelper.GetDataToggle("tooltip") title="Modo do sincronismo">@Translate.Key("Mode")</label>
                    @Html.TextBox("Mode", (SyncMode)Model.Mode, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

