@using JJMasterData.Core.UI.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SettingsViewModel
@inject IComponentFactory ComponentFactory
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@{
    ViewData["Title"] = StringLocalizer["Application Settings"];
}

<form asp-action="Save">
    <input asp-for="FilePath" hidden="hidden"/>

    <div class="pb-2 mb-2 border-bottom">
        <h1>
            @Html.Raw(ComponentFactory.Html.Image.CreateMasterDataLogo().GetHtml())
            <small class="sub-title">@StringLocalizer["Application Settings"]</small>
        </h1>
    </div>
    
    <div id="connection-result">
        
    </div>

    @if (!ViewData.ModelState.IsValid && Model.ValidationSummary != null)
    {
        @Html.Raw(Model.ValidationSummary.GetHtml())
    }

    <collapse-panel
        title="@StringLocalizer["Connection String"]"
        expanded-by-default="false"
        icon="@IconType.Database">
        <partial name="_ConnectionString" model="Model"/>
    </collapse-panel>

    <collapse-panel icon="Gear" title="JJMasterData.Commons" expanded-by-default="false" >
        <partial name="_Commons" for="CommonsOptions"/>
    </collapse-panel>

    <collapse-panel icon="Gear" title="JJMasterData.Core" expanded-by-default="false" >
        <partial name="_Core" for="CoreOptions"/>
    </collapse-panel>

    <collapse-panel icon="Gear" title="JJMasterData.Web" expanded-by-default="false" >
        <partial name="_Web" for="WebOptions"/>
    </collapse-panel>

    @if (Model.PathExists)
    {
    <alert icon="IconType.InfoCircle"
           color="Info"
           message="@(Model.FilePath!)"
           title="@StringLocalizer["All changes will be saved in the file located at the path:"]"/>
    }


    <div class="row">
        <div class="col-sm-12">
            <link-button
                asp-controller="Element" 
                asp-action="Index"
                icon="Home"
                text="Home"/>
            <link-button 
                type="LinkButtonType.Submit"
                color="Primary"
                icon="Check"
                text="Save"/>
        </div>
    </div>


</form>