@inject IStringLocalizer<MasterDataResources> StringLocalizer

@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.FormUI


<div class="row mb-3">
    <div class="col-sm-4">
        <checkbox for="IsVerticalLayout" layout="Switch"/>
    </div>

    <div class="col-sm-4">
        <checkbox tooltip="@StringLocalizer["When the panel is in PageState.View show only the values without the components."]" for="ShowViewModeAsStatic" layout="Switch"/>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-4 col-6">
        <div class="form-floating">
            <select asp-for="FormCols" class="form-select" data-bs-toggle="tooltip" title="@StringLocalizer["Number of columns where fields will be rendered by default."]">
                <option value="1">@StringLocalizer["1 (one column)"]</option>
                <option value="2">@StringLocalizer["2 (two columns)"]</option>
                <option value="3">@StringLocalizer["3 (three columns)"]</option>
                <option value="4">@StringLocalizer["4 (four columns)"]</option>
                <option value="6">@StringLocalizer["6 (six columns)"]</option>
                <option value="12">@StringLocalizer["12 (twelve columns)"]</option>
            </select>
            <label asp-for="FormCols"></label>
        </div>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4 col-6 required">
        <div class="form-floating">
            <select asp-for="EnterKey" class="form-control form-select" asp-items="Html.GetEnumSelectList<FormEnterKey>()"></select>
            <label asp-for="EnterKey"></label>
        </div>
    </div>
</div>