@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.FormElementOptions
@inject IStringLocalizer<MasterDataResources> StringLocalizer
<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

@{
    Layout = "_FormElementMenuLayout";
}

@using (Html.BeginMasterDataForm("Edit", "UIOptions"))
{
    <div class="row">
        <div class="col-sm-12">
            <link-button icon="SolidXmark" asp-action="Index" asp-route-elementName="@ViewData["ElementName"]" text="@StringLocalizer["Cancel"]"/>
            <link-button icon="Check" type="LinkButtonType.Submit" color="Primary" text="@StringLocalizer["Save"]"/>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(ViewBag.Error)
        </div>
    </div>

    <collapse-panel icon="Table" title="Grid View" expanded-by-default="true">
        <partial for="Grid" name="_GridView"/>
    </collapse-panel>
    <collapse-panel icon="Columns" title="Data Panel" expanded-by-default="true">
        <partial for="Form" name="_DataPanel"/>
    </collapse-panel>
    <collapse-panel icon="Gear" title="@StringLocalizer["Other Options"]" expanded-by-default="true">
        <partial model="Model" name="_Options"/>
    </collapse-panel>
}