@using JJMasterData.Core.Web
@using JJMasterData.Core.Web.Components
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer


@model FormElementField

<div class="row">
    <div class="col-sm-12">
        <jj-title title="@StringLocalizer["DataItem"]" size="HeadingSize.H4"/>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-2 required">
        <label class="@BootstrapHelper.Label" >@StringLocalizer["Type"]</label>
        <select asp-for="DataItem!.DataItemType" 
                asp-items="Enum.GetValues<DataItemType>().Select(d=> new SelectListItem(d.ToString(),d.ToString()))" onchange="this.form.requestSubmit();" class="form-control form-select">
        </select>

    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-2 required" id="divReplaceTextOnGrid">
        <label class="@BootstrapHelper.Label">@StringLocalizer["Replace Text On Grid"]</label>
        <tooltip title="Replace the field value with the description in the grid"></tooltip>
        @Html.DropDownListFor(modelItem => modelItem.DataItem!.ReplaceTextOnGrid, new[]
        {
            new SelectListItem { Text = StringLocalizer["Yes"], Value = "true" },
            new SelectListItem { Text = StringLocalizer["No"], Value = "false" }
        },
            new { @class = "form-control form-select" })
    </div>

    @if (Model.Component is FormComponent.ComboBox)
    {
        <div class="@BootstrapHelper.FormGroup col-sm-2 required" id="divFirstOption">
            <label class="@BootstrapHelper.Label">@StringLocalizer["First Option Mode"]</label>
            <select asp-for="DataItem!.FirstOption" class="form-control form-select" asp-items="Html.GetEnumSelectList<FirstOptionMode>()"></select>
        </div>
    }
    <div class="@BootstrapHelper.FormGroup col-sm-2 required">
        <label class="@BootstrapHelper.Label">@StringLocalizer["Show Icon"]</label>
        <tooltip title="Display a FontAwesome icon alongside the options"/>
        @Html.DropDownListFor(modelItem => modelItem.DataItem!.ShowIcon, new[]
        {
            new SelectListItem { Text = StringLocalizer["No"], Value = "false" },
            new SelectListItem { Text = StringLocalizer["Yes"], Value = "true" }
        },new { @class = "form-control form-select", onchange = "this.form.requestSubmit();" })
    </div>
    
    @if (Model.Component is FormComponent.ComboBox)
    {
        <div class="@BootstrapHelper.FormGroup col-sm-2 required">
            <label class="@BootstrapHelper.Label">
                @StringLocalizer["Multiselect"]
            </label>
            <tooltip title="Be careful when using this option. You should probably use this option only for WriteOnly fields or store the values in another table."/>
            <select class="form-control form-select" asp-for="DataItem!.EnableMultiSelect">
                <option value="true">@StringLocalizer["Yes"]</option>
                <option value="false">@StringLocalizer["No"]</option>
            </select>
        </div>
    }


    @switch (Model.DataItem!.DataItemType)
    {
        case DataItemType.Manual:
            <partial name="_DataItemManual" model="@Model"/>
            break;
        case DataItemType.SqlCommand:
            <partial name="_DataItemSql" model="@Model"/>
            break;
        case DataItemType.ElementMap:
            <partial name="_DataItemElementMap" model="@Model"/>
            break;
    }

</div>