@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.FormElementField


@inject IStringLocalizer<MasterDataResources> StringLocalizer
@{
    bool showIcon = Model.DataItem!.ShowIcon;
}

<div id="div-sql-command">
    <div class="@BootstrapHelper.FormGroup col-sm-12 required">
        <label asp-for="DataItem!.Command!.Sql" class="form-label"></label>
        <span class="small @BootstrapHelper.TextRight text-info">&nbsp;@StringLocalizer["(Type Ctrl+Space to autocomplete)"]</span>
        <div class="well" style="margin-bottom: 0">
            <code-editor asp-for="DataItem!.Command!.Sql" language="sql" height="300"/>
        </div>
    </div>
    <collapse-panel color="Info" title="@StringLocalizer["Data Item SQL Query"]" icon="InfoCircle" expanded-by-default="true">
        <span>@StringLocalizer["The query result must contain these columns in the following order:"]</span>
        <ol>
            <li>@StringLocalizer["Id"]</li>
            <li>@StringLocalizer["Description"]</li>
            @if (showIcon)
            {
                <li>
                    <a href="https://md.jjconsulting.tech/api/JJMasterData.Core.DataDictionary.IconType.html">@StringLocalizer["Icon Id"]</a>
                </li>
                <li>@StringLocalizer["Icon Color in Hexadecimal"]</li>
            }
            @if (Model.Component is FormComponent.ComboBox)
            {
                <li>@StringLocalizer["Group (optional)"]</li>
            }
        </ol>
        @{
            var isDynamicAtGrid = Model.DataItem.GridBehavior is not DataItemGridBehavior.Id;
            var isSearch = Model.Component is FormComponent.Search;
        }
        @if(isDynamicAtGrid || isSearch)
        {
            <span>@StringLocalizer["We recommend using the following parameters in the query:"]</span><br/>
            <ul>
                @if (isDynamicAtGrid)
                {
                <li>
                    @StringLocalizer["{SearchId}: Id of the column used at the grid for recovering the description."]
                </li>
                }
                @if (isSearch)
                {
                <li>
                    @StringLocalizer["{SearchText}: Typed text that can be used with the SQL query."]
                </li>
                }
            </ul>
        }

    </collapse-panel>



    <br/>


</div>