@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.UI.Components
@using JJMasterData.Core.UI
@using JJMasterData.Web.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.FormElementField

@inject IStringLocalizer<MasterDataResources> StringLocalizer
@{
    bool showImage = Model.DataItem!.ShowIcon;
}

<script lang="javascript" type="text/javascript">
   

    function addDataItem(qtd) {
        SpinnerOverlay.show();
        $("<input>").attr({
            type: "hidden",
            id: "qtdRowsToAdd",
            name: "qtdRowsToAdd",
            value: qtd
        }).appendTo(getMasterDataForm());

        const url = "@Url.Action("AddDataItem", new { elementName = ViewBag.ElementName })";
        $(getMasterDataForm()).attr("action", url).submit();
    }

    function removeDataItem(dataItemIndex) {
        SpinnerOverlay.show();
        $("<input>").attr({
            type: "hidden",
            id: "dataItemIndex",
            name: "dataItemIndex",
            value: dataItemIndex
        }).appendTo(getMasterDataForm());

        const url = "@Url.Action("RemoveDataItem", new { elementName = ViewBag.ElementName })";
        $(getMasterDataForm()).attr("action", url).submit();
    }

    function removeAllDataItem() {
        SpinnerOverlay.show();
        const url = "@Url.Action("RemoveAllDataItem", new { elementName = ViewBag.ElementName })";
        $(getMasterDataForm()).attr("action", url).submit();
    }
</script>


<div id="divManualValues" class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th style="width:9.375rem;">@StringLocalizer["Id"]</th>
            <th>@StringLocalizer["Description"]</th>
            @if (showImage)
            {
                <th>@StringLocalizer["IconId"]</th>
                <th style="width:3.75rem">@StringLocalizer["Color"]</th>
            }
            @if (Model.Component is FormComponent.ComboBox)
            {
                <th style="width:12.5rem">@StringLocalizer["Group"]</th>
            }
            <th style="width:3.75rem"></th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.DataItem.Items?.Count; i++)
        {
            <tr>
                <td>
                    @Html.TextBox(Html.NameFor(m => m.DataItem!.Items![i].Id),
                        Model.DataItem.Items[i].Id, new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox(Html.NameFor(m => m.DataItem!.Items![i].Description),
                        Model.DataItem.Items[i].Description, new { @class = "form-control" })
                </td>

                @if (showImage)
                {
                    <td>
                        <div class="row" style="position:relative">
                            @{
                                var value = Model.DataItem.Items[i].Icon;
                            }
                            <icon-picker id="@Html.IdFor(m => m.DataItem!.Items![i].Icon)" name="@Html.NameFor(m => m.DataItem!.Items![i].Icon)" value="value"/>
                        </div>
                    </td>
                    <td align="center" valign="middle">
                        @Html.TextBox(Html.NameFor(m => m.DataItem!.Items![i].IconColor),
                            Model.DataItem.Items[i].IconColor, new { @class = "form-control form-control-color", type = "color" })
                    </td>
                }
                @if (Model.Component is FormComponent.ComboBox)
                {
                    <td>
                        @Html.TextBox(Html.NameFor(m => m.DataItem!.Items![i].Group),
                            Model.DataItem.Items[i].Group, new { @class = "form-control" })
                    </td>
                }
                <td align="center" valign="middle">
                    <link-button icon="RegularTrashCan" type="LinkButtonType.Link" show-as-button="false" tooltip="Remove" on-client-click="removeDataItem(@i);"/>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="@(showImage ? 6 : 4)">
                <div class="btn-group dropup">
                    <link-button text="Add" icon="PlusCircle" on-client-click="addDataItem(1)"/>
                    <button type="button" class="@BootstrapHelper.BtnDefault btn-small dropdown-toggle" @BootstrapHelper.GetDataToggle("dropdown") aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">@StringLocalizer["Toggle Dropdown"]</span>
                    </button>
                    <ul class="dropdown-menu">
                        @for (var i = 2; i <= 10; i++)
                        {
                            <li>
                                <a class="dropdown-item" href="javascript:addDataItem(@i);">@i @StringLocalizer["Lines"]</a>
                            </li>
                        }
                    </ul>
                </div>

                <button class="@BootstrapHelper.BtnDefault btn-small" onclick="removeAllDataItem();">
                    <span class="fa fa-trash"></span>
                    <span>&nbsp;@StringLocalizer["Remove All"]</span>
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>