@using JJMasterData.Core.UI
@using JJMasterData.Core.DataDictionary.Models
@model JJMasterData.Core.DataDictionary.Models.FormElementField
@inject IStringLocalizer<MasterDataResources> StringLocalizer

<collapse-panel title="@StringLocalizer["Element Map"]" expanded-by-default="true" icon="Map">
    <div class="row">
        <div class="@BootstrapHelper.FormGroup col-sm-12 required">
            <label class="@BootstrapHelper.Label ">@StringLocalizer["Element Name"]</label>
            @Html.DropDownListFor(modelItem => modelItem.DataItem!.ElementMap!.ElementName,
                new SelectList(ViewBag.ElementNameList, "Key", "Value"),
                new { @class = "form-control form-select", onchange = "document.forms[0].submit();" })
        </div>
        <div class="@BootstrapHelper.FormGroup col-sm-3 required">
            <label class="@BootstrapHelper.Label">@StringLocalizer["Id"]</label>
            @Html.DropDownListFor(modelItem => modelItem.DataItem!.ElementMap!.IdFieldName,
                new SelectList(ViewBag.ElementFieldList, "Key", "Value"),
                new { @class = "form-control form-select" })
        </div>
        <div class="@BootstrapHelper.FormGroup col-sm-3">
            <label class="@BootstrapHelper.Label">@StringLocalizer["Description"]</label>
            @Html.DropDownListFor(modelItem => modelItem.DataItem!.ElementMap!.DescriptionFieldName,
                new SelectList(ViewBag.ElementFieldList, "Key", "Value"),
                new { @class = "form-control form-select" })
        </div>

        @if (Model.Component is FormComponent.ComboBox or FormComponent.Search or FormComponent.RadioButtonGroup && Model.DataItem!.ShowIcon)
        {
            <div class="@BootstrapHelper.FormGroup col-sm-3">
                <label class="@BootstrapHelper.Label">@StringLocalizer["Icon"]</label>
                @Html.DropDownListFor(modelItem => modelItem.DataItem!.ElementMap!.IconIdFieldName,
                    new SelectList(ViewBag.ElementFieldList, "Key", "Value"),
                    new { @class = "form-control form-select" })
            </div>
            <div class="@BootstrapHelper.FormGroup col-sm-3">
                <label class="@BootstrapHelper.Label">@StringLocalizer["Icon Color"]</label>
                @Html.DropDownListFor(modelItem => modelItem.DataItem!.ElementMap!.IconColorFieldName,
                    new SelectList(ViewBag.ElementFieldList, "Key", "Value"),
                    new { @class = "form-control form-select" })
            </div>
        }
    </div>
</collapse-panel>

<partial name="_DataItemElementMapFilter" model="null"/>
<div class="row">
    <div class="col-sm-12">
       
        <table class="table table-bordered table-hover">
            <tbody>
            @for (var i = 0; i < Model.DataItem!.ElementMap!.MapFilters.Count; i++)
            {
                var index = i;
                var mapFilter = Model.DataItem.ElementMap.MapFilters[i];
                <tr>
                    <td>
                        @mapFilter.FieldName<i class="fa-solid fa-arrow-right"></i>@mapFilter.ExpressionValue
                        @Html.HiddenFor(x => x.DataItem!.ElementMap!.MapFilters[index].FieldName, mapFilter.FieldName)
                        <div style="display:none">
                            <expression for="@Model.DataItem!.ElementMap!.MapFilters[index].ExpressionValue" value="mapFilter.ExpressionValue"/>
                        </div>
                    </td>
                    <td style="width:80px;" align="center">
                        <a href="#" @BootstrapHelper.GetDataToggle("tooltip") title="Delete" onclick="removeElementMapFilter('@mapFilter.FieldName');">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
       
    </div>
</div>

