@using JJMasterData.Core.UI.Components
@model JJMasterData.Core.DataDictionary.Models.FormElementField

@functions {

    private void ConfigureSlider(JJSlider slider)
    {
        slider.MinValue = 0;
        slider.MaxValue = 28;
        slider.Name = @Html.NameFor(m => m.DataFile!.MaxFileSize);
        slider.Value = Model.DataFile!.MaxFileSize;
        slider.Enabled = true;
        slider.CssClass = "row";
    }

}

@inject IStringLocalizer<MasterDataResources> StringLocalizer

@section Scripts{
    <script lang="javascript" type="text/javascript">
    
        $(document).ready(function () {
            $("#DataFile_MultipleFile").change(function () {
    
                var ischecked = $(this).prop('checked');
                var exportLink = $("#DataFile_ExportAsLink");
                if (ischecked) {
                    exportLink.bootstrapToggle('off');
                    exportLink.bootstrapToggle('disable');
                }
                else {
                    exportLink.bootstrapToggle('enable');
                }
            });
        });
    </script>
}

<div class="row">
    <div class="col-sm-12">
        <h4>@StringLocalizer["DataFile"]</h4>
        <hr/>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-12 required">
        <div class="form-floating">
            <input asp-for="DataFile!.FolderPath" maxlength="400" class="form-control"  placeholder="" />
            <label asp-for="DataFile!.FolderPath"></label>
        </div>
        <span class="help-block">
            @StringLocalizer["You can use for example:"] {app.path}/Files/ExampleFolder
        </span>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        <div class="form-floating">
            <input asp-for="DataFile!.AllowedTypes" maxlength="255" class="form-control"  placeholder="" />
            <label asp-for="DataFile!.AllowedTypes"></label>
        </div>
        <span class="help-block">@StringLocalizer["File types separated with comma ex: txt,csv,xlsx. In * mode system files are blocked"]</span>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-6 required">
        @Html.LabelFor(m => m.DataFile!.MaxFileSize, new { @class = BootstrapHelper.Label })
        <slider configure="ConfigureSlider"/>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <checkbox for="DataFile!.ViewGallery" switch="true"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <checkbox for="DataFile!.DragDrop" switch="true"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <checkbox for="DataFile!.MultipleFile" switch="true"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <checkbox for="DataFile!.ExportAsLink" switch="true"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <checkbox for="DataFile!.AllowPasting" switch="true"/>
    </div>
    <div class="@BootstrapHelper.FormGroup col-sm-4">
        <checkbox for="DataFile!.ShowAsUploadView" switch="true"/>
    </div>
    <div class="row">
        <span>
            <span class="fa fa-info-circle" style="color:#005a86"></span>&nbsp;<a target="_blank" href="https://md.jjconsulting.tech/articles/expressions.html">@StringLocalizer["Need more help ?"]</a>
        </span>
    </div>

</div>