@using JJMasterData.Core.Web
@using JJMasterData.Core.Web.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model FormElementField


<div class="row">
    <div class="col-sm-12">
        <jj-title title="@StringLocalizer["DataItem"]" size="HeadingSize.H4"/>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-3 required">
        <label class="@BootstrapHelper.Label" asp-for="DataItem!.DataItemType" >@StringLocalizer["Type"]</label>
        <select asp-for="DataItem!.DataItemType" onchange="this.form.requestSubmit();" class="form-control form-select">
            <option selected="selected" value="@((int)DataItemType.ElementMap)">@DataItemType.ElementMap.ToString()</option>
        </select>
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-3 required" id="divReplaceTextOnGrid">
        <label asp-for="DataItem!.ReplaceTextOnGrid" class="@BootstrapHelper.Label">@StringLocalizer["Replace Text On Grid"]</label>
        <tooltip title="Replace the field value with the description in the grid"></tooltip>
        @Html.DropDownListFor(modelItem => modelItem.DataItem!.ReplaceTextOnGrid, new[]
        {
            new SelectListItem { Text = StringLocalizer["Yes"], Value = "true" },
            new SelectListItem { Text = StringLocalizer["No"], Value = "false" }
        },
            new { @class = "form-control form-select" })
    </div>

    <div class="@BootstrapHelper.FormGroup col-sm-2 required">
        <label class="@BootstrapHelper.Label" asp-for="DataItem!.ElementMap!.EnableElementActions"  >@StringLocalizer["Enable Element Actions"]</label>
        @Html.DropDownListFor(modelItem => modelItem.DataItem!.ElementMap!.EnableElementActions, new[]
        {
            new SelectListItem { Text = StringLocalizer["No"], Value = "false" },
            new SelectListItem { Text = StringLocalizer["Yes"], Value = "true" }
        },
            new { @class = "form-control form-select" })
    </div>
    
    <partial name="_DataItemElementMap"/>
    
</div>