@using JJMasterData.Web.Areas.DataDictionary.Models.ViewModels
@model UIOptions


<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

<partial name="_Menu" model="@(new DataDictionaryViewModel(ViewBag.DictionaryName, ViewBag.MenuId))"/>

@using (Html.BeginForm("Edit", "UIOptions", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="@BootstrapHelper.DefaultButton btn-small">
                <span class="fa fa-check"></span>
                <span>&nbsp;@Translate.Key("Save")</span>
            </button>
            <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="location.href='@Url.Action("Index", new { dictionaryName = ViewBag.DictionaryName })'">
                <span class="fa fa-times">
                </span>
                <span>&nbsp;@Translate.Key("Cancel")</span>
            </button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(ViewBag.Error)
        </div>
    </div>

    <jj-collapse-panel model="Model" title="GridView" partial="_GridView" expanded-by-default="true"/>
    <jj-collapse-panel model="Model" title="FormView" partial="_FormView" expanded-by-default="true"/>
}