@inject ThemeService ThemeService;
@using JJMasterData.Web.Services
@model JJMasterData.Web.Areas.MasterData.Models.AboutViewModel;

@{
    Layout = "_MasterDataLayout.Popup";
}

<div class="col-xs-12 text-center h-100 d-inline-block p-4 text-primary">
    <div>
        <h1>
            <img src="~/@ThemeService.GetLogoPath()" style="width:25%;height:25%" alt="JJMasterData"/></h1>
    </div>
</div>
<div class="col-xs-12">
    <br />
</div>
<div class="col-xs-12">

    <div class="@BootstrapHelper.GetPanel("default")">
        <div class="@BootstrapHelper.GetPanelHeading("default")">
            <h5>
                <span class="text-info fa fa-info-circle"></span>
                &nbsp;@Translate.Key("System Version")
            </h5>
        </div>
        <div class="@BootstrapHelper.PanelBody">
            <div class="@(BootstrapHelper.Version != 3 ? "container-fluid" : string.Empty)">
                <div class="row">
                    <div class="col-xs-12">
                        <b>@Model.ExecutingAssemblyProduct</b>
                        <br/>
                        Version: @Model.ExecutingAssemblyVersion
                        <br/>
                        @Model.ExecutingAssemblyCopyright
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group">

        @foreach (var assembly in Model.Dependencies!)
        {
            <li class="list-group-item">
                <span>@assembly.GetName().Name</span>
                <br />
                <span>Version: @assembly.GetName().Version?.ToString()</span>
                <br />
            </li>
        }
        <li class="list-group-item">
            <span>Bootstrap</span>
            <br />
            <span>Version: @Model.BootstrapVersion</span>
        </li>
    </ul>
</div>

<div class="col-xs-12">
    <hr />
    <span class="text-warning fa fa-exclamation-triangle"></span>
    <span class="small">
        @Translate.Key("Warning: This software is protected by the GPL license.")
        @Translate.Key("For more information, please check our ") <a href="https://github.com/JJConsulting/JJMasterData/blob/main/LICENSE">@Translate.Key("LICENSE").</a>
    </span>
</div>