@using JJMasterData.Core.Web.Components
@using JJMasterData.Web.Extensions
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.OptionsViewModel

@{
    ViewData["Title"] = "Options";
}

@{
    Layout = "_MasterDataLayout.Popup";
}

<form>
    <input asp-for="FilePath" hidden="hidden"/>
    <input asp-for="IsFullscreen" hidden="hidden"/>

    @if (Model.IsFullscreen)
    {
        <jj-title title="Application Settings"/>
    }

    @if (Model.PathExists)
    {
        <jj-alert icon="IconType.InfoCircle"
                  color="Info"
                  message="@Model.FilePath"
                  title="All changes will be saved in the file located at the path:"/>
    }
    
    @if (Model is { IsConnectionSuccessful:true })
    {
        <jj-alert
            title="Success"
            message="Connection successfully estabilished."
            icon="@IconType.CheckCircle"
            color="@PanelColor.Success"/>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        @Model.ValidationSummary?.GetHtmlString()
    }

    <jj-collapse-panel
        title="Connection String"
        partial="_ConnectionString"
        model="Model"
        icon="@IconType.Connectdevelop"/>

    <div class="row">
        <div class="col-sm-12">
            @if (Model.IsFullscreen)
            {
                <jj-link-button 
                    url-action="/en-us/DataDictionary/" 
                    icon="Home" 
                    text="Home"/>
            }
            <jj-link-button type="LinkButtonType.Submit" 
                            url-action="@Url.Action("Save", "Options")" 
                            icon="Save" 
                            text="Save"/>
        </div>
    </div>


</form>