@inject IStringLocalizer<MasterDataResources> StringLocalizer
@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ValidationSummaryTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.ValidationSummaryTagHelper
@model JJMasterData.Web.Areas.DataDictionary.Models.EntityViewModel;

@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["Entity"]}";
    Layout = "_FormElementMenuLayout";
    ViewData["ElementName"] = Model.ElementName;
    ViewData["MenuId"] = "Entity";
}


@using (Html.BeginMasterDataForm("Edit", "Entity"))
{
    <div class="row">
        <div class="col-sm-12">
            <link-button text="@StringLocalizer["Cancel"]" icon="SolidXmark" asp-action="Index" asp-route-elementName="@Model.ElementName"/>
            <link-button text="@StringLocalizer["Save"]" color="Primary" icon="Check" type="LinkButtonType.Submit"/>
        </div>
    </div>
    <br>

    <collapse-panel icon="Book" title="@StringLocalizer["Element"]" expanded-by-default="true">
        <partial name="_ElementPanel" model="Model"/>
    </collapse-panel>

    <collapse-panel icon="RegularRectangleList" title="@StringLocalizer["Form Title"]" expanded-by-default="true">
        <partial name="_FormTitle" model="Model"/>
    </collapse-panel>
    
    if (Model.FormEvent != null)
    {
        <partial name="_Events" model="Model"/>
    }
    <input asp-for="ElementName" hidden="hidden"/>

    <br />

    <div class="col-sm-12">
        <validation-summary/>
    </div>

    <br/>
}

