@using JJMasterData.Web.TagHelpers
@using JJMasterData.Core.DataDictionary.Models
@model JJMasterData.Core.DataDictionary.Models.FormElementValidation
@inject IStringLocalizer<MasterDataResources> StringLocalizer

<script type="text/javascript">
    function saveValidation() {
        SpinnerOverlay.show();
        const form = getMasterDataForm();
        form.action = "@Url.Action("Save", new { elementName = ViewBag.ElementName })";
        form.submit();
    }
</script>

<div class="container-fluid">
    @Html.HiddenFor(model => model.Id)

    <div class="row mt-4 mb-3">
        <div class="col-sm-6">
            <div class="form-floating">
                <input asp-for="Name" class="form-control" placeholder="">
                <label asp-for="Name"></label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating">
                <select asp-for="Language" class="form-select" asp-items="Html.GetEnumSelectList<ValidationType>()"></select>
                <label>@StringLocalizer["Validation Type"]</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <label class="form-label">@StringLocalizer["Script"] <tooltip title="@StringLocalizer["Return one column with the error message or two columns with field and message. Column names do not matter."]"/></label>
            <code-editor asp-for="Script" language="sql" height="320" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <div asp-validation-summary="ModelOnly"></div>
        </div>
    </div>

    <div class="col-sm-12 jjtoolbar">
        <hr/>
        <link-button text="Save" color="Primary" icon="Check" on-client-click="saveValidation()"/>
        <link-button text="Refresh" icon="Refresh" asp-action="Index" asp-route-elementName="@ViewBag.ElementName" asp-route-validationId="@Model.Id"/>
        @if (Model.Id > 0)
        {
            <link-button text="Delete" icon="SolidTrashCan" asp-action="Delete" asp-route-elementName="@ViewBag.ElementName" asp-route-validationId="@Model.Id"/>
        }
    </div>
</div>
