@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.UI
@model JJMasterData.Core.DataDictionary.Models.FormElementOptions


<div class="row">
    <div class="col-sm-4">
        <label class="@BootstrapHelper.Label" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Number of columns where fields will be rendered by default"]">@StringLocalizer["FormCols"]</label>
        @Html.DropDownListFor(model => Model.Form.FormCols, new[]
        {
            new SelectListItem { Text = StringLocalizer["1 (one column)"], Value = "1" },
            new SelectListItem { Text = StringLocalizer["2 (two columns)"], Value = "2" },
            new SelectListItem { Text = StringLocalizer["3 (three columns)"], Value = "3" },
            new SelectListItem { Text = StringLocalizer["4 (four columns)"], Value = "4" },
            new SelectListItem { Text = StringLocalizer["6 (six columns)"], Value = "6" },
            new SelectListItem { Text = StringLocalizer["12 (twelve columns)"], Value = "12" },
        }, new { @class = "form-control" })
    </div>
    
    <div class="col-sm-4">
        <label class="@BootstrapHelper.Label" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Horizontal label layout on left side of field, vertical label layout above field"]">@StringLocalizer["LayoutFields"]</label>
        @Html.DropDownListFor(model => Model.Form.IsVerticalLayout, new[]
        {
            new SelectListItem { Text = StringLocalizer["VERTICAL"], Value = "true" },
            new SelectListItem { Text = StringLocalizer["HORIZONTAL"], Value = "false" }
        }, new { @class = "form-control"})
    </div>
    
    <div class="col-sm-4">
        <label class="@BootstrapHelper.Label" asp-for="Form.ShowViewModeAsStatic"></label>
        <tooltip title="When the panel is in PageState.View show only the values without the components."/>
        <checkbox for="Form.ShowViewModeAsStatic" switch="true"/>
    </div>
    
    <div class="@BootstrapHelper.FormGroup col-sm-4 required">
        <label class="@BootstrapHelper.Label " for="FormEnterKey" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Behavior of the Enter key on the form"]">@StringLocalizer["EnterKey"]</label>
        <select asp-for="Form.EnterKey" class="form-control form-select" asp-items="Html.GetEnumSelectList<FormEnterKey>()"></select>
    </div>
</div>