@inject IStringLocalizer<MasterDataResources> StringLocalizer

@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.UI
@model JJMasterData.Core.DataDictionary.Models.FormUI

<div class="row">
    <div class="col-sm-3">
        <label class="@BootstrapHelper.Label"  asp-for="FormCols"></label>
        <tooltip title="@StringLocalizer["Number of columns where fields will be rendered by default."]"/>
        
        @Html.DropDownListFor(model => Model.FormCols, new[]
        {
            new SelectListItem { Text = StringLocalizer["1 (one column)"], Value = "1" },
            new SelectListItem { Text = StringLocalizer["2 (two columns)"], Value = "2" },
            new SelectListItem { Text = StringLocalizer["3 (three columns)"], Value = "3" },
            new SelectListItem { Text = StringLocalizer["4 (four columns)"], Value = "4" },
            new SelectListItem { Text = StringLocalizer["6 (six columns)"], Value = "6" },
            new SelectListItem { Text = StringLocalizer["12 (twelve columns)"], Value = "12" },
        }, new { @class = "form-select" })
    </div>
    
    <div class="col-sm-3">
       <label class="@BootstrapHelper.Label" asp-for="IsVerticalLayout"></label>
       <checkbox for="IsVerticalLayout" switch="true"/>
    </div>
    
    <div class="col-sm-3">
        <label class="@BootstrapHelper.Label" asp-for="ShowViewModeAsStatic"></label>
        <tooltip title="@StringLocalizer["When the panel is in PageState.View show only the values without the components."]"/>
        <checkbox for="ShowViewModeAsStatic" switch="true"/>
    </div>
    
    <div class="@BootstrapHelper.FormGroup col-sm-3 required">
        <label class="@BootstrapHelper.Label " asp-for="EnterKey"></label>
        <select asp-for="EnterKey" class="form-control form-select" asp-items="Html.GetEnumSelectList<FormEnterKey>()"></select>
    </div>
</div>