@using JJMasterData.Core.Web
@model FormElementOptions
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_ShowTitle">
                    @Html.CheckBoxFor(model => Model.Grid.ShowTitle)
                    <b>ShowTitle</b><br/>
                    @StringLocalizer["Show title in page header"]
                </label>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_EnableSorting">
                    @Html.CheckBoxFor(model => Model.Grid.EnableSorting)
                    <b>@StringLocalizer["EnableSorting"]</b><br/>
                    @StringLocalizer["Enable Column Sorting"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_EnableMultSelect">
                    @Html.CheckBoxFor(model => Model.Grid.EnableMultSelect)
                    <b>@StringLocalizer["Enable MultSelect"]</b><br/>
                    @StringLocalizer["Allows you to select multiple lines in the grid"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_MaintainValuesOnLoad">
                    @Html.CheckBoxFor(model => Model.Grid.MaintainValuesOnLoad)
                    <b>@StringLocalizer["MaintainValuesOnLoad"]</b><br/>
                    @StringLocalizer["Maintains grid filters, order and pagination"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_ShowRowHover">
                    @Html.CheckBoxFor(model => Model.Grid.ShowRowHover)
                    <b>@StringLocalizer["ShowRowHover"]</b><br/>
                    @StringLocalizer["Change a line color on mouseover"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_ShowRowStriped">
                    @Html.CheckBoxFor(model => Model.Grid.ShowRowStriped)
                    <b>@StringLocalizer["ShowRowStriped"]</b><br/>
                    @StringLocalizer["display zebra columns"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_ShowBorder">
                    @Html.CheckBoxFor(model => Model.Grid.ShowBorder)
                    <b>@StringLocalizer["ShowBorder"]</b><br/>
                    @StringLocalizer["Show border on grid"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_ShowToolBar">
                    @Html.CheckBoxFor(model => Model.Grid.ShowToolBar)
                    <b>@StringLocalizer["ShowToolbar"]</b><br/>
                    @StringLocalizer["Show ToolBar on grid"]
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_ShowPagging">
                    @Html.CheckBoxFor(model => Model.Grid.ShowPagging)
                    <b>@StringLocalizer["ShowPagging"]</b><br/>
                    @StringLocalizer["Displays paging controls"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="@BootstrapHelper.Label" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Total Records per page"]">@StringLocalizer["TotalPerPage"]</label>
            @Html.TextBoxFor(model => Model.Grid.TotalPerPage, new { text = "5", @class = "form-control", width = "90px" })
        </div>

        <div class="col-sm-4">
            <label class="@BootstrapHelper.Label" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Total buttons on paging"]">@StringLocalizer["TotalPaggingButton"]</label>
            @Html.TextBoxFor(model => Model.Grid.TotalPaggingButton, new { text = "5", @class = "form-control", width = "90px", style = "margin-botton:10px" })
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_ShowHeaderWhenEmpty">
                    @Html.CheckBoxFor(model => Model.Grid.ShowHeaderWhenEmpty)
                    <b>@StringLocalizer["ShowHeaderWhenEmpty"]</b><br/>
                    @StringLocalizer["Indicates whether the gridview header will be visible when there is no data"]
                </label>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="@BootstrapHelper.Label" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Text applied when there are no records to be applied"]">@StringLocalizer["EmptyDataText"]</label>
            @Html.TextBoxFor(model => Model.Grid.EmptyDataText, new { text = "There is no record to apply", @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="checkbox">
                <label for="Grid_HeaderFixed">
                    @Html.CheckBoxFor(model => Model.Grid.HeaderFixed)
                    <b>@StringLocalizer["Header Fixed"]</b><br/>
                    @StringLocalizer["Fix the grid header when scrolling"]
                </label>
            </div>
        </div>
    </div>
</div>
