@using JJMasterData.Core.UI
@model JJMasterData.Core.DataDictionary.Models.GridUI
@inject IStringLocalizer<MasterDataResources> StringLocalizer

<div class="container-fluid">
    
    <div class="row mb-3">
        <div class="col-sm-3">
            <checkbox for="ShowTitle" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox for="EnableSorting" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox tooltip="@StringLocalizer["Allows you to select multiple lines in the grid."]" for="EnableMultiSelect" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox for="IsCompact" switch="true"/>
        </div>
        
    </div>

    <div class="row mb-3">
        <div class="col-sm-3">

            <checkbox for="ShowRowHover" tooltip="@StringLocalizer["Change the line color on mouseover."]" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox for="ShowRowStriped" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox for="ShowBorder" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox for="ShowToolBar" switch="true"/>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3">
            <checkbox for="UseVerticalLayoutAtFilter" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox for="HeaderFixed" switch="true"/>
        </div>

        <div class="col-sm-3">
            <checkbox for="ShowHeaderWhenEmpty" switch="true"/>
        </div>
        <div class="col-sm-3">
            <checkbox tooltip="@StringLocalizer["Filters, sorting and grid settings are saved."]" for="MaintainValuesOnLoad" switch="true"/>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3">
            <checkbox for="ShowPagging" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="RecordsPerPage"></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="RecordsPerPage">
                <link-button icon="SolidGaugeHigh" tooltip="@StringLocalizer["Maximum possible records"]" color="Default" on-client-click="setMaxRecordsPerPage()"/>
            </div>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="TotalPaggingButton"></label>
            <input asp-for="TotalPaggingButton" class="form-control">
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="EmptyDataText"></label>
            <tooltip title="@StringLocalizer["Text shown when there are no records."]"/>
            <input asp-for="EmptyDataText" class="form-control"/>
        </div>
    </div>

</div>

<script>
    function setMaxRecordsPerPage(){
        document.getElementById('@Html.IdFor(m => m.RecordsPerPage)').value = '@int.MaxValue';
    }
</script>