@using JJMasterData.Core.UI
@model JJMasterData.Core.DataDictionary.Models.GridUI
@inject IStringLocalizer<MasterDataResources> StringLocalizer

<div class="row mb-3">
    <div class="col-sm-3">
        <checkbox for="ShowTitle" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox for="EnableSorting" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox tooltip="@StringLocalizer["Allows you to select multiple lines in the grid."]" for="EnableMultiSelect" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox for="IsCompact" switch="true"/>
    </div>
        
</div>

<div class="row mb-3">
    <div class="col-sm-3">
        <checkbox for="ShowRowHover" tooltip="@StringLocalizer["Change the line color on mouseover."]" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox for="ShowRowStriped" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox for="ShowBorder" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox for="ShowToolBar" switch="true"/>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3">
        <checkbox for="ShowPagging" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox for="HeaderFixed" switch="true"/>
    </div>

    <div class="col-sm-3">
        <checkbox for="ShowHeaderWhenEmpty" switch="true"/>
    </div>
    <div class="col-sm-3">
        <checkbox tooltip="@StringLocalizer["Filters, sorting and grid settings are saved."]" for="MaintainValuesOnLoad" switch="true"/>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-6">
        <checkbox for="UseVerticalLayoutAtFilter" switch="true"/>
    </div>
</div>
    
<div class="row mb-3">
    <div class="col-sm-4 mb-3">
        <div class="input-group">
            <div class="form-floating">
                <input type="text" class="form-control" asp-for="RecordsPerPage" placeholder="" >
                <label asp-for="RecordsPerPage"></label>
            </div>
            <div class="input-group-text" onclick="setMaxRecordsPerPage()" data-bs-toggle="tooltip" title="@StringLocalizer["Maximum possible records"]">
                <icon icon="SolidGaugeHigh"></icon>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-3">
        <div class="form-floating">
            <input asp-for="TotalPaggingButton" class="form-control" placeholder="" >
            <label asp-for="TotalPaggingButton"></label>
        </div>

    </div>

    <div class="col-sm-4 mb-3">
        <div class="form-floating">
            <input asp-for="EmptyDataText" placeholder="" class="form-control" data-bs-toggle="tooltip" title="@StringLocalizer["Text shown when there are no records."]"/>
            <label asp-for="EmptyDataText"></label>
        </div>
    </div>
</div>

<script>
    function setMaxRecordsPerPage(){
        document.getElementById('@Html.IdFor(m => m.RecordsPerPage)').value = '@int.MaxValue';
    }
</script>