@using JJMasterData.Core.UI
@model JJMasterData.Core.DataDictionary.Models.GridUI
@inject IStringLocalizer<MasterDataResources> StringLocalizer

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="ShowTitle"></label>
            <checkbox for="ShowTitle" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="EnableSorting"></label>
            <checkbox for="EnableSorting" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="EnableMultiSelect"></label>
            <tooltip title="@StringLocalizer["Allows you to select multiple lines in the "]"/>
            <checkbox for="EnableMultiSelect" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="MaintainValuesOnLoad"></label>
            <tooltip title="@StringLocalizer["Filters, sorting and grid settings are saved."]"/>
            <checkbox for="MaintainValuesOnLoad" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="ShowRowHover"></label>
            <tooltip title="@StringLocalizer["Change the line color on mouseover."]"/>
            <checkbox for="ShowRowHover" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="ShowRowStriped"></label>
            <checkbox for="ShowRowStriped" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="ShowBorder"></label>
            <checkbox for="ShowBorder" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="ShowToolBar"></label>
            <checkbox for="ShowToolBar" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="UseVerticalLayoutAtFilter"></label>
            <checkbox for="UseVerticalLayoutAtFilter" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="HeaderFixed"></label>
            <checkbox for="HeaderFixed" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="ShowHeaderWhenEmpty"></label>
            <checkbox for="ShowHeaderWhenEmpty" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="IsCompact"></label>
            <checkbox for="IsCompact" switch="true"/>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="ShowPagging"></label>
            <checkbox for="ShowPagging" switch="true" />
        </div>
        
        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="RecordsPerPage"></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="RecordsPerPage">
                <link-button icon="SolidGaugeHigh" tooltip="@StringLocalizer["Maximum possible records"]" color="Default" on-client-click="setMaxRecordsPerPage()"/>
            </div>
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="TotalPaggingButton"></label>
            <input asp-for="TotalPaggingButton" class="form-control">
        </div>

        <div class="col-sm-3">
            <label class="@BootstrapHelper.Label" asp-for="EmptyDataText"></label>
            <tooltip title="@StringLocalizer["Text shown when there are no records."]"/>
            <input asp-for="EmptyDataText" class="form-control"/>
        </div>
    </div>
</div>

<script>
    function setMaxRecordsPerPage(){
        document.getElementById('@Html.IdFor(m=>m.RecordsPerPage)').value = '@int.MaxValue';
    }
</script>
