@using JJMasterData.Web.Areas.DataDictionary.Models.ViewModels
@using JJMasterData.Core.Web
@model FormElementOptions
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

<partial name="_Menu" model="@(new DataDictionaryViewModel(ViewBag.ElementName, ViewBag.MenuId))"/>

@using (Html.BeginForm("Edit", "UIOptions", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="@BootstrapHelper.DefaultButton btn-small">
                <span class="fa fa-check"></span>
                <span>&nbsp;@StringLocalizer["Save"]</span>
            </button>
            <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="location.href='@Url.Action("Index", new { elementName = ViewBag.ElementName })'">
                <span class="fa fa-times">
                </span>
                <span>&nbsp;@StringLocalizer["Cancel"]</span>
            </button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(ViewBag.Error)
        </div>
    </div>

    <collapse-panel model="Model" icon="Table" title="GridView" partial="_GridView" expanded-by-default="true"/>
    <collapse-panel model="Model" icon="Columns" title="DataPanel" partial="_DataPanel" expanded-by-default="true"/>
}