@inject IOptionsSnapshot<MasterDataWebOptions> Options
@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.Extensions
@model JJMasterData.Web.Areas.MasterData.Models.InternalRedirectViewModel

@{
    Layout = Options.Value.ModalLayoutPath;
    
}

@using (Html.BeginMasterDataForm())
{
    <script lang="js" type="text/javascript">
         window.parent.defaultModal.modalTitle = '@Html.Raw(@Model.Title)';
    </script>
    if (ViewBag.Success == true)
    {
        <script lang="js" type="text/javascript">
            requestSubmitParentWindow()
        </script>
    }

    @Html.Raw(Model.HtmlContent)

    if (Model.ShowToolBar)
    {
        <div id="divToolbar">
            <link-button text="Save" type="LinkButtonType.Submit" icon="Check" color="Primary" asp-action="Save" asp-route-parameters="@Context.Request.Query["parameters"]"/>
            <link-button text="Cancel" icon="SolidXmark" on-client-click="window.parent.defaultModal.hide();"/>
        </div>
        
        <br/>
    
        @Html.Raw(ViewBag.Error)
    }
}