@using JJMasterData.Commons.Data.Entity.Models
@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model FormElementField

@inject IStringLocalizer<MasterDataResources> StringLocalizer


<div class="row">
    <div class="mb-3 col-sm-6">
        <label asp-for="CssClass" class="form-label"></label>
        <tooltip title="@StringLocalizer["Class name (CSS) to be assigned to object group rendering."]"/>
        <input asp-for="CssClass" placeholder="" class="form-control"/>
    </div>

    <div class="mb-3 col-sm-6">
        <label asp-for="LineGroup" class="form-label"></label>
        <tooltip title="@StringLocalizer["Row number at the form, used to break the line in the form flex layout."]"/>
        <input asp-for="LineGroup" type="number" placeholder="" class="form-control"/>
    </div>
    <div class="mb-3 col-sm-6">
        <label asp-for="HelpDescription" class="form-label"></label>
        <tooltip title="@StringLocalizer["The help text will be displayed like this on the form."]"/>
        <input asp-for="HelpDescription" placeholder="" class="form-control"/>
    </div>
    <div class="mb-3 col-sm-6">
        <label asp-for="GridAlignment" class="form-label"></label>
        <select asp-for="GridAlignment" class="form-select"
                asp-items="Html.GetEnumSelectList<GridAlignment>()"></select>
    </div>
    @switch (Model.DataType)
    {
        case FieldType.Varchar or FieldType.NVarchar:
            <div class="mb-3 w-auto">
                <label asp-for="TextCase" class="form-label"></label>
                <tooltip title="@StringLocalizer["Automatically normalizes the text on save by applying the selected format. Useful for case-sensitive integrations (e.g., Protheus)."]"/>
                <select asp-for="TextCase" class="form-control form-select"
                        asp-items="Html.GetEnumSelectList<TextCase>()"></select>
            </div>
            break;

        case FieldType.NChar or FieldType.Char:
            <div class="mb-3 w-auto">
                <label asp-for="TextCase" class="form-label"></label>
                <tooltip title="@StringLocalizer["Automatically normalizes the text on save by applying the selected format. Useful for case-sensitive integrations (e.g., Protheus)."]"/>
                <select asp-for="TextCase" class="form-control form-select"
                        asp-items="Html.GetEnumSelectList<TextCase>()"></select>
            </div>
            break;
    }
    <div class="mb-3 col-sm-6 d-flex align-items-center pt-4">
        <checkbox tooltip="@StringLocalizer["When the panel is in PageState.View show only the value without the component or when the field is disabled, render static propagated to the others views."]" for="RenderAsStatic" layout="Switch"/>
    </div>
</div>
