@using System.Text
@using JJConsulting.FontAwesome
@using JJMasterData.Commons.Data.Entity.Models
@using JJMasterData.Core.DataDictionary.Models


@model JJMasterData.Core.DataDictionary.Models.FormElementField
@inject IOptionsSnapshot<MasterDataWebOptions> Options
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@{
    ViewData["Title"] = $"{ViewData["ElementName"]} - {StringLocalizer["Fields"]}";
    var isForm = ViewData["IsForm"] is true;
    var elementName = ViewData["ElementName"]!.ToString();
    var fields = (FormElementFieldList)ViewData["Fields"]!;
    Layout = !isForm ? Options.Value.ModalLayoutPath : "_FormElementMenuLayout";
}

@functions{
    static string GetFieldDataTypeText(FormElementField field)
    {
        var sql = new StringBuilder();
        sql.Append(field.DataType.GetDisplayName());

        if (field.DataType.SupportsSize)
        {
            sql.Append('(');
            sql.Append(field.Size == -1 ? "MAX" : field.Size);
            sql.Append(')');
        }

        if (field.IsRequired)
            sql.Append(" NOT NULL");

        if (field is { AutoNum: true, DataType: not FieldType.UniqueIdentifier })
            sql.Append(" IDENTITY ");

        return sql.ToString();
    }


    static FontAwesomeIcon GetFontAwesomeIconClass(FormComponent component)
    {
        return component switch
        {
            FormComponent.Text => FontAwesomeIcon.KeyboardO,
            FormComponent.TextArea => FontAwesomeIcon.AlignLeft,
            FormComponent.Hour => FontAwesomeIcon.ClockO,
            FormComponent.Date or FormComponent.DateTime => FontAwesomeIcon.Calendar,
            FormComponent.Password => FontAwesomeIcon.Lock,
            FormComponent.Email => FontAwesomeIcon.Envelope,
            FormComponent.Number => FontAwesomeIcon.Calculator,
            FormComponent.ComboBox => FontAwesomeIcon.CaretDown,
            FormComponent.Search => FontAwesomeIcon.Search,
            FormComponent.RadioButtonGroup => FontAwesomeIcon.RegularCircleDot,
            FormComponent.CheckBox => FontAwesomeIcon.CheckSquare,
            FormComponent.Cnpj => FontAwesomeIcon.SolidBuildingColumns,
            FormComponent.Cpf => FontAwesomeIcon.RegularIdCard,
            FormComponent.CnpjCpf => FontAwesomeIcon.RegularIdBadge,
            FormComponent.Currency => FontAwesomeIcon.Dollar,
            FormComponent.Tel => FontAwesomeIcon.Phone,
            FormComponent.Cep => FontAwesomeIcon.MapMarker,
            FormComponent.Lookup => FontAwesomeIcon.Binoculars,
            FormComponent.File => FontAwesomeIcon.File,
            FormComponent.Slider => FontAwesomeIcon.Sliders,
            FormComponent.Color => FontAwesomeIcon.SolidPaintbrush,
            FormComponent.Icon => FontAwesomeIcon.SolidIcons,
            FormComponent.CodeEditor => FontAwesomeIcon.Code,
            FormComponent.Percentage => FontAwesomeIcon.Percent,
            _ => FontAwesomeIcon.Question
        };
    }
}

@if (ViewData["ShowSaveSuccess"] is true)
{
    <message-toast
        title-color="Success"
        title="@StringLocalizer["Success"]"
        icon="@FontAwesomeIcon.CheckCircle"
        name="field-save-success"
        show-as-opened="true"
        message="@StringLocalizer["Field saved successfully."]" />
}
@if (!ViewData.ModelState.IsValid)
{
    <message-toast
        title-color="Danger"
        title="@StringLocalizer["Error"]"
        icon="@FontAwesomeIcon.TimesCircle"
        name="field-validation-error"
        show-as-opened="true"
        message="@StringLocalizer["Please check the validation errors."]" />
}


@if (isForm)
{
    <div class="modal fade" id="copyFromModal" tabindex="-1" aria-labelledby="copyFromModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="copyFromModalLabel">@StringLocalizer["Copy From..."]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="copyFromForm" asp-action="CopyFrom" asp-controller="Field"
                          asp-route-elementName="@elementName">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="copyFromElementName"
                                           class="form-label">@StringLocalizer["Element Name"]</label>
                                    <select name="copyFromElementName"
                                            id="copyFromElementName"
                                            asp-items="@(new SelectList(ViewBag.ElementNameList, "Key", "Value"))"
                                            onchange="populateCopyFromFields(this)"
                                            required
                                            class="form-control selectpicker"
                                            data-style-base="form-select form-dropdown"
                                            data-live-search="true"
                                            data-virtual-scroll="true"
                                            data-none-results-text="@StringLocalizer["No elements found."]">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="copyFromFieldNames"
                                           class="form-label">@StringLocalizer["Fields"]</label>
                                    <select name="copyFromFieldNames"
                                            id="copyFromFieldNames"
                                            required
                                            multiple
                                            class="form-control selectpicker"
                                            data-style-base="form-select form-dropdown"
                                            data-live-search="true"
                                            data-none-selected-text="@StringLocalizer["--Select--"]"
                                            data-virtual-scroll="true"
                                            data-none-results-text="@StringLocalizer["No fields found."]">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="copyFromForm">
                        <i class="fa-solid fa-copy"></i>&nbsp;@StringLocalizer["Copy"]
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginMasterDataForm("Index", "Field", new { elementName }))
{
    <input type="hidden" name="selected-tab" id="selected-tab" value="@ViewBag.Tab"/>
    <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
                <input id="txtFilter" name="txtFilter" onkeyup="searchFields(this);"
                       placeholder="@StringLocalizer["Search..."]" type="text" class="form-control"
                       data-bs-toggle="tooltip" title="@StringLocalizer["Filter by any field visible in the list"]">

                @if (isForm)
                {
                    <button class="input-group-text" style="cursor:pointer" data-bs-toggle="tooltip"
                            title="@StringLocalizer["Import Fields From Table"]"
                            asp-route-elementName="@elementName"
                            asp-action="ImportFields"
                         type="submit">
                        <i class="fa-solid fa-upload"></i>
                    </button>
                    <div class="input-group-text" style="cursor:pointer" data-bs-toggle="tooltip"
                         title="@StringLocalizer["Copy From..."]"
                         onclick="showCopyFromModal()">
                        <i class="fa-solid fa-copy"></i>
                    </div>
                }

                <div class="input-group-text" style="cursor:pointer" data-bs-toggle="tooltip"
                     title="@StringLocalizer["Add"]"
                     onclick="loadFieldDetails('@Url.Action("Add", new { elementName })', '');">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
            <br/>
            <div class="jjrelative">
                <div id="field-list">
                    <div class="list-group jj-list-group jjsortable" id="sortable-grid">
                        @if (fields.Count == 0)
                        {
                            <div>@StringLocalizer["No record found"]</div>
                        }
                        @for (var i = 0; i < fields.Count; i++)
                        {
                            var field = fields[i];
                            var fieldName = field.Name;

                            <a href="javascript:loadFieldDetails('@Url.Action("Detail", new { elementName = elementName, fieldName })', '@fieldName' );"
                               class="list-group-item @(fieldName.Equals(Model.Name) ? "active" : "")"
                               id="@fieldName">
                                <div style="height: 33px;">
                                    <div class="float-start">
                                        <b>@fieldName</b>
                                        @if (field.IsPk)
                                        {
                                            <span class="fa fa-star text-warning" data-bs-toggle="tooltip"
                                                  title="@StringLocalizer["Primary key"]"></span>
                                        }
                                        @if (field.Component is not FormComponent.Text)
                                        {
                                            <span class="@GetFontAwesomeIconClass(field.Component).CssClass ms-1"
                                                  data-bs-toggle="tooltip" title="@field.Component.ToString()"></span>
                                        }
                                        @if (field.Filter.Type is not FilterMode.None)
                                        {
                                            <span class="@FontAwesomeIcon.Filter.CssClass ms-1" data-bs-toggle="tooltip"
                                                  title="@field.Filter.Type.ToString()"></span>
                                        }
                                        @if (field.AutoPostBack)
                                        {
                                            <span class="@FontAwesomeIcon.SolidBoltLightning.CssClass text-warning ms-1"
                                                  data-bs-toggle="tooltip" title="AutoPostBack"></span>
                                        }
                                        <br>
                                        <small>
                                            @if (field.Label != null && !string.Equals(fieldName, field.Label, StringComparison.InvariantCultureIgnoreCase))
                                            {
                                                var label = field.Label.Replace("<br>", " ").Replace("<BR>", " ").Replace("<br />", " ");
                                                if (label.Length > 35)
                                                {
                                                    label = $"{label[..30]}...";
                                                }

                                                <span>@label</span>
                                                <span> - </span>
                                            }

                                            @GetFieldDataTypeText(field)
                                        </small>
                                    </div>
                                    <div class="float-end jjsortable-icon"
                                         title="@StringLocalizer["Drag and drop to move"]">
                                    </div>
                                    <span class="float-end jjsortable-span"
                                          title="@StringLocalizer["Drag and drop to move"]">
                                        @i
                                    </span>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9" style="padding-left:0px">
            <div class="jjrelative" id="field-details">
                <partial name="_Detail" model="Model"/>
            </div>
        </div>
        <br/>
    </div>
}



<script type="text/javascript">

    function saveScrollPosition() {
        const listField = document.getElementById('field-list');
        if (listField) {
            sessionStorage.setItem('listFieldScrollPosition', listField.scrollTop);
        }
    }

    function restoreScrollPosition() {
        const listField = document.getElementById('field-list');
        const savedScrollPosition = sessionStorage.getItem('listFieldScrollPosition');
        if (listField && savedScrollPosition) {
            listField.scrollTop = parseInt(savedScrollPosition);
            sessionStorage.removeItem('listFieldScrollPosition');
        }
    }

    document.addEventListener("DOMContentLoaded", restoreScrollPosition)
    window.addEventListener('beforeunload', saveScrollPosition);


    function showCopyFromModal() {
        const modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('copyFromModal'));
        modal.show();
    }

    async function populateCopyFromFields(formElementCombobox) {
        const fieldNamesSelect = document.getElementById('copyFromFieldNames');
        if (!fieldNamesSelect) return;

        const response = await fetch('@Url.Action("PopulateCopyFromFields", "Field")' + '?elementName=' + formElementCombobox.value);

        if (!response.ok)
            return;

        fieldNamesSelect.innerHTML = await response.text();
        const $fieldNames = $('#copyFromFieldNames');
        $fieldNames.selectpicker('destroy');
        $fieldNames.selectpicker({
            iconBase:  'fa' ,
            styleBase:"form-select form-dropdown"
        });
    }
</script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        sortableGrid();
        saveTabState();
    })


    function saveTabState() {
        let currentTab = document.querySelector("#selected-tab").value;
        if (!currentTab) {
            currentTab = "#div-general";
        }

        let tabLinks = document.querySelectorAll("[data-bs-toggle='tab']");
        tabLinks.forEach(function (link) {
            if (link.getAttribute('href') === currentTab) {
                link.classList.add('active');
                link.classList.add('show');
            } else {
                link.classList.remove('active');
                link.classList.remove('remove');
            }
        });

        document.querySelectorAll(".tab-pane").forEach(function (tabPane) {
            if (tabPane.id === currentTab.replace("#", "")) {
                tabPane.classList.add('active');
                tabPane.classList.add('show');
            } else {
                tabPane.classList.remove('active');
                tabPane.classList.remove('remove');
            }
        })

        document.querySelector(currentTab).classList.add('active');
        document.querySelector(currentTab).classList.add('show');

        tabLinks.forEach(function (tabLink) {
            tabLink.addEventListener("click", function (e) {

                document.querySelector("#selected-tab").value = e.target.getAttribute("href");
            });
        });
    }

    function sortableGrid() {
        $("#sortable-grid").sortable({
            update: function () {
                const order = $(this).sortable('toArray');
                moveFields(order);
            }
        });
    }

    function moveFields(order) {
        const formData = new FormData();
        formData.append('fieldsOrder', order);
        fetch('@Url.Action("Sort", new { elementName })', {
            method: "POST",
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('@StringLocalizer["Error while ordering fields."]');
                }
            })
            .catch(error => {
                messageBox.show('@StringLocalizer["Error"]', error.message, 4);
            });
    }

    function loadFieldDetails(url, fieldName) {
        const safeFieldName = fieldName.replace(/[^\w-]/g, '\\$&');

        document.querySelector("#sortable-grid .active")?.classList?.remove("active");

        if (safeFieldName !== "" && safeFieldName !== '\\_') {
            const element = document.querySelector("#" + safeFieldName);
            if (element) {
                element.classList.add("active");
            }
        }

        SpinnerOverlay.show();

        fetch(url).then((response) => response.text()).then((html) => {
            HTMLHelper.setInnerHTML("field-details", html);

            listenAllEvents("#field-details");
            saveTabState();
            SpinnerOverlay.hide();
        });
    }

    function searchFields(oDom) {
        const value = $(oDom).val().toLowerCase();
        $("#sortable-grid a").filter(function () {
            const textValues = $(this).clone().find('.bootstrap-select, .selectpicker, select').remove().end().text();
            const isSearch = textValues.toLowerCase().indexOf(value) > -1;

            $(this).toggle(isSearch);
        });
    }
</script>
