@inject IOptionsSnapshot<MasterDataWebOptions> Options
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.Extensions
@model JJMasterData.Web.Areas.MasterData.Models.InternalRedirectViewModel

@{
    Layout = Options.Value.ModalLayoutPath;
}

@using (Html.BeginMasterDataForm())
{
    <script lang="javascript" type="text/javascript">
        window.parent.defaultModal.modalTitle = '@Html.Raw(Model.Title)';
        @if (Model.SubmitParentWindow)
        {
            <text>
                submitParentWindow();
            </text>
        }
    </script>

    @Html.Raw(Model.HtmlContent)

    @if (Model.ShowToolbar)
    {
        <div id="divToolbar">
            <link-button text="@StringLocalizer["Cancel"]" icon="SolidXmark" on-client-click="window.parent.defaultModal.hide();"/>
            <link-button text="@StringLocalizer["Save"]" type="LinkButtonType.Submit" icon="Check" color="Primary" asp-action="Save"
                         asp-route-parameters="@Context.Request.Query["parameters"]"/>
        </div>

        <br/>

        <validation-summary/>
    }
}