@inject IOptionsSnapshot<MasterDataWebOptions> Options
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@using JJConsulting.Html.Bootstrap.Models
@using JJMasterData.Core.UI.Components

@model JJMasterData.Web.Areas.MasterData.Models.InternalRedirectViewModel

@{
    Layout = Model.IsModal ? Options.Value.ModalLayoutPath : Options.Value.LayoutPath;
}

<master-data-form method="POST" asp-action="Index" asp-route-parameters="@Context.Request.Query["parameters"]">
    <script lang="javascript" type="text/javascript">
        @if (Model.IsModal)
        {
            <text>
                window.parent.defaultModal.modalTitle = '@Html.Raw(Model.Title)';
            </text>
        }
        @if (Model.SubmitParentWindow)
        {
            <text>
                submitParentWindow();
            </text>
        }
        
        function submitForm(){
            const form = $('#masterdata-form');
            form.attr('action', '@Url.Action("Save", new { parameters = Context.Request.Query["parameters"] })');
            form.trigger('submit');
        }
    </script>

    @Html.Raw(Model.HtmlContent)

    @if (Model.ShowToolbar)
    {
        <div id="divToolbar">
            @if (Model.IsModal)
            {
                <link-button text="@StringLocalizer["Cancel"]" icon="SolidXmark" on-client-click="window.parent.defaultModal.hide()"/>
            }
            else
            {
                <link-button text="@StringLocalizer["Cancel"]" icon="SolidXmark" asp-controller="Form" asp-action="Render" asp-route-elementName="@Model.ParentElementName"/>
            }
            <link-button text="@StringLocalizer["Save"]" type="LinkButtonType.Button" on-client-click="submitForm()" icon="Check" color="Primary"/>
        </div>

        <br/>

        <validation-summary/>
    }
    else if (!Model.IsModal)
    {
        <div id="divToolbar">
            <link-button text="@StringLocalizer["Cancel"]" icon="SolidXmark" asp-controller="Form" asp-action="Render" asp-route-elementName="@Model.ParentElementName"/>
        </div>
    }
</master-data-form>