@using JJConsulting.FontAwesome
@using JJMasterData.Core.DataDictionary.Models.Actions
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IEnumerable<IPluginHandler> ActionPluginHandlers

@model ActionListTabModel

@{
    var sortableClass = string.Empty;
    var sourceType = Model.Source;
    var source = sourceType.ToString();
    var isFieldSource = sourceType == ActionSource.Field;
    var selectedAction = Model.SelectedAction;
    var selectedActionKey = Model.SelectedActionKey;
    List<FieldActionItem>? fieldActions = null;

    if (isFieldSource)
    {
        fieldActions = ViewData["FieldActions"] as List<FieldActionItem>;
    }
    
    var selectedDomActionId = !string.IsNullOrWhiteSpace(selectedActionKey)
        ? $"{source}_{selectedActionKey}"
        : string.Empty;
}

<div class="row mt-3">
    <div class="col-sm-3">
        <div class="input-group">
            <input id="txtFilter-@source"
                   onkeyup="searchActions('@source', this);"
                   placeholder="@StringLocalizer["Search..."]"
                   type="text"
                   class="form-control"
                   data-bs-toggle="tooltip"
                   title="@StringLocalizer["Filter by any field visible in the list"]">

            <div class="input-group-text dropdown">
                <button type="button"
                        class="btn btn-link p-0 dropdown-toggle text-decoration-none"
                        @BootstrapHelper.GetDataToggle("dropdown")
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-plus-circle"></span>&nbsp;@StringLocalizer["New Action"]
                </button>
                <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item dropdown-link"
                       href="javascript:loadActionDetails('@GetAddUrl(nameof(UrlRedirectAction))','','@source');">
                        @StringLocalizer["Url Redirect"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link"
                       href="javascript:loadActionDetails('@GetAddUrl(nameof(InternalAction))','','@source');">
                        @StringLocalizer["Internal Redirect"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link"
                       href="javascript:loadActionDetails('@GetAddUrl(nameof(SqlCommandAction), null)','','@source');">
                        @StringLocalizer["Sql Command"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link"
                       href="javascript:loadActionDetails('@GetAddUrl(nameof(ScriptAction), null)','','@source');">
                        @StringLocalizer["JavaScript Script"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link"
                       href="javascript:loadActionDetails('@GetAddUrl(nameof(HtmlTemplateAction), null)','','@source');">
                        @StringLocalizer["HTML Template"]
                    </a>
                </li>
                @if (ActionPluginHandlers.Any())
                {
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    @if (sourceType is ActionSource.Field)
                    {
                        @foreach (var plugin in ActionPluginHandlers.Where(p => p is IPluginFieldActionHandler || p is IPluginActionHandler pa && pa.CanCreate(sourceType)))
                        {
                            @if (plugin is IPluginFieldActionHandler)
                            {
                                <a class="dropdown-item dropdown-link"
                                   href="javascript:loadActionDetails('@GetAddUrl(nameof(PluginFieldAction), plugin.Id)','','@source');">
                                    @StringLocalizer[plugin.Title]
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item dropdown-link"
                                   href="javascript:loadActionDetails('@GetAddUrl(nameof(PluginAction), plugin.Id)','','@source');">
                                    @StringLocalizer[plugin.Title]
                                </a>
                            }
                        }
                    }
                    else
                    {
                        @foreach (var plugin in ActionPluginHandlers.Where(p => p is IPluginActionHandler pa && pa.CanCreate(sourceType)))
                        {
                            <a class="dropdown-item dropdown-link"
                               href="javascript:loadActionDetails('@GetAddUrl(nameof(PluginAction), plugin.Id)','','@source');">
                                @StringLocalizer[plugin.Title]
                            </a>
                        }
                    }
                }

                </ul>
            </div>
        </div>

        <br/>

        <div class="jjrelative">
            <div id="action-list-@source">
                <div class="list-group jj-list-group @sortableClass" id="sortable-@source">
                @if (Model.Actions.Count == 0)
                {
                    <div>@StringLocalizer["No record found"]</div>
                }
                @for (var i = 0; i < Model.Actions.Count; i++)
                {
                    var action = Model.Actions[i];
                    string? actionFieldName;
                    if (isFieldSource)
                    {
                        actionFieldName = fieldActions![i].FieldName;
                    }
                    else
                    {
                        actionFieldName = null;
                    }

                    var itemKey = isFieldSource && !string.IsNullOrWhiteSpace(actionFieldName)
                        ? $"{actionFieldName}__{action.Name}"
                        : action.Name;
                    var itemDomId = $"{source}_{itemKey}";
                    var actionLabel = StringLocalizer[action.Text ?? action.Tooltip ?? action.Name];
                    var editUrl = GetEditUrl(action, actionFieldName);
 
                    <a href="javascript:loadActionDetails('@editUrl','@itemDomId','@source');"
                       class="list-group-item list-group-item-action @(itemDomId == selectedDomActionId ? "active" : string.Empty)"
                       id="@itemDomId"
                       data-edit-url="@editUrl"
                       data-action-key="@itemDomId"
                       data-sort-key="@itemKey">
                        <div style="height: 33px;">
                            <div class="float-start">
                                <b>@action.Name</b>
                                <span class="@action.Icon.CssClass ms-1" data-bs-toggle="tooltip" title="@action.GetType().Name"></span>
                                <br>
                                <small>
                                    @if (isFieldSource && !string.IsNullOrWhiteSpace(actionFieldName))
                                    {
                                        <span>@Truncate(actionFieldName, 20)</span>
                                        <span> - </span>
                                    }
                                    <span>@Truncate(actionLabel, 35)</span>
                                </small>
                            </div>
                            <div class="float-end d-flex align-items-center gap-2">
                                @if (action is not FormToolbarAction or AuditLogFormToolbarAction)
                                {
                                    <div class="form-check form-switch form-switch-sm m-0" onclick="event.stopPropagation();">
                                        <input type="checkbox"
                                               @(action.IsVisible ? "checked=\"checked\"" : "")
                                               data-toggle="toggle"
                                               data-size="small"
                                               data-on="On"
                                               role="switch"
                                               data-off="Off"
                                               class="form-check-input align-self-center"
                                               onchange="event.stopPropagation(); DataDictionaryUtils.toggleActionEnabled($(this).prop('checked'),'@GetUrlDisable(action, actionFieldName)','@StringLocalizer["Unexpected error"]');">
                                    </div>
                                }
                                <span class="jjsortable-span ms-2" title="@StringLocalizer["Drag and drop to move"]">@i</span>
                                <div class="jjsortable-icon ms-2" title="@StringLocalizer["Drag and drop to move"]"></div>
                            </div>
                        </div>
                    </a>
                }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9" style="padding-left:0">
        <div class="jjrelative" id="action-details-@source" data-loaded="true">
            <partial name="@selectedAction.GetType().Name" model="selectedAction"/>
        </div>
    </div>
</div>

<template id="empty-action-alert-@source">
    <alert title="@StringLocalizer["Select an action to edit."]"
           color="Info"
           icon="FontAwesomeIcon.InfoCircle"
           show-close-button="false" />
</template>

@functions {

    private string GetReturnUrl()
    {
        return Url.Action("Index", "Actions", new { elementName = Model.ElementName })!;
    }

    private string GetEditUrl(BasicAction action, string? fieldName)
    {
        return Url.Action("Edit", "Actions",
            new { elementName = Model.ElementName, actionName = action.Name, source = Model.Source, fieldName, returnUrl = GetReturnUrl() })!;
    }

    private string GetAddUrl(string actionType, Guid? pluginId = null)
    {
        return Url.Action("Add", "Actions",
            new { elementName = Model.ElementName, actionType, source = Model.Source, pluginId, returnUrl = GetReturnUrl() })!;
    }

    private string? GetUrlDisable(BasicAction action, string? fieldName)
    {
        return Url.Action("EnableDisable", "Actions",
            new { elementName = Model.ElementName, actionName = action.Name, source = Model.Source, fieldName });
    }

    private string? GetUrlSort()
    {
        return Url.Action("Sort", "Actions",
            new { elementName = Model.ElementName });
    }

    private static string Truncate(string? value, int maxLength)
    {
        if (string.IsNullOrWhiteSpace(value))
            return string.Empty;

        if (value.Length <= maxLength)
            return value;

        return $"{value[..Math.Max(0, maxLength - 3)]}...";
    }

}
