@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model JJMasterData.Core.DataDictionary.Models.Actions.HtmlTemplateAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "HtmlTemplateAction";
    ViewData["CopyAction"] = "CopyHtmlTemplateAction";
}

@section ActionTabs {
    <li id="nav-sql-command" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-sql-command">
            @StringLocalizer["Data Source"]
        </a>
    </li>
    <li id="nav-html-template" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-html-template">
            @StringLocalizer["HTML Template"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="div-sql-command" class="tab-pane fade">
        <div class="row">
            <div class="@BootstrapHelper.FormGroup col-sm-12 required">
                <label class="@BootstrapHelper.Label" asp-for="SqlCommand">@StringLocalizer["Data Source"]</label>
                <span class="small text-end text-info"> &nbsp;@StringLocalizer["(Type Ctrl+Space to autocomplete)"]</span>
                <div class="well" style="margin-bottom: 0">
                    <code-editor asp-for="SqlCommand" language="sql" height="200"/>
                </div>
            </div>
        </div>
    </div>

    <div id="div-html-template" class="tab-pane fade">
        <div class="row">
            <div class="@BootstrapHelper.FormGroup col-sm-12 required">
                <label class="@BootstrapHelper.Label" asp-for="HtmlTemplate">@StringLocalizer["HTML Template"]</label>
                <span class="small text-end text-info"> &nbsp;@StringLocalizer["(Type Ctrl+Space to autocomplete)"]</span>
                <div class="well" style="margin-bottom: 0">
                    <code-editor asp-for="HtmlTemplate" language="html" height="300"/>
                </div>
            </div>
        </div>
    </div>
}
