@using JJConsulting.Html.Bootstrap.Models
@using JJMasterData.Commons.Data.Entity.Models
@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.DataDictionary.Services
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject ActionsService ActionsService
@model JJMasterData.Core.DataDictionary.Models.Actions.InternalAction

@{
    Layout = "_FormElementActionLayout";
    FormElement formElement = ViewBag.FormElement;
    ViewData["FormAction"] = "InternalAction";
    ViewData["CopyAction"] = "CopyInternalAction";
    
    var elementNameList = (await ActionsService.GetElementsDictionaryAsync()).OrderBy(n=>n.Key).ToList();
    var internalFieldList = ActionsService.GetFieldList(formElement);
    var elementNameRedirect = Model.ElementRedirect.ElementNameRedirect;
    var redirectFieldList = await ActionsService.GetFieldList(elementNameRedirect);
}

@section ActionTabs {
    <li id="navInternalRedirect" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-internal-redirect">
            @StringLocalizer["Internal Redirect"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="div-internal-redirect" class="tab-pane fade">
        <div class="row">

            <div class="@BootstrapHelper.FormGroup col-sm-6 mb-3 required">
                <label class="@BootstrapHelper.Label" asp-for="ElementRedirect.ElementNameRedirect">@StringLocalizer["Element Name"]</label>
                @if (Model.ElementRedirect.RelationFields.Count == 0)
                {
                    @Html.DropDownListFor(model => model.ElementRedirect.ElementNameRedirect,
                        new SelectList(elementNameList, "Key", "Value"),
                        new { @class = "form-control form-select", onchange = "refreshInternalRedirect();" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.ElementRedirect.ElementNameRedirect, new { @class = "form-control", @readonly = "@readonly" })
                }
            </div>

            <div class="@BootstrapHelper.FormGroup col-sm-6">
                <label class="@BootstrapHelper.Label" asp-for="ElementRedirect.ViewType">@StringLocalizer["View Type"]</label>
                <select asp-for="ElementRedirect.ViewType" class="form-control form-select" asp-items="Html.GetEnumSelectList<RelationshipViewType>()"></select>
            </div>

            <div class="@BootstrapHelper.FormGroup col-sm-6 mb-3">
                <checkbox for="ElementRedirect.ShowAsModal" layout="Switch"/>
            </div>

            <div class="@BootstrapHelper.FormGroup col-sm-6">
                <label class="@BootstrapHelper.Label " asp-for="ElementRedirect.ModalSize">@StringLocalizer["Popup Size"]</label>
                <select asp-for="ElementRedirect.ModalSize" class="form-control" asp-items="Html.GetEnumSelectList<ModalSize>()"></select>
            </div>


        </div>
        <collapse-panel title="@StringLocalizer["Relation"]" icon="SolidCodeBranch" expanded-by-default="true">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-4 required">
                    <label class="@BootstrapHelper.Label" >@StringLocalizer["Field"]</label>
                    @Html.DropDownList("redirectField", new SelectList(redirectFieldList, "Key", "Value"), new { @class = "form-control" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-5 required">
                    <label class="@BootstrapHelper.Label">@StringLocalizer["Value"]</label>
                    @Html.DropDownList("internalField", new SelectList(internalFieldList, "Key", "Value"), new { @class = "form-control" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-4">
                    <button type="button" class="@BootstrapHelper.BtnDefault" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Add Reference"]" OnClick="addRelation();">
                        <span class="fa fa-plus-square-o"></span>&nbsp;@StringLocalizer["Add"]
                    </button>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>@StringLocalizer["Field"]</th>
                    <th>@StringLocalizer["Value"]</th>
                    <th style="width: 70px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.ElementRedirect.RelationFields.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ElementRedirect.RelationFields[i].RedirectField
                            @Html.HiddenFor(model => model.ElementRedirect.RelationFields[i].RedirectField)
                        </td>
                        <td>
                            @Model.ElementRedirect.RelationFields[i].InternalField
                            @Html.HiddenFor(model => model.ElementRedirect.RelationFields[i].InternalField)
                        </td>
                        <td>
                            <button type="button" class="@BootstrapHelper.BtnDefault btn-small" style="margin-left:10px;"
                                    onclick="removeRelation(@i)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </collapse-panel>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        function addRelation() {
            const url = "@Html.Raw(Url.Action("AddRelation", "Actions", new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"], fieldName = ViewBag.FieldName }))";
            submitRelationChange(url);
        }

        function removeRelation(relationIndex) {
            const url = "@Url.Action("RemoveRelation", "Actions", new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"], fieldName = ViewBag.FieldName })";
            const form = getMasterDataForm();
            let relationInput = form.querySelector("#relationIndex");
            if (!relationInput) {
                relationInput = document.createElement("input");
                relationInput.type = "hidden";
                relationInput.id = "relationIndex";
                relationInput.name = "relationIndex";
                form.appendChild(relationInput);
            }
            relationInput.value = relationIndex.toString();
            submitRelationChange(url);
        }

        function submitRelationChange(url) {
            const source = "@ViewData["ActionSource"]";
            const detailsId = "action-details-" + source;
            const details = document.getElementById(detailsId);

            if (!details) {
                SpinnerOverlay.show();
                $(getMasterDataForm()).attr("action", url).submit();
                return;
            }

            postFormValues({
                url: url,
                success: html => {
                    if (!html) {
                        return;
                    }
                    HTMLHelper.setInnerHTML(detailsId, html);
                    details.setAttribute("data-loaded", "true");
                    listenAllEvents("#" + detailsId);
                    if (typeof restoreActionTabState === "function") {
                        restoreActionTabState();
                    }
                }
            });
        }

        function refreshInternalRedirect() {
            const url = "@Url.Action("RefreshInternalRedirect", "Actions", new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"], fieldName = ViewBag.FieldName })";
            submitRelationChange(url);
        }
    </script>
}
