@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.DataDictionary.Models.Actions
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IEnumerable<IPluginHandler> ActionPluginHandlers

@model ActionsListDetailsViewModel

@{
    var sortableClass = string.Empty;
}
@if (Model.Actions.Count > 1)
{
    sortableClass = "jjsortable";
    <script lang="javascript" type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            DataDictionaryUtils.sortAction('@Model.Source.ToString()', '@GetUrlSort()','@StringLocalizer["Unexpected error"]');
        });
    </script>
}

<div class="row mt-3 mb-3">
    <div class="col-sm-12">
        <div class="btn-group">
            <button type="button" class="@BootstrapHelper.BtnDefault dropdown-toggle" @BootstrapHelper.GetDataToggle("dropdown") aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-plus-circle"></span>&nbsp;@StringLocalizer["New Action"]&nbsp; <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                       onclick="@GetAddScript(nameof(UrlRedirectAction))">
                        @StringLocalizer["Url Redirect"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                       onclick="@GetAddScript(nameof(InternalAction))">
                        @StringLocalizer["Internal Redirect"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                       onclick="@GetAddScript(nameof(SqlCommandAction))">
                        @StringLocalizer["Sql Command"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                       onclick="@GetAddScript(nameof(ScriptAction))">
                        @StringLocalizer["JavaScript Script"]
                    </a>
                </li>
                <li>
                    <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                       onclick="@GetAddScript(nameof(HtmlTemplateAction))">
                        @StringLocalizer["HTML Template"]
                    </a>
                </li>
                @if (ActionPluginHandlers.Any())
                {
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    @if (Model.Source is ActionSource.Field)
                    {
                        @foreach (var plugin in ActionPluginHandlers.Where(p => p is IPluginFieldActionHandler || p is IPluginActionHandler pa && pa.CanCreate(Model.Source)))
                        {
                            @if (plugin is IPluginFieldActionHandler)
                            {
                                <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                                   onclick="@GetAddScript(nameof(PluginFieldAction), plugin.Id)">
                                    @StringLocalizer[plugin.Title]
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                                   onclick="@GetAddScript(nameof(PluginAction), plugin.Id)">
                                    @StringLocalizer[plugin.Title]
                                </a>
                            }
                        }
                    }
                    else
                    {
                        @foreach (var plugin in ActionPluginHandlers.Where(p => p is IPluginActionHandler pa && pa.CanCreate(Model.Source)))
                        {
                            <a class="dropdown-item dropdown-link" href="javascript: void(0);"
                               onclick="@GetAddScript(nameof(PluginAction), plugin.Id)">
                                @StringLocalizer[plugin.Title]
                            </a>
                        }
                    }
                }

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="list-group @sortableClass" id="sortable-@Model.Source.ToString()">
            @foreach (var action in Model.Actions.Where(a=> !a.IsFrameworkDefined))
            {
                <div class="list-group-item" id="@action.Name">
                    <div style="height: 1.875rem;">
                        <div style="float: left; margin-top: 0.625rem;">
                            <span class="@action.Icon.GetCssClass() fa-fw"></span>&nbsp;
                            @{
                                var actionName = StringLocalizer[action.Text ?? action.Tooltip ?? action.Name];
                                if (action.IsUserDefined)
                                {
                                    <span title="@action.GetType().Name" data-bs-toggle="tooltip">@actionName</span>
                                }
                                else
                                {
                                    <span>@actionName</span>
                                }
                            }
                        </div>
                        <div class="@BootstrapHelper.PullRight d-flex align-content-center">
                            <button class="@BootstrapHelper.BtnDefault btn-small" type="button" onclick="@GetEditScript(action)">
                                <span class="fa fa-pencil"></span>
                            </button>
                            @if (action.IsUserDefined)
                            {
                                <button class="@BootstrapHelper.BtnDefault btn-small" style="margin-left:10px;" type="button"
                                        onclick="@GetDeleteScript(action)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            }
                            else if (action is not FormToolbarAction or AuditLogFormToolbarAction)
                            {
                                <div class="form-check form-switch form-switch-md" style="padding-left:0px">
                                    <input type="checkbox"
                                           @(action.IsVisible ? "checked=\"checked\"" : "")
                                           style="margin-left:10px;"
                                           data-toggle="toggle"
                                           data-size="small"
                                           data-on="On"
                                           role="switch"
                                           data-off="Off"
                                           class="form-check-input align-self-center"
                                           onchange="DataDictionaryUtils.toggleActionEnabled($(this).prop('checked'),'@GetUrlDisable(action)','@StringLocalizer["Unexpected error"]');">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@functions {

    private string GetEditScript(BasicAction action)
    {
        var actionName = StringLocalizer[action.Text ?? action.Tooltip ?? action.Name];
        
        var url = Url.Action("Edit", "Actions",
            new { elementName = Model.ElementName, actionName = action.Name, context = Model.Source, fieldName = Model.FieldName });
        
        //lang=javascript
        return $"defaultModal.showIframe('{url}', '{actionName}', {(int)ModalSize.ExtraLarge})";
    }

    private string GetAddScript(string actionType, Guid? pluginId = null)
    {
        var url = Url.Action("Add", "Actions",
            new { elementName = Model.ElementName, actionType, context = Model.Source, fieldName = Model.FieldName, pluginId });

        //lang=javascript
        return $"defaultModal.showIframe('{url}', '{StringLocalizer["New Action"]}', {(int)ModalSize.ExtraLarge})";
    }


    private string GetDeleteScript(BasicAction action)
    {
        var actionName = action.Name;
        var confirmationMessage = StringLocalizer["Are you sure you want to delete [{0}] action?", actionName].Value;
        var url = Url.Action("Remove", "Actions", new { elementName = Model.ElementName, actionName, context = Model.Source, fieldName = Model.FieldName });

        //lang=javascript
        return $"DataDictionaryUtils.deleteAction('{actionName}', '{url}', '{confirmationMessage}');";
    }

    private string? GetUrlDisable(BasicAction action)
    {
        return Url.Action("EnableDisable", "Actions",
            new { elementName = Model.ElementName, actionName = action.Name, context = Model.Source, fieldName = Model.FieldName });
    }

    private string? GetUrlSort()
    {
        return Url.Action("Sort", "Actions",
            new { elementName = Model.ElementName, fieldName = Model.FieldName });
    }

}