@using JJConsulting.FontAwesome
@using JJConsulting.Html.Bootstrap.Models
@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.DataDictionary.Models.Actions
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@model JJMasterData.Core.DataDictionary.Models.Actions.BasicAction


@if (Model is not FormToolbarAction || (Model is FormToolbarAction && Model.IsUserDefined) || Model is AuditLogFormToolbarAction)
{
    <div class="row">
        <div class="mb-3 col-sm-12 required">
            <expression  use-floating-label="false"  for="VisibleExpression" icon="FontAwesomeIcon.Eye" tooltip="@StringLocalizer["Boolean expression to show the action. See the docs for more information."]"/>
        </div>
        <div class="mb-3 col-sm-12 required">
            <expression use-floating-label="false" for="EnableExpression" icon="FontAwesomeIcon.Pencil" tooltip="@StringLocalizer["Boolean expression to enable the action. See the docs for more information."]"/>
        </div>
    </div>
}

<div class="row">
    <div class="mb-3 col-sm-3">
        <label class="form-label" asp-for="ConfirmationMessage"></label>
        <tooltip title="@StringLocalizer["If filled, show a confirmation message before executing the action. Support runtime values, for example: {OrderId}"]" />
        <input asp-for="ConfirmationMessage" class="form-control"/>    </div>
    <div class="mb-3 col-sm-3">
        <label asp-for="CssClass" class="form-label">@StringLocalizer["CSS Class"]</label>
        <input asp-for="CssClass" class="form-control"/>
    </div>
    <div class="mb-3 col-sm-3">
        <label class="form-label" asp-for="Color"></label>
        <select asp-for="Color" class="form-select" asp-items="Html.GetEnumSelectList<BootstrapColor>()"></select>
    </div>
    <div class="mb-3 col-sm-3">
        <label asp-for="Order" class="form-label">@StringLocalizer["Order"]</label>
        <input asp-for="Order" class="form-control"/>
    </div>
</div>
<div class="row">
    
    <div class="mb-3 col-sm-2">
        <checkbox for="ShowTitle" layout="Switch" />
    </div>

    <div class="mb-3 col-sm-2">
        <checkbox for="ShowAsButton" layout="Switch" />
    </div>
    
    <div class="mb-3 col-sm-2">
        <checkbox for="IsDefaultOption" layout="Switch" />
    </div>
    <div class="mb-3 col-sm-2">
        <checkbox for="IsGroup" layout="Switch" />
    </div>
    <div class="mb-3 col-sm-2">
        <checkbox tooltip="@StringLocalizer["Show a separator before this action."]" for="DividerLine" layout="Switch" />
    </div>
    @if (ViewBag.ContextAction is ActionSource.FormToolbar)
    {
        <div class="mb-3 col-sm-2">
            <label asp-for="Location" class="form-label">@StringLocalizer["Location"]</label>
            <tooltip title="@StringLocalizer["If not in a relationship, Panel is considered the same as Bottom."]"/>
            <div class="input-append">
                <select asp-for="Location" class="form-select" asp-items="Html.GetEnumSelectList<FormToolbarActionLocation>()"></select>
            </div>
        </div>
    }
    @if (Model is ISubmittableAction submitAction)
    {
        <partial name="_SubmittableAction" model="@submitAction"/>
    }
</div>