@using JJMasterData.Core.DataDictionary.Models

@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model JJMasterData.Core.DataDictionary.Models.ProcessOptions

<style>
    .tooltip-large .tooltip-inner {
        max-width: 500px;
        width: 500px;
        text-align: left;
        white-space: normal;
        padding: 12px 16px;
        font-size: 14px;
    }
</style>

<div class="row" style="margin-bottom:5px">

    <div class="col-sm-12">
        <label class="@BootstrapHelper.Label">@StringLocalizer["Sql Command"]</label>
    </div>

    <div class="col-sm-12">
        <code-editor-button
            asp-for="@Model.CommandBeforeProcess"
            label="@StringLocalizer["Before starting the process"]"
            language="sql"/>
    
        &nbsp;
        
        <code-editor-button
            asp-for="@Model.CommandAfterProcess"
            label="@StringLocalizer["After finishing the process"]"
            language="sql"/>
        
    </div>

</div>

<hr/>

<div class="row">
    <div class="@BootstrapHelper.FormGroup col-sm-3">
        <label class="@BootstrapHelper.Label" @BootstrapHelper.GetDataToggle("tooltip")
               data-placement="bottom">@StringLocalizer["Scope"]</label>
        <span class="fa fa-question-circle help-description"
              data-bs-toggle="tooltip"
              data-bs-html="true"
              data-bs-custom-class="tooltip-large"
              title="
                <b>@StringLocalizer["Scope of execution of the process."]</b><hr/>  
                <b>@StringLocalizer["Global"]:</b><br/>
                @StringLocalizer["Only one process from this element can be run at a time."]
                @StringLocalizer["and all users will be able to view the latest log and execution of an ongoing process."]
                <br/><br/>
                <b>@StringLocalizer["User"]:</b><br/>
                @StringLocalizer["Several users can run this process simultaneously, but only see the log and one run of your process."]">
        </span>
        <select class="form-control form-select" asp-for="Scope"
                asp-items="Html.GetEnumSelectList<ProcessScope>()"></select>
    </div>

</div>
