@inject IStringLocalizer<MasterDataResources> StringLocalizer
@model  JJMasterData.Core.DataDictionary.Models.Actions.FilterAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "FilterAction";
    ViewData["CopyAction"] = "CopyFilterAction";
    ViewData["FormRouteValues"] = new { elementName = ViewData["ElementName"], source = ViewData["ActionSource"] };
}

@section ActionTabs {
    <li id="navFilterAction" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#filter-action">
            @StringLocalizer["Filter Action"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="filter-action" class="tab-pane fade">
        <div class="row">
            <div class="@BootstrapHelper.FormGroup col-sm-3">
                <checkbox tooltip="@StringLocalizer["Show the filter in a Collapse Panel above the Grid. Filter behavior remains the same."]" for="ShowAsCollapse" layout="Switch" />
            </div>
            <div class="@BootstrapHelper.FormGroup col-sm-3">
                <checkbox for="ExpandedByDefault" layout="Switch" />
            </div>
            <div class="@BootstrapHelper.FormGroup col-sm-3">
                <checkbox tooltip="@StringLocalizer["Only data shown in the browser will be filtered."]" for="EnableScreenSearch" layout="Switch" />
            </div>
        </div>
    </div>
}
