@using JJMasterData.Core.DataDictionary.Models.Actions
@inject IStringLocalizer<MasterDataResources> StringLocalizer

@model ActionsIndexViewModel

@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["Actions"]}";
    Layout = "_FormElementMenuLayout";
    ViewData["ElementName"] = Model.ElementName;
    ViewData["MenuId"] = "Actions";

    ActionSource selectedSource;
    if (ViewData["InitialSource"] is ActionSource source)
    {
        selectedSource = source;
    }
    else
    {
        selectedSource = ActionSource.GridTable;
    }

    var selectedAction = ViewData["InitialAction"] as BasicAction;
    var selectedFieldName = ViewData["InitialFieldName"]?.ToString();

    ViewData["FieldActions"] = Model.FieldActions;

    List<BasicAction> sourceActions = selectedSource switch
    {
        ActionSource.GridToolbar => Model.GridToolbarActions,
        ActionSource.FormToolbar => Model.FormToolbarActions,
        ActionSource.Field => Model.FieldActions.ConvertAll(f => f.Action),
        _ => Model.GridTableActions
    };

    var currentTabModel = new ActionListTabModel
    {
        Actions = sourceActions,
        ElementName = Model.ElementName,
        Source = selectedSource,
        SelectedAction = selectedAction ?? sourceActions.First(),
        SelectedFieldName = selectedFieldName
    };

}

<ul class="nav nav-underline">
    <li id="navGrid" class="nav-item">
        <a class="nav-link @(selectedSource == ActionSource.GridTable ? "active" : string.Empty)"
           href="@Url.Action("Index", "Actions", new { elementName = Model.ElementName, source = ActionSource.GridTable })">@StringLocalizer["Grid Table"]</a>
    </li>
    <li id="navGridToolbar" class="nav-item">
        <a class="nav-link @(selectedSource == ActionSource.GridToolbar ? "active" : string.Empty)"
           href="@Url.Action("Index", "Actions", new { elementName = Model.ElementName, source = ActionSource.GridToolbar })">@StringLocalizer["Grid Toolbar"]</a>
    </li>
    <li id="navFormFields" class="nav-item">
        <a class="nav-link @(selectedSource == ActionSource.Field ? "active" : string.Empty)"
           href="@Url.Action("Index", "Actions", new { elementName = Model.ElementName, source = ActionSource.Field })">@StringLocalizer["Form Fields"]</a>
    </li>
    <li id="navFormToolbar" class="nav-item">
        <a class="nav-link @(selectedSource == ActionSource.FormToolbar ? "active" : string.Empty)"
           href="@Url.Action("Index", "Actions", new { elementName = Model.ElementName, source = ActionSource.FormToolbar })">@StringLocalizer["Form Toolbar"]</a>
    </li>
</ul>

<div class="mt-3">
    <partial name="_ActionListTab" model="currentTabModel"/>
</div>


<script type="text/javascript">
    async function loadActionDetails(url, actionKey, source) {
        const key = actionKey || "";
        const safeKey = key.replace(/[^\w-]/g, "\\$&");
        const listSelector = "#sortable-" + source;
        const detailsId = "action-details-" + source;

        document.querySelector(listSelector + " .active")?.classList?.remove("active");
        if (safeKey) {
            document.querySelector(listSelector + " #" + safeKey)?.classList?.add("active");
        }

        SpinnerOverlay.show();
        try {
            const response = await fetch(url, { headers: { "X-Requested-With": "XMLHttpRequest" } });
            const html = await response.text();
            HTMLHelper.setInnerHTML(detailsId, html);
            document.getElementById(detailsId)?.setAttribute("data-loaded", "true");
            listenAllEvents("#" + detailsId);
        } finally {
            SpinnerOverlay.hide();
        }
    }

    function searchActions(source, input) {
        const value = (input.value || "").toLowerCase();
        const listSelector = "#sortable-" + source;
        $(listSelector + " a").filter(function () {
            const textValues = $(this).clone().find(".bootstrap-select, .selectpicker, select").remove().end().text();
            $(this).toggle(textValues.toLowerCase().indexOf(value) > -1);
        });
    }
</script>
