@using JJMasterData.Core.DataDictionary.Models
@using JJMasterData.Core.DataDictionary.Models.Actions
@model JJMasterData.Core.DataDictionary.Models.Actions.PluginFieldAction
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IEnumerable<IPluginHandler> Plugins

@{
    var plugin = (IPluginFieldActionHandler)Plugins.First(p => p.Id == Model.PluginId && p is IPluginFieldActionHandler);

    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "PluginFieldAction";
    ViewData["CopyAction"] = "CopyPluginFieldAction";
    ViewData["FormRouteValues"] = new Dictionary<string, string?> { ["elementName"] = ViewData["ElementName"]?.ToString(), ["source"] = ViewData["ActionSource"]?.ToString(), ["fieldName"] = ViewBag.FieldName?.ToString() };

    FormElement formElement = ViewBag.FormElement;

    var dataItem = new FormElementDataItem
    {
        DataItemType = DataItemType.Manual,
        FirstOption = FirstOptionMode.Choose,
        Items = formElement.Fields.Select(f=>new DataItemValue(f.Name,f.Name)).ToList()
    };
}

@section ActionFormHeader {
    <input asp-for="PluginId" class="form-control" hidden="hidden"/>
}

@section ActionTabs {
    <li id="nav-field-map" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-field-map">
            @StringLocalizer["Field Map"]
        </a>
    </li>
    @if (plugin.ConfigurationFields is not null)
    {
        <li id="nav-plugin" class="nav-item">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-plugin-configuration">
                @StringLocalizer["Plugin Configuration"]
            </a>
        </li>
    }
}

@section ActionTabContent {
    <div id="div-field-map" class="tab-pane fade @BootstrapHelper.Show">
        <div class="container-fluid ">
            <table class="table table-responsive table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        @StringLocalizer["Plugin Key"]
                    </th>
                    <th>
                        @StringLocalizer["Field Name"]
                    </th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var pluginKey in plugin.FieldMapKeys)
                    {
                        <tr>
                            <td>
                                @pluginKey
                            </td>
                            <td>
                                @if (Model.FieldMap.TryGetValue(pluginKey, out var value))
                                {
                                    <combobox name="@pluginKey" form-element-data-item="dataItem" value="value"/>
                                }
                                else
                                {
                                    <combobox name="@pluginKey" form-element-data-item="dataItem"/>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12">
                    <checkbox tooltip="@StringLocalizer["Trigger the action when the value of the field is changed."]" for="TriggerOnChange" layout="Switch" />
                </div>
            </div>
        </div>
    </div>

    @if (plugin.ConfigurationFields is not null)
    {
        <div id="div-plugin-configuration" class="tab-pane fade @BootstrapHelper.Show">
            <div class="container-fluid ">
                <partial name="_PluginConfiguration" model="Model"/>
            </div>
        </div>
    }
}
