@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IOptionsSnapshot<MasterDataWebOptions> Options
@using JJMasterData.Core.DataDictionary.Models.Actions
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Core.DataDictionary.Models.Actions.ScriptAction

@{
    Layout = Options.Value.ModalLayoutPath;
}

@using (Html.BeginMasterDataForm("ScriptAction", "Actions",
    new { elementName = ViewBag.ElementName, context = ViewBag.ContextAction, fieldName = ViewBag.FieldName }))
{
    <ul class="nav nav-underline">
        <li id="nav-general" class="nav-item active"><a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#div-general">@StringLocalizer["General"]</a></li>
        <li id="navScriptAction"  class="nav-item"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divScriptAction">@StringLocalizer["Script Action"]</a></li>
        <li id="nav-advanced" class="nav-item"><a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#div-advanced">@StringLocalizer["Advanced"]</a></li>
    </ul>

    <div class="tab-content" style="margin-top: 1.25rem;">
        <div id="div-general" class="tab-pane fade active @BootstrapHelper.Show">
            <partial name="_NavGeneral" Model="@Model"/>
        </div>

        <div id="divScriptAction" class="tab-pane fade">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-12 required">
                    <label asp-for="OnClientClick" class="form-label"></label>
                    <input asp-for="OnClientClick" class="form-control font-monospace"/>
                </div>
            </div>
  
            @if (ViewBag.ContextAction == ActionSource.Field)
            {
                <alert title="@StringLocalizer["The script will be executed when the user clicks out of the component."]" color="Info" icon="IconType.InfoCircle"/>
            }
        </div>

        <div id="div-advanced" class="tab-pane fade">
            <partial name="_NavAdvanced" Model="@Model"/>
        </div>
    </div>

    <partial name="_Toolbar"/>
}

