@inject IStringLocalizer<MasterDataResources> StringLocalizer
@using JJConsulting.Html.Bootstrap.Models
@model JJMasterData.Core.DataDictionary.Models.Actions.UrlRedirectAction

@{
    Layout = "_FormElementActionLayout";
    ViewData["FormAction"] = "UrlRedirectAction";
    ViewData["CopyAction"] = "CopyUrlRedirectAction";
    ViewData["FormRouteValues"] = new Dictionary<string, string?> { ["elementName"] = ViewData["ElementName"]?.ToString(), ["source"] = ViewData["ActionSource"]?.ToString(), ["fieldName"] = ViewBag.FieldName?.ToString() };
}

@section ActionTabs {
    <li id="navUrlAction" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divUrlAction">
            @StringLocalizer["Url Redirect"]
        </a>
    </li>
}

@section ActionTabContent {
    <div id="divUrlAction" enableviewstate="false" class="tab-pane fade">
        <div class="row">
            <div class="@BootstrapHelper.FormGroup col-sm-6 required">
                <label asp-for="UrlRedirect" class="form-label"></label>
                <tooltip title="@StringLocalizer["This field support runtime values between {}. Use {AppPath} for the base path of the application."]"/>
                <input asp-for="UrlRedirect" class="form-control font-monospace"/>
            </div>
            <div class="@BootstrapHelper.FormGroup col-sm-6">
                <div class="mb-3 col-sm-12">
                    <checkbox for="OpenInNewTab" layout="Switch"/>
                </div>
            </div>
        </div>

        <collapse-panel title="@StringLocalizer["Modal"]" icon="SolidWindowMaximize" expanded-by-default="false">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-6">
                    <checkbox for="IsModal" layout="Switch"/>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-6">
                    <label class="form-label" asp-for="ModalSize">@StringLocalizer["Modal Size"]</label>
                    <select asp-for="ModalSize" class="form-control form-select" asp-items="Html.GetEnumSelectList<ModalSize>()"></select>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-6">
                    <label class="form-label" asp-for="ModalTitle"></label>
                    <input asp-for="ModalTitle" class="form-control"/>
                </div>
            </div>
        </collapse-panel>
    </div>
}
