@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@using JJMasterData.Core.UI
@model JJMasterData.Commons.Data.Entity.Models.ElementIndex

<script type="text/javascript">
    function cmdSave() {
        var frm = $('form');
        $.ajax({
            url: '@Url.Action("Detail", "Indexes", new { elementName = ViewBag.ElementName })',
            data: frm.serialize(),
            type: "POST",
            dataType: "json",
            success: function (response) {
                if (response.success == true) {
                    window.parent.defaultModal.hide();
                    window.parent.location.reload();
                } else {
                    $('#divError').html(response.errorMessage)
                }
            }
        });
    }
</script>

@using (Html.BeginForm())
{
    @Html.Hidden("index", (string)ViewBag.Index)
    <div class="well">
        <div>
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-8">
                    <label class="@BootstrapHelper.Label " for="VisibleExpression" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Index Name"]">@StringLocalizer["IndexName"]</label>
                    @Html.TextBox("indexName", (string)ViewBag.IndexName, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2 required">
                    <label class="@BootstrapHelper.Label " for="IsUnique">@StringLocalizer["IsUnique"]</label>
                    @Html.DropDownListFor(model => model.IsUnique, new[]
                    {
                        new SelectListItem { Text = StringLocalizer["No"], Value = "false" },
                        new SelectListItem { Text = StringLocalizer["Yes"], Value = "true" }
                    },
                        new { @class = "form-control form-select" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2 required">
                    <label class="@BootstrapHelper.Label " for="IsClustered">@StringLocalizer["IsClustered"]</label>
                    @Html.DropDownListFor(model => model.IsClustered, new[]
                    {
                        new SelectListItem { Text = StringLocalizer["No"], Value = "false" },
                        new SelectListItem { Text = StringLocalizer["Yes"], Value = "true" }
                    },
                        new { @class = "form-control form-select" })
                </div>

                <div class="col-sm-12">
                    <h4>@StringLocalizer["Fields"]</h4>
                    <hr/>
                </div>

                <div class="col-sm-12">
                    @{
                        List<SelectListItem> checkBoxList = ViewBag.CheckBoxList;
                        for (int i = 0; i < checkBoxList.Count; i++)
                        {
                            @Html.HiddenFor(c => checkBoxList[i].Value)
                            @Html.HiddenFor(c => checkBoxList[i].Text)
                            @Html.CheckBoxFor(c => checkBoxList[i].Selected)
                            @Html.LabelFor(c => checkBoxList[i].Selected, checkBoxList[i].Text)
                            <br>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="divError" class="col-sm-12">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="@BootstrapHelper.DefaultButton btn-small" onclick="cmdSave()">
                <span class="fa fa-check"></span>
                <span>&nbsp;@StringLocalizer["Save"]</span>
            </button>

            <button type="button" class="@BootstrapHelper.DefaultButton btn-small" onclick="window.parent.defaultModal.hide();">
                <span class="fa fa-times"></span>
                <span>&nbsp;@StringLocalizer["Cancel"]</span>
            </button>
        </div>
    </div>

    <br/>
    <br/>
}