@using JJMasterData.Core.DataDictionary
@using JJMasterData.Web.Extensions
@using JJMasterData.Web.TagHelpers
@model JJMasterData.Web.Areas.MasterData.Models.OptionsViewModel

@{
    Layout = "_MasterDataLayout.Popup";
}

<form>
    <input asp-for="FilePath" hidden="hidden"/>
    <input asp-for="IsFullscreen" hidden="hidden"/>

    @if (Model.IsFullscreen)
    {
        <jj-title title="Application Settings"/>
    }

    @if (Model.PathExists)
    {
        <jj-alert icon="InfoCircle"
                  color="Info"
                  message="@Model.FilePath"
                  title="All changes will be saved in the file located at the path:"/>
    }
    
    @if (Model is { IsConnectionSuccessful:true })
    {
        <jj-alert
            title="Success"
            message="Connection successfully estabilished."
            icon="@IconType.CheckCircle"
            color="@PanelColor.Success"/>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        @Model.ValidationSummary?.GetHtmlString()
    }

    <jj-collapse-panel
        title="Connection String"
        partial="_ConnectionString"
        model="Model"
        icon="@IconType.Connectdevelop"/>

    <jj-collapse-panel
        title="Logger"
        partial="_LoggerOptions"
        model="Model"
        icon="@IconType.File"/>

    <jj-collapse-panel
        title="JJMasterDataOptions"
        partial="_JJMasterDataOptions"
        model="Model"
        icon="@IconType.Cog"/>

    <div class="row">
        <div class="col-sm-12">
            @if (Model.IsFullscreen)
            {
                <a href="/en-us/DataDictionary/" class="@BootstrapHelper.DefaultButton">
                    <span class="fa fa-home"></span>&nbsp; @Translate.Key("Home")
                </a>
            }
            <button class=" @BootstrapHelper.DefaultButton"
                    formaction="@Url.Action("Save", "Options")"
                    type="submit">
                <span class="fa fa-save"></span>&nbsp; @Translate.Key("Save")
            </button>
        </div>
    </div>


</form>