@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.IconViewModel

<style>
    .icon {
        margin-bottom: 5px;
        margin-top: 5px;
    }

        .icon:hover {
            background-color: #808080;
            cursor: pointer;
        }
</style>



<script lang="javascript" type="text/javascript">

function handleFilterChange() {
  const filterText = document.getElementById('filterInput').value;
  filterIcons(filterText);
}

function filterIcons(filterText) {
  const iconDivs = document.querySelectorAll('.icon');

  iconDivs.forEach(function (iconDiv) {
    const idElement = iconDiv.querySelector('span:nth-of-type(2)');
    const nameElement = iconDiv.querySelector('span:nth-of-type(3)');

    const id = idElement.innerText;
    const name = nameElement.innerText;
  
    if (filterText === '' || filterText ==  null || id.includes(filterText) || name.includes(filterText)) {
      iconDiv.style.display = 'block';
    } else {
      iconDiv.style.display = 'none';
    }
  });
}

function saveIcon(selectedIcon, description) {        
    let fieldIcon = window.document.getElementById('@Model.InputId');
    fieldIcon.value = selectedIcon;

    let fieldIconText = window.document.getElementById('@Model.InputId' + "_text");
    fieldIconText.value = description;

    fieldIconText.focus();
    
    iconsModal.hide()
}
</script>


<div class="row">
    <div class="col-sm-2">
        <input placeholder="Filter" oninput="handleFilterChange()" class="form-control" id="filterInput" name="filterInput"/>
    </div>
</div>
<div class="row">
    @foreach (var icon in Enum.GetValues<IconType>())
    {
        <div class="col-sm-2 icon text-center" onclick="saveIcon('@icon.GetId().ToString()', '@icon.GetDescription()');">
            <span class="@icon.GetCssClass() fa-3x"></span>
            <br/>
            <span>@icon.GetId()</span>
            <br/>
            <span>@icon.GetDescription()</span>
        </div>
    }
</div>