@using JJMasterData.Commons.Configuration.Options
@using JJMasterData.Core.UI.Components
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IComponentFactory ComponentFactory
@inject IOptionsSnapshot<MasterDataCommonsOptions> OptionsSnapshot
@model JJMasterData.Core.DataDictionary.Models.ElementBean


@{
    var backUrl = @Url.Action("Index", "Element");
}

<div class="border-bottom mb-3">
    <nav class="mb-2 pb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="@backUrl">
                    <img class="img-responsive md-logo" src="~/_content/JJMasterData.Web/images/JJMasterData.png" alt="JJMasterData">
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="@backUrl">@StringLocalizer["Data Dictionary"]</a>
            </li>
            <li class="breadcrumb-item active">
                @StringLocalizer["Add Element"]
            </li>
        </ol>
    </nav>
</div>

@using (Html.BeginMasterDataForm())
{
  
    <div class="row mb-3">
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-text">
                    <input asp-for="ImportFields"
                           class="form-check-input"
                           type="checkbox"></input>
                    <label class="ms-1 form-check-label" asp-for="ImportFields"></label>
                </span>
                <div class="form-floating">
                    <input
                        maxlength="64"
                        type="text"
                        class="form-control"
                        asp-for="Name">
                    <label asp-for="Name"></label>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-floating">
                <select asp-for="ConnectionId" class="form-select">
                    <option value="">@StringLocalizer["Application Default"]</option>
                    @foreach (var connection in OptionsSnapshot.Value.AdditionalConnectionStrings)
                    {
                    <option value="@connection.Guid">@connection.Name</option>
                    }
                </select>
                <label asp-for="ConnectionId"></label>
            </div>
        </div>

    </div>
    
    <partial name="_DatabaseWarning"/>
    
    <div class="col-sm-12">
        @Html.Raw(ViewBag.Error)
    </div>

    <div class="row">
        <div class="col-sm-6">
            <link-button icon="SolidXmark" text="Cancel" type="@LinkButtonType.Button" on-client-click="location.href='@backUrl'"/>
            <link-button icon="Plus" text="Add" type="LinkButtonType.Submit" color="Primary"/>
        </div>
    </div>
}

@section Scripts
{
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(m=>Model.Name)").keyup(function () {
                if ($(this).val().length > 30)
                    $("#div-warning").css("display", "");
                else
                    $("#div-warning").css("display", "none");
            });
        });
    </script>
}