@using JJMasterData.Core.UI.Components
@using JJMasterData.Core.UI
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IComponentFactory ComponentFactory
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.AddElementViewModel

<jj-title title="@ComponentFactory.Html.Image.CreateMasterDataLogo().GetHtml()" subtitle="@StringLocalizer["Add Element"]"/>

@using (Html.BeginForm())
{
  
    <div class="row">
        <div class="@BootstrapHelper.FormGroup col-sm-12">
            <div class="input-group">
                <span class="input-group-text">
                    <checkbox for="ImportFields" class="mt-0" value="true" label="Import fields"/>
                </span>
                <div class="form-floating">
                    <input
                        maxlength="64"
                        type="text"
                        class="form-control"
                        asp-for="Name">
                    <label asp-for="Name"></label>
                </div>
            </div>
        </div>
    </div>
    
    <partial name="_DatabaseWarning"/>
    
    <div class="col-sm-12">
        @Html.Raw(ViewBag.Error)
    </div>

    <div class="row">
        <div class="col-sm-6">
            <link-button icon="Times" text="@StringLocalizer["Cancel"]" type="@LinkButtonType.Button" on-client-click="location.href='@(Url.Action("Index")!)'"/>
            <link-button icon="Plus" text="@StringLocalizer["Add"]" type="LinkButtonType.Submit"/>
        </div>
    </div>
}

@section Scripts
{
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(m=>Model.Name)").keyup(function () {
                if ($(this).val().length > 30)
                    $("#div-warning").css("display", "");
                else
                    $("#div-warning").css("display", "none");
            });
        });
    </script>
}