@using JJMasterData.Commons.Configuration.Options
@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IOptionsSnapshot<MasterDataCommonsOptions> OptionsSnapshot
@inject JJMasterDataLogo MasterDataLogo
@model JJMasterData.Core.DataDictionary.Models.ElementBean

@{
    var backUrl = Url.Action("Index", "Element")!;
    List<BreadcrumbItem> breadcrumbs = [
        new(MasterDataLogo.GetHtmlBuilder(), backUrl),
        new(StringLocalizer["Data Dictionary"], backUrl),  
        new(StringLocalizer["Add Element"])
    ];
}

<breadcrumb items="breadcrumbs"/>

@using (Html.BeginMasterDataForm())
{
  
    <div class="row mb-3">
        <div class="col-sm-6">
            <div class="input-group d-flex">
                <span class="input-group-text" style="flex:2">
                    <input asp-for="ImportFields"
                           class="form-check-input"
                           type="checkbox"></input>
                    <label class="ms-1 form-check-label" asp-for="ImportFields"></label>
                </span>
                <div class="form-floating" style="flex:2">
                    <input
                        maxlength="64"
                        type="text"
                        class="form-control"
                        asp-for="Schema">
                    <label asp-for="Schema"></label>
                </div>
                <div class="form-floating"  style="flex:8">
                    <input
                        maxlength="64"
                        type="text"
                        class="form-control"
                        asp-for="Name">
                    <label asp-for="Name"></label>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-floating">
                <select asp-for="ConnectionId" class="form-select">
                    <option value="">@StringLocalizer["Application Default"]</option>
                    @foreach (var connection in OptionsSnapshot.Value.AdditionalConnectionStrings)
                    {
                    <option value="@connection.Guid">@connection.Name</option>
                    }
                </select>
                <label asp-for="ConnectionId"></label>
            </div>
        </div>

    </div>
    
    <partial name="_DatabaseWarning"/>
    
    <div class="col-sm-12">
        @Html.Raw(ViewBag.Error)
    </div>

    <div class="row">
        <div class="col-sm-6">
            <link-button icon="SolidXmark" text="@StringLocalizer["Cancel"]" type="@LinkButtonType.Button" on-client-click="location.href='@backUrl'"/>
            <link-button icon="Plus" text="@StringLocalizer["Add"]" type="LinkButtonType.Submit" color="Primary"/>
        </div>
    </div>
}

@section Scripts
{
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(m=>Model.Name)").keyup(function () {
                if ($(this).val().length > 30)
                    $("#div-warning").css("display", "");
                else
                    $("#div-warning").css("display", "none");
            });
        });
    </script>
}