@using JJMasterData.Core.Web
@using JJMasterData.Core.Web.Factories
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer
@inject IComponentFactory ComponentFactory

<div class="@BootstrapHelper.PageHeader">
    <h1>
        @Html.Raw(ComponentFactory.Html.Image.CreateMasterDataLogo().GetHtml())
        <small>@StringLocalizer["Add Dictionary"]</small>
    </h1>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="@BootstrapHelper.FormGroup col-sm-12 required">
            <label class="@BootstrapHelper.Label" for="tableName" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Required field"]">@StringLocalizer["Table Name"]</label>
            @Html.TextBox("tableName", "", new { @class = "form-control", maxlength = "64", placeholder = StringLocalizer["Enter a table or view name"] })
        </div>
        <div class="@BootstrapHelper.FormGroup col-sm-12 ">
            @Html.CheckBox("importFields", true)
            <label for="importFields">@StringLocalizer["Import fields"]</label>
        </div>
    </div>
    
    <partial name="_DatabaseWarning"/>
    
    <div class="col-sm-12">
        @Html.Raw(ViewBag.Error)
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="@BootstrapHelper.DefaultButton btn-small" onclick="location.href='@Url.Action("Index")'">
                <span class="fa fa-arrow-left"></span>
                <span>&nbsp;@StringLocalizer["Back"]</span>
            </button>
            <button id="btnNext" class="@BootstrapHelper.DefaultButton" type="submit">
                <span class="fa fa-forward"></span>
                @StringLocalizer["Next"]
            </button>
        </div>
    </div>
}

@section Scripts
{
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#txtTableName").keyup(function () {
                if ($(this).val().length > 30)
                    $("#divWarning").css("display", "");
                else
                    $("#divWarning").css("display", "none");
            });
        });
    </script>
}