@using JJMasterData.Core.UI.Components
@inject IStringLocalizer<MasterDataResources> StringLocalizer
@inject IComponentFactory ComponentFactory
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.DuplicateElementViewModel

<jj-title 
    title="@ComponentFactory.Html.Image.CreateMasterDataLogo().GetHtml()" 
    subtitle="@StringLocalizer["Duplicate Element"]"/>

@using (Html.BeginMasterDataForm())
{
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input
                        maxlength="64"
                        type="text"
                        class="form-control"
                        asp-for="OriginalElementName">
                    <label asp-for="OriginalElementName"></label>
                </div>
                  <div class="form-floating">
                      <input
                          maxlength="64"
                          type="text"
                          class="form-control"
                          asp-for="NewElementName">
                      <label asp-for="NewElementName"></label>
                  </div>
            </div>
        </div>
    </div>

    <partial name="_DatabaseWarning"/>

    <div class="col-sm-12">
        <div id="divError">
            @Html.Raw(ViewBag.Error)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <link-button icon="Times" text="Cancel" type="@LinkButtonType.Button" on-client-click="location.href='@(Url.Action("Index")!)'"/>
            <link-button icon="Clone" text="Duplicate" type="LinkButtonType.Submit" color="Primary"/>
        </div>
    </div>
}

@section Scripts
{
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(m=>Model.NewElementName)").keyup(function () {
                if ($(this).val().length > 30)
                    $("#div-warning").css("display", "");
                else
                    $("#div-warning").css("display", "none");
            });
        });
    </script>
}