@using JJMasterData.Commons.Data.Entity
@using JJMasterData.Core.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.ApiViewModel


@{
    ViewData["Title"] = $"{Model.DictionaryName} - API";
}

<partial name="_Menu" model="Model"/>

<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>



@section Scripts{
    <script type="text/javascript">
    
        function SetVisible(value) {
            if (value === "true")
                $("#divMode").css('visibility', 'visible');
            else
                $("#divMode").css('visibility', 'hidden');
        }
    </script>
}

@using (Html.BeginForm("Edit", "Api", FormMethod.Post))
{
    <input asp-for="MenuId" hidden="hidden"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="@BootstrapHelper.DefaultButton btn-small">
                <span class="fa fa-check"></span>
                <span>&nbsp;Save</span>
            </button>
            <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="location.href='@Url.Action("Index", new { dictionaryName = Model.DictionaryName })'">
                <span class="fa fa-times">
                </span>
                <span>&nbsp;@StringLocalizer["Cancel"]</span>
            </button>
        </div>
    </div>

</div>
    <br>

    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(Model.ValidationSummary?.GetHtml())
        </div>
    </div>

    <div class="@BootstrapHelper.GetPanel("default")">
        <!-- Start Form -->
        <div class="@BootstrapHelper.PanelBody">
            <table class="table">
                <caption>@StringLocalizer["Enable or disable API operations"]</caption>
                <thead>
                    <tr>
                        <th class="jjselect">
                            <input type="checkbox" id="CheckAll" @BootstrapHelper.GetDataToggle("tooltip") title="Enable or Disable All" onclick="$('td.jjselect input').not(':disabled').prop('checked', $('#CheckAll').is(':checked')).change();" />
                        </th>
                        <th style="width: 90px">@StringLocalizer["Verb"]</th>
                        <th>@StringLocalizer["Description"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-info jjgrid-action">
                        <td class="jjselect">
                            @Html.CheckBoxFor(model => Model.MetadataApiOptions.EnableGetAll)
                        </td>
                        <td>
                            <label for="EnableGetAll">@StringLocalizer["GET"]</label>
                        </td>
                        <td>
                            <label for="EnableGetAll">@StringLocalizer["Get all records"]</label>
                        </td>
                    </tr>
                    <tr class="text-info jjgrid-action">
                        <td class="jjselect">
                            @Html.CheckBoxFor(model => Model.MetadataApiOptions.EnableGetDetail)
                        </td>
                        <td>
                            <label for="EnableGetDetail">@StringLocalizer["GET"]</label>
                        </td>
                        <td>
                            <label for="EnableGetDetail">@StringLocalizer["Get a record detail"]</label>
                        </td>
                    </tr>
                    <tr class="text-success jjgrid-action">
                        <td class="jjselect">
                            @Html.CheckBoxFor(model => Model.MetadataApiOptions.EnableAdd)
                        </td>
                        <td>
                            <label for="EnableAdd">@StringLocalizer["POST"]</label>
                        </td>
                        <td>
                            <label for="EnableAdd">@StringLocalizer["Add new record"]</label>
                        </td>
                    </tr>
                    <tr class="text-primary jjgrid-action">
                        <td class="jjselect">
                            @Html.CheckBoxFor(model => Model.MetadataApiOptions.EnableUpdate)
                        </td>
                        <td>
                            <label for="EnableUpdate">@StringLocalizer["PUT"]</label>
                        </td>
                        <td>
                            <label for="EnableUpdate">@StringLocalizer["Update records"]</label>
                        </td>
                    </tr>
                    <tr class="text-primary jjgrid-action">
                        <td class="jjselect">
                            @Html.CheckBoxFor(model => Model.MetadataApiOptions.EnableUpdatePart)
                        </td>
                        <td>
                            <label for="EnableUpdatePart">@StringLocalizer["PATCH"]</label>
                        </td>
                        <td>
                            <label for="EnableUpdatePart">@StringLocalizer["Update some especific fields"]</label>
                        </td>
                    </tr>
                    <tr class="text-danger jjgrid-action">
                        <td class="jjselect">
                            @Html.CheckBoxFor(model => Model.MetadataApiOptions.EnableDel)
                        </td>
                        <td>
                            <label for="EnableDel">@StringLocalizer["DEL"]</label>
                        </td>
                        <td>
                            <label for="EnableDel">@StringLocalizer["Delete a record"]</label>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="container-fluid">
                <div class="row">
                    <div class="@BootstrapHelper.FormGroup col-sm-5">
                        <label class="@BootstrapHelper.Label " for="ApplyUserIdOn" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Json return format"]">@StringLocalizer["ApplyUserIdOn"]</label>
                        @Html.DropDownListFor(model => Model.MetadataApiOptions.ApplyUserIdOn, new SelectList(Model.Fields, "Name", "Name"), StringLocalizer["(No Apply)"], new { @class = "form-control form-select" })

                        <span id="helpBlock" class="help-block">@StringLocalizer["Aways apply UserId (from login) as filter and default value on set."]</span>
                    </div>
                    <div class="@BootstrapHelper.FormGroup col-sm-2">
                        <label class="@BootstrapHelper.Label " for="FormatType" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Json return format"]">@StringLocalizer["JsonFormat"]</label>
                        <select asp-for="MetadataApiOptions.FormatType" class = "form-control form-select" asp-items="Html.GetEnumSelectList<ApiJsonFormat>()"></select>
                    </div>
                    <div class="@BootstrapHelper.FormGroup col-sm-2 required">
                        <label class="@BootstrapHelper.Label " for="isSync" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Used in sync?"]">@StringLocalizer["Sync"]</label>
                        @Html.DropDownList("isSync", new[] {
                            new SelectListItem {Text = StringLocalizer["Yes"], Value = "true"},
                            new SelectListItem {Text = StringLocalizer["No"], Value = "false"}
                        }, new { @class = "form-control", onchange = "SetVisible(this.value)" })
                    </div>
                    <div class="@BootstrapHelper.FormGroup col-sm-3" id="divMode" style="visibility:@(Model.IsSync ? "visible":"hidden")">
                        <label class="@BootstrapHelper.Label " for="Mode" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Sync Mode"]">@StringLocalizer["Mode"]</label>
                        <select asp-for="Mode" class="form-control form-select" asp-items="@Html.GetEnumSelectList<SyncMode>()"></select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />
    <br />


}

