@using JJMasterData.Core.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.ApiViewModel

@{
    ViewData["Title"] = $"{Model.ElementName} - {StringLocalizer["API"]}";
}

<partial name="_Menu"/>

<style>
    input[type=checkbox] {
        margin: 2px 0 0;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <button type="button" onclick="location.href='@Url.Action("Edit",new {elementName = Model.ElementName})'" class="@BootstrapHelper.DefaultButton btn-small">
            <span class="fa fa-pencil"></span>
            <span>&nbsp;@StringLocalizer["Edit"]</span>
        </button>
    </div>
</div>

<br>

<div class="@BootstrapHelper.GetPanel("default")">
    <!-- Start Form -->
    <div class="@BootstrapHelper.PanelBody">
        <table class="table">
            <caption>@StringLocalizer["Enable or disable HTTP operations"]</caption>
            <thead>
                <tr>
                    <th class="jj-checkbox"></th>
                    <th style="width: 90px">@StringLocalizer["Verb"]</th>
                    <th>@StringLocalizer["Description"]</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-info jjgrid-action">
                    <td class="jj-checkbox">
                        @Html.CheckBox("EnableGetAll", Model.MetadataApiOptions.EnableGetAll, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableGetAll">@StringLocalizer["GET"]</label>
                    </td>
                    <td>
                        <label for="EnableGetAll">@StringLocalizer["Get all records"]</label>
                    </td>
                </tr>
                <tr class="text-info jjgrid-action">
                    <td class="jj-checkbox">
                        @Html.CheckBox("EnableGetDetail", Model.MetadataApiOptions.EnableGetDetail, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableGetDetail">@StringLocalizer["GET"]</label>
                    </td>
                    <td>
                        <label for="EnableGetDetail">@StringLocalizer["Get a record detail"]</label>
                    </td>
                </tr>
                <tr class="text-success jjgrid-action">
                    <td class="jj-checkbox">
                        @Html.CheckBox("EnableAdd", Model.MetadataApiOptions.EnableAdd, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableAdd">@StringLocalizer["POST"]</label>
                    </td>
                    <td>
                        <label for="EnableAdd">@StringLocalizer["Add new record"]</label>
                    </td>
                </tr>
                <tr class="text-primary jjgrid-action">
                    <td class="jj-checkbox">
                        @Html.CheckBox("EnableUpdate", Model.MetadataApiOptions.EnableUpdate, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableUpdate">@StringLocalizer["PUT"]</label>
                    </td>
                    <td>
                        <label for="EnableUpdate">@StringLocalizer["Update records"]</label>
                    </td>
                </tr>
                <tr class="text-primary jjgrid-action">
                    <td class="jj-checkbox">
                        @Html.CheckBox("EnableUpdatePart", Model.MetadataApiOptions.EnableUpdatePart, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableUpdatePart">@StringLocalizer["PATCH"]</label>
                    </td>
                    <td>
                        <label for="EnableUpdatePart">@StringLocalizer["Update some especific fields"]</label>
                    </td>
                </tr>
                <tr class="text-danger jjgrid-action">
                    <td class="jj-checkbox">
                        @Html.CheckBox("EnableDel", Model.MetadataApiOptions.EnableDel, new { disabled = "disabled" })
                    </td>
                    <td>
                        <label for="EnableDel">@StringLocalizer["DEL"]</label>
                    </td>
                    <td>
                        <label for="EnableDel">@StringLocalizer["Delete a record"]</label>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="container-fluid">
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-5">
                    <label class="@BootstrapHelper.Label " for="ApplyUserIdOn" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Json return format"]">@StringLocalizer["ApplyUserIdOn"]</label>
                    @Html.DropDownList("ApplyUserIdOn", new[] {
                        new SelectListItem { Text = Model.MetadataApiOptions.ApplyUserIdOn, Value = Model.MetadataApiOptions.ApplyUserIdOn }
                    }, "(No Apply)", new { @class = "form-control", disabled = "disabled" })
                    <span id="helpBlock" class="help-block">@StringLocalizer["Aways apply UserId (from login) as filter and default value on set."]</span>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2">
                    <label class="@BootstrapHelper.Label " for="AFormatType" @BootstrapHelper.GetDataToggle("tooltip") title="@StringLocalizer["Json return format"]">@StringLocalizer["JsonFormat"]</label>
                    @Html.TextBox("FormatType", Model.MetadataApiOptions.FormatType, new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2 required">
                    <label class="@BootstrapHelper.Label " for="IsSync" @BootstrapHelper.GetDataToggle("tooltip") title="Utilizado no sincronismo?">@StringLocalizer["Sync"]</label>
                    @Html.TextBox("IsSync", Model.IsSync ? StringLocalizer["Yes"] : StringLocalizer["No"], new { @class = "form-control", disabled = "disabled" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-3" id="divMode" style="visibility:@(Model.IsSync ? "visible":"hidden")">
                    <label class="@BootstrapHelper.Label " for="Mode" @BootstrapHelper.GetDataToggle("tooltip") title="Modo do sincronismo">@StringLocalizer["Mode"]</label>
                    @Html.TextBox("Mode", Model.Mode, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

