@using JJMasterData.Core.Web.Components
@using JJMasterData.Web.TagHelpers
@inject IStringLocalizer<JJMasterDataResources> StringLocalizer

@model ErrorViewModel

<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>

<div class="d-flex align-items-center justify-content-center vh-100 center">
    <div class="jumbotron vw-100 m-5 p-5 bg-light border rounded-3 text-center">
        <div class="col-sm-12 text-danger">
                <span class="fa fa-times-circle fa-5x"></span>
            </div>
            <h1 class="display-1 fw-bold">@Model.StatusCode</h1>
            <p class="fs-3">
                <span class="text-danger">@StringLocalizer["Error"]!</span> @Model.Message
            </p>
            <p class="lead">
                @Model.Exception
            </p>
            @if (Model is { IsProduction: false, StackTrace: not null })
            {
                <div class="container">
                    <div class="col-sm-12">
                        <jj-collapse-panel name="stacktrace" title="Stacktrace" expanded-by-default="true">
                            <pre>@Model.StackTrace</pre>
                        </jj-collapse-panel>
                    </div>
                </div>
                <br/>
            }
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jj-link-button onclick="history.back()"
                                        type="LinkButtonType.Button"
                                        icon="Backward"
                                        text="@StringLocalizer["Back"]"/>
                    </div>
                </div>
            </div>
    </div>
</div>
