@inject IStringLocalizer<MasterDataResources> StringLocalizer
@using JJMasterData.Commons.Localization
@using JJMasterData.Core.UI.Components
@using JJMasterData.Web.TagHelpers
@using Microsoft.Extensions.Localization
@model JJMasterData.Web.Models.ErrorViewModel

<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>

<div class="d-flex align-items-center justify-content-center vh-100 center">
    <div class="jumbotron vw-100 m-5 p-5 bg-light border rounded-3 text-center">
        <div class="col-sm-12 text-danger">
                <span class="fa fa-times-circle fa-5x"></span>
            </div>
            <h1 class="display-1 fw-bold">@Model.StatusCode</h1>
            <p class="fs-3">
                <span class="text-danger">@StringLocalizer["Error"]!</span> @Model.Message
            </p>
            <p class="lead">
                @Model.Exception
            </p>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <link-button onclick="history.back()"
                                        type="LinkButtonType.Button"
                                        icon="Backward"
                                        text="@StringLocalizer["Back"]"/>
                    </div>
                </div>
            </div>
    </div>
</div>
