@using JJMasterData.Web.Areas.DataDictionary.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using JJMasterData.Core.Web
@using JJMasterData.Commons.Localization
@using JJMasterData.Commons.Data.Entity

@model RelationshipsLayoutDetailsViewModel

@section Scripts{
    <script type="text/javascript">
        function saveForm() {
            const form = document.querySelector('form');
            fetch('@Url.Action("SaveRelationshipLayout", "Relationships")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(new FormData(form))
            })
            .then(response => response.json())
            .then(data => {
                if (data.success === true) {
                    window.parent.popup.hide();
                } else {
                    document.querySelector('#divError').innerHTML = data.errorMessage;
                }
            })
            .catch(error => {
                document.querySelector('#divError').innerHTML = error;
            });
        }
    </script>
}


<ul class="nav nav-tabs">
    <li id="navGeneral" class="nav-item active">
        <a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#divGeneral">@Translate.Key("General")</a>
    </li>
    @if (!Model.IsParent)
    {
        <li id="navBehavior" class="nav-item">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divBehavior">@Translate.Key("Behavior")</a>
        </li>
    }
    <li id="navAdvanced" class="nav-item">
        <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divAdvanced">@Translate.Key("Advanced")</a>
    </li>
</ul>

@using (Html.BeginForm())
{
    <input asp-for="DictionaryName" hidden/>
    <input asp-for="MenuId" hidden/>
    <input asp-for="IsParent" hidden/>
    <input asp-for="Id" hidden/>

    <div class="tab-content" style="margin-top: 20px;">
        <div id="divGeneral" class="tab-pane fade in active @(BootstrapHelper.Version > 3 ? "show" : string.Empty)">
            <partial name="../Panel/_DetailData" model="Model.Panel"/>
        </div>
        
        @if (!Model.IsParent)
        {
            <div id="divBehavior" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-6">
                        <label asp-for="ViewType">@Translate.Key("View Type")</label>
                        <select class="form-control form-select" asp-for="ViewType" asp-items="Html.GetEnumSelectList<RelationshipViewType>()"></select>
                    </div>
                    <div style="margin-top: 5px"  class="col-sm-12">
                        <jj-alert color="Info" title="@Translate.Key("Help")" icon="IconType.InfoCircle">
                            <ul>
                                <li>@Translate.Key("None -")</li>
                                <li>@Translate.Key("List -")</li>
                                <li>@Translate.Key("View -")</li>
                                <li>@Translate.Key("Update -")</li>
                            </ul>
                        </jj-alert>
                    </div>
                </div>
            </div>
        }


        <div id="divAdvanced" class="tab-pane fade">
            <partial name="../Panel/_DetailAdvanced" model="Model.Panel"/>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="saveForm()">
                    <span class="fa fa-check"></span>
                    <span>&nbsp;@Translate.Key("Save")</span>
                </button>

                <button type="button" class="@BootstrapHelper.DefaultButton btn-small" onclick="window.parent.popup.hide();">
                    <span class="fa fa-times"></span>
                    <span>&nbsp;@Translate.Key("Cancel")</span>
                </button>
            </div>
        </div>

    </div>
}