@using JJMasterData.Commons.Localization
@using JJMasterData.Core.Web
@using JJMasterData.Core.Web.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.RelationshipsDetailsViewModel

@section Scripts{
    <script type="text/javascript">
        function saveForm() {
            const form = document.querySelector('form');
            fetch('@Url.Action("SaveRelation", "Relationships")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(new FormData(form))
            })
            .then(response => response.json())
            .then(data => {
                if (data.success === true) {
                    window.parent.popup.hide();
                    window.parent.location.reload();
                } else {
                    document.querySelector('#divError').innerHTML = data.errorMessage;
                }
            })
            .catch(error => {
                document.querySelector('#divError').innerHTML = error;
            });
        }
    
        function populateFkColumn() {
          messageWait.show();
          document.querySelector('form').action = '@Url.Action("Detail", "Relationships")';
          document.querySelector('form').submit();
        }
    </script>
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.DictionaryName)
    @Html.HiddenFor(m => m.SelectedIndex)
    @Html.HiddenFor(m => m.MenuId)

    <div class="well">
        <div>
            <div class="row">
                <div class="@BootstrapHelper.FormGroup col-sm-8">
                    <label asp-for="Relationship.ChildElement"
                           class="@BootstrapHelper.Label"
                           data-bs-toggle="tooltip" data-toggle="tooltip"
                           title="@Translate.Key("Child element name")">
                        @Translate.Key("ChildElement")
                    </label>
                    <select asp-for="Relationship.ChildElement"
                            onchange="populateFkColumn()"
                            class="form-control"
                            asp-items="Model.ElementsSelectList">
                    </select>
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2 required">
                    <label asp-for="Relationship.UpdateOnCascade" class="@BootstrapHelper.Label "></label>
                    @Html.DropDownListFor(model => model.Relationship.UpdateOnCascade, new[]
                    {
                        new SelectListItem { Text = Translate.Key("No"), Value = "false" },
                        new SelectListItem { Text = Translate.Key("Yes"), Value = "true" }
                    }, new { @class = "form-control form-select" })
                </div>
                <div class="@BootstrapHelper.FormGroup col-sm-2 required">
                    <label asp-for="Relationship.DeleteOnCascade" class="@BootstrapHelper.Label "></label>
                    @Html.DropDownListFor(model => model.Relationship.DeleteOnCascade, new[]
                    {
                        new SelectListItem { Text = Translate.Key("No"), Value = "false" },
                        new SelectListItem { Text = Translate.Key("Yes"), Value = "true" }
                    }, new { @class = "form-control form-select" })
                </div>
            </div>
        </div>
    </div>

    <jj-title title="@Translate.Key("Relationship")" size="HeadingSize.H4"/>

    <div class="row">
        <div class="@BootstrapHelper.FormGroup col-sm-4 required">
            <label asp-for="AddPrimaryKeyName" class="@BootstrapHelper.Label" data-bs-toggle="tooltip" data-toggle="tooltip"></label>
            <select asp-for="AddPrimaryKeyName"
                    class="form-control form-select"
                    asp-items="Model.PrimaryKeysSelectList">
            </select>
        </div>

        <div class="@BootstrapHelper.FormGroup col-sm-5 required">
            <label asp-for="AddForeignKeyName" class="@BootstrapHelper.Label" data-bs-toggle="tooltip" data-toggle="tooltip"></label>
            <select asp-for="AddForeignKeyName"
                    class="form-control form-select"
                    asp-items="Model.ForeignKeysSelectList">
            </select>
        </div>


        <div class="col-sm-12">
            @Html.Raw(Model.ValidationSummary?.GetHtml())
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <button id="btnAddRelation" type="submit" class="@BootstrapHelper.DefaultButton" formaction="@Url.Action("CreateRelation", "Relationships")">
                <span class="fa fa-plus-square-o"></span>
                &nbsp;@Translate.Key("Add Relation")
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">@Translate.Key("Order")</th>
                    <th scope="col">@Translate.Key("Primary Key")</th>
                    <th scope="col">@Translate.Key("Foreign Key")</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @if (Model.Relationship.Columns.Count > 0)
                {
                    int index = 0;
                    foreach (var item in Model.Relationship.Columns)
                    {
                        <tr>
                            <td>@index</td>
                            <td>
                                @item.PkColumn
                                @Html.HiddenFor(model => model.Relationship.Columns[index].PkColumn)
                            </td>

                            <td>
                                @item.FkColumn
                                @Html.HiddenFor(model => model.Relationship.Columns[index].FkColumn)
                            </td>
                            <td align="center" style="width:60px;" valign="middle">
                                <button type="submit" @BootstrapHelper.GetDataToggle("tooltip") title=""
                                        formaction="@Url.Action("DeleteRelation", "Relationships", new { columnIndex = index })"
                                        class="btn btn-link" data-original-title="@Translate.Key("Delete")">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                        index++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">
                            @Translate.Key("No data records found")
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>


    <div class="row">
        <div id="divError" class="col-sm-12">

        </div>
    </div>

    <br/>
    <div class="row">
        <div class="col-sm-12">
            <button class="@BootstrapHelper.DefaultButton btn-small" type="button" onclick="saveForm()">
                <span class="fa fa-check"></span>
                <span>&nbsp;@Translate.Key("Save")</span>
            </button>

            <button type="button" class="@BootstrapHelper.DefaultButton btn-small" onclick="window.parent.popup.hide();">
                <span class="fa fa-times"></span>
                <span>&nbsp;@Translate.Key("Cancel")</span>
            </button>
        </div>
    </div>

    <br/>
    <br/>
}