@using JJMasterData.Web.Areas.DataDictionary.Models.ViewModels
@using JJMasterData.Commons.Localization
@using JJMasterData.Core.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RelationshipsListViewModel

<partial name="_Menu" model="Model"/>


@using (Html.BeginForm())
{
    <ul class="nav nav-tabs">
        <li id="navGrid" class="nav-item active">
            <a class="nav-link active" @BootstrapHelper.GetDataToggle("tab") href="#divEntities">@Translate.Key("Entities")</a>
        </li>
        <li id="navToolbar" class="nav-item">
            <a class="nav-link" @BootstrapHelper.GetDataToggle("tab") href="#divLayout">@Translate.Key("Layout")</a>
        </li>
    </ul>

    <div class="tab-content" style="margin-top: 20px;">

        <div id="divEntities" class="tab-pane fade in active @(BootstrapHelper.Version > 3 ? "show" : string.Empty)">
           <partial name="_RelationshipsTable" model="Model"/>
        </div>

        <div id="divLayout" class="tab-pane fade">

        </div>
    </div>
}