@model AboutViewModel;
@inject IStringLocalizer<MasterDataResources> Localizer

@{
    ViewData["Title"] = Localizer["About"];
}

<div class="col-sm-12 text-center">
    <img class="mb-5 img-responsive md-logo" src="~/_content/JJMasterData.Web/images/JJMasterDataLogoVertical.png" alt="JJMasterData"/>
</div>
<div class="col-xs-12">
    <collapse-panel title="@Localizer["Executing Assembly"]" icon="SolidCircleInfo" expanded-by-default="true">
        <div class="col-xs-12">
            <b>@Model.ExecutingAssemblyProduct</b>
            <br/>
            @Localizer["Version"]: @Model.ExecutingAssemblyVersion
            <br/>
            @Localizer["Last Write"]: @Model.ExecutingAssemblyLastWriteTime  
            <br/>
            @Model.ExecutingAssemblyCopyright
        </div>
    </collapse-panel>
</div>

<div class="col-xs-12">
    <hr />
    <span class="text-warning fa fa-exclamation-triangle"></span>
    <span class="small">
        @Localizer["Warning: This software is protected by the GNU license."]
        @Localizer["For more information, please check our"] <a href="https://github.com/JJConsulting/JJMasterData/blob/main/LICENSE">@Localizer["LICENSE"].</a>
    </span>
</div>