@model AboutViewModel;
@inject IStringLocalizer<MasterDataResources> Localizer

@{
    ViewData["Title"] = Localizer["About"];
}

<div class="col-sm-12 text-center">
    <img class="mb-5" src="~/_content/JJMasterData.Web/images/JJMasterDataLogoVertical.png" alt="JJMasterData"/>
</div>
<div class="col-xs-12">
    <collapse-panel title="@Localizer["Executing Assembly"]" icon="SolidCircleInfo" expanded-by-default="true">
        <div class="col-xs-12">
            <b>@Model.ExecutingAssemblyProduct</b>
            <br/>
            Version: @Model.ExecutingAssemblyVersion
            <br/>
            Last Write: @Model.ExecutingAssemblyLastWriteTime  
            <br/>
            @Model.ExecutingAssemblyCopyright
        </div>
    </collapse-panel>
    <collapse-panel icon="PuzzlePiece" title="@Localizer["Dependencies"]" expanded-by-default="false">
        <ul class="list-group">
            @foreach (var assembly in Model.Dependencies!)
            {
                <li class="list-group-item">
                    <span>@assembly.GetName().Name</span>
                    <br />
                    <span>Version: @assembly.GetName().Version?.ToString()</span>
                    <br />
                </li>
            }
        </ul>
    </collapse-panel>
</div>

<div class="col-xs-12">
    <hr />
    <span class="text-warning fa fa-exclamation-triangle"></span>
    <span class="small">
        @Localizer["Warning: This software is protected by the GNU license."]
        @Localizer["For more information, please check our"] <a href="https://github.com/JJConsulting/JJMasterData/blob/main/LICENSE">@Localizer["LICENSE"].</a>
    </span>
</div>