@using JJMasterData.Core.Web
@model JJMasterData.Web.Areas.DataDictionary.Models.ViewModels.AboutViewModel;
@inject IStringLocalizer<JJMasterDataResources> Localizer

@{
    Layout = "_MasterDataLayout.Popup";
    ViewData["Title"] = "About";
}

<div class="col-sm-12 text-center">
    <img class="mb-5" src="~/_content/JJMasterData.Web/images/JJMasterDataLogoVertical.png" alt="JJMasterData"/>
</div>
<div class="col-xs-12">
    <div class="@BootstrapHelper.GetPanel("default")">
        <div class="@BootstrapHelper.GetPanelHeading("default")">
            <h5>
                <span class="text-info fa fa-info-circle"></span>
                &nbsp;@Localizer["System Version"]
            </h5>
        </div>
        <div class="@BootstrapHelper.PanelBody">
            <div class="@(BootstrapHelper.Version != 3 ? "container-fluid" : string.Empty)">
                <div class="row">
                    <div class="col-xs-12">
                        <b>@Model.ExecutingAssemblyProduct</b>
                        <br/>
                        Version: @Model.ExecutingAssemblyVersion
                        <br/>
                        @Model.ExecutingAssemblyCopyright
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group">

        @foreach (var assembly in Model.Dependencies!)
        {
            <li class="list-group-item">
                <span>@assembly.GetName().Name</span>
                <br />
                <span>Version: @assembly.GetName().Version?.ToString()</span>
                <br />
            </li>
        }
        <li class="list-group-item">
            <span>Bootstrap</span>
            <br />
            <span>Version: @Model.BootstrapVersion</span>
        </li>
    </ul>
</div>

<div class="col-xs-12">
    <hr />
    <span class="text-warning fa fa-exclamation-triangle"></span>
    <span class="small">
        @Localizer["Warning: This software is protected by the GPL license."]
        @Localizer["For more information, please check our "] <a href="https://github.com/JJConsulting/JJMasterData/blob/main/LICENSE">@Localizer["LICENSE"].</a>
    </span>
</div>